[2022-10-03 14:19] lufa23 commented on #452
hey, we are looking into it

[2022-10-03 14:26] Stellar-tickets commented on #453
Wu: Thanks, lufa23

[2022-10-03 14:27] Stellar-tickets commented on #436
woodearthearth:

[2022-10-03 14:27] Stellar-tickets commented on #453
Wu: No, I use UI, and have no options to try add liquidity symmetrically/ or asymmetrical

[2022-10-03 16:05] Stellar-tickets commented on #455
cryptomasterflex: hey sending now...

[2022-10-03 16:08] Stellar-tickets commented on #455
cryptomasterflex: C2E7AF6ED224CAED7BD17DA3014F2A9982AB67179CABF52CDB9318035E04EF82

[2022-10-03 16:09] Stellar-tickets commented on #455
cryptomasterflex:

[2022-10-03 16:13] Stellar-tickets commented on #455
cryptomasterflex: seems to be happening when selecting MAX from my ATOM balance. If I put in a lower amount, it seems to work

[2022-10-03 16:30] Stellar-tickets commented on #455
cryptomasterflex: upon further testing, it appears that any amount of ATOM > 20 fails. If I add <= 20 ATOM, it works fine

[2022-10-03 16:55] lufa23 commented on #436
just to mention again the pending issue:

Linkcoin balance on Osmosis network shows zero (while there are LIKE tokens in the wallet):

![F9E20196-6AAB-4A7B-86B6-2B917A50F536](https://user-images.githubusercontent.com/67415638/193634654-852cfae3-8a96-4243-b615-b4ea4f4654ac.jpg)
![1910821310-03971324-e878-4457-b0d9-7e4458aee3a7](https://user-images.githubusercontent.com/67415638/193634754-d9df89e1-f

[2022-10-03 19:51] Stellar-tickets commented on #447
bolt1812: at the time of the second snapshot from Terra Luna on May 26, 2022 at block 7790000 on my internal wallet on dex sifchain was stored at the address>                  sif1myhhqdypzthwx9vue2w8s4e44nv3xkkf3mr4f7  * 3 724 000 luna +6600ust       sif1ssvhgtpxg95uu29y6v7p37u4zelnv0u25fmnje    *  1 973 000    luna                         sif1pzy7tzpscp2vvw29m3cplrepfavlmuh2vmj6d5     *  2 000 0

[2022-10-03 19:52] Stellar-tickets commented on #447
bolt1812: if you receive an airdrop from Terra Luna to an external address, then why don't you share it with me if I am eligible?.

[2022-10-03 19:52] Stellar-tickets commented on #447
bolt1812: I understand that you did not submit my addresses separately to Terra Luna to receive an airdrop, as it was after the first snapshot

[2022-10-03 19:52] Stellar-tickets commented on #447
bolt1812: I don’t know if it was intentional or unintentional, but I think that justice should be in the end. I bought luna specifically for this airdrop and distributed it among the wallets of the whole family .

[2022-10-03 19:53] Stellar-tickets commented on #447
bolt1812: I will be very grateful to you for your honest treatment

[2022-10-04 04:15] Stellar-tickets commented on #455
hungng: Can you check the tx hash on Mintscan or any block explorer and give us the hash ?

[2022-10-04 04:15] Stellar-tickets opened #456 "Asymmetric adds glitch"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

When adding liquidity to a Pool, after inserting the number of $ROWAN, the other token number is filled in automatically. However, I received twice this error: failed to execute message; message index: 0: Cannot add liquidity with asymmetric ratio

[2022-10-04 11:21] Stellar-tickets opened #457 "Osmosis - IBC issue"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

can't ibc to osmo. Any ammount is returned minus the fee

[2022-10-04 15:11] mgl2150 commented on #444
The client is expired due to Sifchain halt incident, I have submitted a gov prop to revive it, the import issue will be solved once the prop passes:
https://www.mintscan.io/sifchain/proposals/119

[2022-10-04 15:12] mgl2150 commented on #443
The client is expired due to Sifchain halt incident, I have submitted a gov prop to revive it, the import issue will be solved once the prop passes:
https://www.mintscan.io/sifchain/proposals/119

[2022-10-04 15:12] mgl2150 commented on #448
The client is expired due to Sifchain halt incident, I have submitted a gov prop to revive it, the import issue will be solved once the prop passes:
https://www.mintscan.io/sifchain/proposals/119

[2022-10-04 15:12] mgl2150 commented on #449
The client is expired due to Sifchain halt incident, I have submitted a gov prop to revive it, the import issue will be solved once the prop passes:
https://www.mintscan.io/sifchain/proposals/119

[2022-10-04 15:13] mgl2150 commented on #452
The client is expired due to Sifchain halt incident, I have submitted a gov prop to revive it, the import issue will be solved once the prop passes:
https://www.mintscan.io/sifchain/proposals/119

[2022-10-04 16:40] Stellar-tickets opened #458 "LUNC - Import / exports"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

the bridge for lunac and ust has not been working for two weeks. when is it expected to be fixed? Thanks <#943694093542912011>

[2022-10-04 16:41] Stellar-tickets commented on #458
lufa23: hey, the IBC client expired and we need to raise a governance proposal. We are working into it

[2022-10-04 16:42] Stellar-tickets opened #459 "Discrepant amounts - ATOM pool"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

sif1h6r4fargjmdzsreevz4dzmcwgxnshhlk5kvezk

I am in the rowan/atom pool

Since the exploit went up. After resolving the issue, the coins have been taken back but now my deposited coins are way less than what i initially had.

[2022-10-04 16:42] Stellar-tickets opened #460 "Discrepant amounts - ATOM pool"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

sif1h6r4fargjmdzsreevz4dzmcwgxnshhlk5kvezk

Rowan/atom pool

Why have my deposited coins decreased after the restart.

[2022-10-04 16:43] Stellar-tickets opened #461 "Discrepant amounts - ATOM pool - Reward issue 15 - Github issue 461"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Hi admin
After recent update, my ATOM/ROWAN liquidity decreased. Is this a temporary problem?
I mean my original and real liquidity, not related to the increase by the bug.
Unfortunately, I Don’t have any screen shot before bug downs, but I am sure I had over 195000 ROWAN and over 90 of ATOM!! The

[2022-10-04 16:43] Stellar-tickets opened #462 "Discrepant amounts - ATOM pool"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Hi admin
After recent update, my ATOM/ROWAN liquidity decreased. Is this a temporary problem?
I mean my original and real liquidity, not related to the increase by the bug.
Unfortunately, I Don’t have any screen shot before bug downs, but I am sure I had over 195000 ROWAN and over 90 of ATOM!! The

[2022-10-04 17:10] Stellar-tickets commented on #462
lufa23: hey, it seems to be a UI glitch.. we are investigating

[2022-10-04 17:10] Stellar-tickets commented on #461
lufa23: hey, it seems to be a UI glitch.. we are investigating

[2022-10-04 17:10] Stellar-tickets commented on #460
lufa23: hey, it seems to be a UI glitch.. we are investigating

[2022-10-04 17:10] Stellar-tickets commented on #459
lufa23: hey, it seems to be a UI glitch.. we are investigating

[2022-10-04 17:15] lufa23 commented on #456
the issue was due to a UI glitch, and it should be fixed now. Can you clear the cache and tell us if the issue has been solved?

[2022-10-04 17:17] lufa23 commented on #457
hey Osmosis chain has been halted

[2022-10-04 17:26] Stellar-tickets commented on #462
lufa23: can you clear the cache and tell us if the issue persists?

[2022-10-04 17:26] Stellar-tickets commented on #461
lufa23: can you clear the cache and tell us if the issue persists?

[2022-10-04 17:26] Stellar-tickets commented on #460
lufa23: can you clear the cache and tell us if the issue persists?

[2022-10-04 17:26] Stellar-tickets commented on #459
lufa23: can you clear the cache and tell us if the issue persists?

[2022-10-04 17:45] Stellar-tickets commented on #462
lufa23: also, are you seeing the issue on the  `your liquidity` section on the pools page?

[2022-10-04 17:45] Stellar-tickets commented on #461
lufa23: also, are you seeing the issue on the  `your liquidity` section on the pools page?

[2022-10-04 17:45] Stellar-tickets commented on #460
lufa23: also, are you seeing the issue on the  `your liquidity` section on the pools page?

[2022-10-04 17:45] Stellar-tickets commented on #459
lufa23: also, are you seeing the issue on the  `your liquidity` section on the pools page?

[2022-10-04 19:19] Stellar-tickets commented on #458
Gorik: Hi! Thanks for your reply! How long can it take approximately?

[2022-10-04 20:07] Stellar-tickets commented on #456
Angelo: any feedback?

[2022-10-05 08:43] Stellar-tickets commented on #456
lufa23: hey, the issue was due to a UI glitch, and it should be fixed now. Can you clear the cache and tell us if the issue has been solved?

[2022-10-05 08:44] Stellar-tickets commented on #457
lufa23: hey, Osmosis network was down and now it's up and running again. We are currently looking if there are stuck IBC packets. Can you confirm that the issue has been solved?

[2022-10-05 08:45] Stellar-tickets commented on #453
lufa23: hey, issue should be fixed.
Can you clear the cache and try again?

[2022-10-05 08:50] Stellar-tickets commented on #458
lufa23: hey, i'd say around 5 days:
https://wallet.keplr.app/chains/sifchain/proposals/119

[2022-10-05 09:09] Stellar-tickets commented on #453
Wu: fixed, thx!

[2022-10-05 11:10] Stellar-tickets commented on #451
s_oa_d: all is fine. thanks

[2022-10-05 12:02] Stellar-tickets commented on #451
hungng: !!close

[2022-10-05 12:02] Stellar-tickets commented on #453
hungng: !!close

[2022-10-06 10:17] Stellar-tickets commented on #436
woodearthearth: Take it easy

[2022-10-06 10:17] Stellar-tickets commented on #436
woodearthearth: I can withdraw to likechain first  to solve the problem.

[2022-10-06 12:00] Stellar-tickets commented on #462
alilale: I did already, nothing changed. even today I had a remarkable decrease in my liquidity too

[2022-10-06 12:01] Stellar-tickets commented on #462
alilale: no

[2022-10-06 12:02] Stellar-tickets commented on #462
alilale: this is newest screenShot

[2022-10-06 12:18] Stellar-tickets commented on #462
alilale: I also checked it in my other pc. same problem

[2022-10-06 13:22] Stellar-tickets commented on #462
alilale: Due to the increase ROWAN in my Balance, it is similar to withdrawing from LP and depositing in the wallet!!!

[2022-10-06 13:28] Stellar-tickets commented on #462
alilale: as you can compare top screenshot, ROWAN reduced 121424 to 120265 in 1 hour and 23 minutes.!!!

[2022-10-06 13:30] Stellar-tickets commented on #462
alilale: please help me and try to solve my LP problem before its going to be zero

[2022-10-06 14:09] Stellar-tickets opened #463 "LUNC export issue"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I can’t export LUNA, https://www.mintscan.io/sifchain/txs/E61FDA63F7B6D3BABDDFAD84C64CA59FF8433AEE41A7884CE65788D49757D68D

[2022-10-06 14:10] Stellar-tickets commented on #463
lufa23: hey, yeah the IBC client expired. We have initiated a governance proposal to re-enable it. We expect the import and exports to be operational again in few days

[2022-10-06 14:15] lufa23 commented on #461
User is witnessing a continuous reduce in its liquidity. User took two screenshots, with the second screenshot being at 1 hour and 23 minutes after the first one. During this relatively short time, ROWAN reduced 121424 to 120265
![ss5](https://user-images.githubusercontent.com/67415638/194336532-a533e86f-ea51-483c-84da-b620e271e99e.jpg)

![ss6](https://user-images.githubusercontent.com/67415638/19

[2022-10-06 14:17] Stellar-tickets commented on #460
lufa23: closing this issue as it seems to be a duplicate

[2022-10-06 14:17] Stellar-tickets commented on #460
lufa23: !!close

[2022-10-06 14:18] #460 closed, assigned to lufa23

[2022-10-06 14:26] Stellar-tickets commented on #462
lufa23: hey we are investigating, gonna get back to you asap

[2022-10-06 14:28] lufa23 commented on #462
i have updated the comment on[ ticket 461](https://github.com/Sifchain/Support-Tickets/issues/461), let's keep the conversation there

[2022-10-06 14:28] #462 closed, assigned to lufa23

[2022-10-06 16:30] Stellar-tickets commented on #462
alilale: thank you

[2022-10-06 20:27] Stellar-tickets commented on #462
lufa23: hey so,
From the first screenshot and the second one:
- you can notice that the Pool Value field (at the right), increased from 1356.95$ to 1368.30$, so your position actually accrued value during that 1hour and 23 minutes

The reason why you see your Rowan amount decreasing, is because of LPD which takes out Rowan from your pool position and puts it back into your wallet

So if you check

[2022-10-06 20:28] Stellar-tickets commented on #459
lufa23: hey, so before the exploit the UI was showing incorrect values. After the exploit the values shown came back to being accurate

[2022-10-06 20:28] Stellar-tickets commented on #459
lufa23: you can have a look at the docs explaining what happened here:
https://www.notion.so/sifchain/Liquidity-Providers-LM-Rewards-Report-2adc77c77b21470190156001ff103a1b

[2022-10-07 10:05] Stellar-tickets commented on #463
LarryShum: The proposal didn't meet quorum hence and it failed.

[2022-10-07 10:05] Stellar-tickets commented on #463
LarryShum: How can you fix it?

[2022-10-07 10:59] Stellar-tickets commented on #463
lufa23: hey, proposal met quorum but was not properly funded. We will raise a governance proposal again

[2022-10-07 11:33] Stellar-tickets commented on #462
alilale: I'm really worried about my ATOM/ROWAN asset.
as you can see in the last attached screenshot, every minute, jour and day decreases on both ROWAN and ATOM !!!
this is defiantly not normal. Please be responsible for our trust to all of you. Thank you

[2022-10-07 11:35] Stellar-tickets commented on #462
alilale: it wasn't math with a LPD rolls. by this way after some time the poll will be zero!!

[2022-10-07 14:26] lufa23 commented on #461
after answering to the user with the following:

The user is still concerned, as he can see now his Liquidity position having  lowered both on Rowan and Atom. He additionally sends this screenshot:
![ss7](https://user-images.githubusercontent.com/67415638/194577162-87242a46-5acb-41df-8927-2905c95b08fc.jpg)

[2022-10-07 15:29] Stellar-tickets commented on #462
lufa23: i am further investigating on this. Can you please share with me the calculations on which you claim that the combination of LPD + Impermanent Loss is not the cause of the current balance?

[2022-10-09 11:24] Stellar-tickets opened #464 "Pool Position Discrepancy"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Hi Sifteam. I need some assistance to understand my LIQUIDITY and REWARDS + REBALANCE along with LPD.

[2022-10-10 02:07] Stellar-tickets commented on #464
![222](https://user-images.githubusercontent.com/67415638/195071206-42916209-0917-4e30-9f7f-373a686e0ee8.png)
![333](https://user-images.githubusercontent.com/67415638/195071221-0d2baf0f-14ee-4aa7-b039-05c3ed275e0a.png)
![444](https://use
![666](https://user-images.githubusercontent.com/67415638/195071305-490ec8ef-33be-4285-9421-ba243904bf5e.png)

![555](https://user-images.githubusercontent.com/6

[2022-10-10 02:07] Stellar-tickets commented on #464
srizbi84: Data from 10/9/2022 22:00 attached.
![103](https://user-images.githubusercontent.com/67415638/195072239-ce6f8db1-ab37-4f44-8437-c858dd4a2060.png)

[2022-10-10 02:09] Stellar-tickets commented on #464
srizbi84:

[2022-10-10 02:10] Stellar-tickets commented on #464
srizbi84:

[2022-10-10 02:11] Stellar-tickets commented on #464
srizbi84:

[2022-10-10 02:12] Stellar-tickets commented on #464
srizbi84: I guess my question is why both TKN sides of my LPs balance is reducing each day?

[2022-10-10 10:24] Stellar-tickets commented on #464
lufa23: as because of LPD Rowan  is removed from the pool position itself and added to your (specs here:
https://www.notion.so/sifchain/Liquidity-Provider-Distribution-Functional-Doc-External-49aba98724f84321ae84f3078ad07e00)

Did ou check if the LPD amounts you are receiving are coherent with the pools position decreasing?

[2022-10-10 10:25] Stellar-tickets commented on #459
lufa23: !!close

[2022-10-10 10:27] Stellar-tickets commented on #463
lufa23: !!close

[2022-10-10 11:03] Stellar-tickets commented on #464
srizbi84: Yes, I am receiving LPD and it appears correct, but my LPs are losing so much value each day and at this rate I am not going to have any TKN left on either side of my LPs, it looks like they’re going to zero with the decrease each day.

We can’t swap so we can’t inject TKN back to the LPs and TVL just keeps decreasing.

[2022-10-11 03:09] Stellar-tickets commented on #464
srizbi84:
![104](https://user-images.githubusercontent.com/67415638/195072321-b4dfce19-59c8-4640-9ab8-e745664039f1.png)

[2022-10-11 07:57] merkletreeibc commented on #393
HI all, someone please send me specs for this image and I will have a new
one made. Citadel is trying to launch their dApp and it looks absolutely
awful. I would like get our graphic designer to do a new version of this
wallpaper for them.

https://sifchain.slack.com/archives/G01BX71QY1F/p1657523508559809

On Thu, Jul 7, 2022 at 9:58 PM Mary McGilvray ***@***.***>
wrote:

[2022-10-11 10:46] Stellar-tickets opened #465 "Rewards Calculation - 17"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

hello i ma new to this thing and i dont know exactly how it works. me address is this sif1gtvgunnw9zjnh4v6jwssmkecyl7vmjtv96vx5n

[2022-10-11 10:46] Stellar-tickets commented on #465
lufa23: !!close

[2022-10-11 10:48] #465 closed, assigned to nobody

[2022-10-11 10:58] lufa23 commented on #461
it has been asked to the user to provide calculations that shows that the combination of LPD + Impermanent Loss is not the cause of the current balance?

[2022-10-11 11:01] Stellar-tickets commented on #457
lufa23: !!close

[2022-10-11 11:07] Stellar-tickets opened #466 "Discrepant Amounts- Atom Pool"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I have pooled ATOM/ROWAN since at least a year now and I've seen the total value decrease from 2k to 150$ now. Both ROWAN and ATOM amounts in the pool are decreasing slowly.

[2022-10-11 11:09] Stellar-tickets commented on #439
lufa23: !!close

[2022-10-11 11:09] Stellar-tickets commented on #442
lufa23: !!close

[2022-10-11 11:10] Stellar-tickets commented on #450
lufa23: !!close

[2022-10-11 11:10] Stellar-tickets commented on #455
lufa23: !!close

[2022-10-11 11:11] Stellar-tickets commented on #456
lufa23: !!close

[2022-10-11 11:11] Stellar-tickets commented on #458
lufa23: !!close

[2022-10-11 11:11] Stellar-tickets commented on #454
lufa23: !!close

[2022-10-11 11:13] Stellar-tickets commented on #466
lufa23: hey, can you pleas send the address?
Decreases it has been probably due to IL, as Rowan lost a lot of value during last year

[2022-10-11 11:14] #454 closed, assigned to lufa23

[2022-10-11 11:15] Stellar-tickets commented on #436
lufa23: !!close

[2022-10-11 11:15] #436 closed, assigned to bksifchain

[2022-10-11 11:15] #451 closed, assigned to lufa23

[2022-10-11 11:16] #453 closed, assigned to lufa23

[2022-10-11 11:16] #456 closed, assigned to lufa23

[2022-10-11 11:16] #459 closed, assigned to lufa23

[2022-10-11 11:17] #457 closed, assigned to lufa23

[2022-10-11 11:18] #455 closed, assigned to lufa23

[2022-10-11 11:18] #450 closed, assigned to lufa23

[2022-10-12 13:05] Stellar-tickets opened #467 "USTC import - Bug Report - 80"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, I imported USTC token onto Sifchain Dex; it's been almost two hours and although the transaction hash says that the import was successful, the UST token still has not showed up in my account. The transaction ID is 7DBA982CEEC6EDF88630B62D945CBE72AFD2F7030A8062AAA

[2022-10-12 13:06] Stellar-tickets opened #468 "Bug Report - 81"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hey! When I try to unbond my assets from an LP the external amount reduces

[2022-10-12 13:06] Stellar-tickets commented on #468
lufa23: hey, can you please be more specific? Adding data would help us look into it

[2022-10-12 13:15] Stellar-tickets commented on #467
lufa23: hey, can you check again? i think that the proposal to re-enable the Terra Classic IBC client passed after you tried to submit the transaction, meaning that IBC import and exports for Terra Classic should properly function now

[2022-10-12 13:16] Stellar-tickets commented on #444
lufa23: hey, can you confirm that the issue has been solved? The Terra Classic IBC client has been restored with last governance proposal

[2022-10-12 13:16] Stellar-tickets commented on #445
lufa23: hey, guys just as an heads up, Terra Classic IBC connection has been restored, meaning that now imports and exports should properly work

[2022-10-12 13:17] Stellar-tickets commented on #449
lufa23: hey, can you confirm that the issue has been solved? The Terra Classic IBC client has been restored with last governance proposal

[2022-10-12 13:17] Stellar-tickets commented on #452
lufa23: hey, Terra Classic IBC connection has been restored, meaning that now imports and exports should properly work

[2022-10-12 13:18] Stellar-tickets opened #469 "Pool value decreasing"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I noticed that no matter if eth and rowan prices are going up my pool value decreases overtime. I don’t know if this is a bug, but need explanation of why this is happening.

[2022-10-12 13:18] Stellar-tickets commented on #468
lufa23: !!close

[2022-10-12 13:19] Stellar-tickets opened #470 "Discrepant Liquidity Withdraw amount - Rewards Calculation - 19"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Hey! When I try to unbond my assets from an LP the external amount reduces

[2022-10-12 13:28] #468 closed, assigned to lufa23

[2022-10-12 13:31] lufa23 commented on #469
sif address:
sif1mg6zqdf84wj9uvgl0xxa6lpurhlkvtzgpmfmxr

# Screenshots - Part 1
<img width="739" alt="Screenshot 2022-10-12 at 15 29 54" src="https://user-images.githubusercontent.com/67415638/195355936-22fbd436-1e73-4395-9228-7dd0bf8a7366.png">

<img width="837" alt="Screenshot 2022-10-12 at 15 30 00" src="https://user-images.githubusercontent.com/67415638/195355987-2703a5d1-9564-4dd3-99ae-b2fc1b

[2022-10-12 13:39] lufa23 commented on #470
User reports that when submitting the liquidity withdrawal request he noticed he had 36 atoms in that pool, and unbonding popup gives the estimate to be 36 atoms. Unboded ATOMs have decreased until reaching 28

<img width="446" alt="Screenshot 2022-10-12 at 15 38 05" src="https://user-images.githubusercontent.com/67415638/195357699-86d1dfb0-8dd9-47a8-9985-fc4e30ad514e.png">

[2022-10-12 13:40] Stellar-tickets commented on #470
lufa23: hey, did you look at the LPD feature?
https://www.notion.so/sifchain/Liquidity-Provider-Distribution-Functional-Doc-External-49aba98724f84321ae84f3078ad07e00

[2022-10-12 18:10] lufa23 commented on #433
hey, we have recently re-enabled the Terra Classic IBC client through the [governance proposal 120](https://wallet.keplr.app/chains/sifchain/proposals/120) (as it was expired). Can you confirm if the transaction went through?

[2022-10-13 12:57] tuthanden9999 opened #471 "Export issue: export ROWAN from sifchain to Ethereum"
https://www.mintscan.io/sifchain/txs/E068FA6FB8588158E5D17443B1D18949EB8E95340BA26241D502C3AB80C36021

Please check above transaction. I export ROWAN from sifchain to ethereum but not received on ethereum.

Sifchain address:
sif1qq3a83xxsaxwnlzv7pche8pjh4ktyj5ffx0yd6

Ethereum address:
0xC7BD4F27fd0B802bC687AD4162ca31fd6b4c4465

Thanks!

[2022-10-13 15:01] Stellar-tickets opened #472 "Bug Report - 82"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, ERC-20 export is not working, what's with the contract? FapToBbly, [13.10.2022 15:29]
Hello, ERC-20 export is not working, what's with the contract?

FapToBbly, [13.10.2022 15:32]
30 minutes passed no transaction, but on the dex the export is successful

[2022-10-13 15:46] Stellar-tickets commented on #469
CryptoBori14: Not what this is saying, which is coming from the same source as the one you attached.

[2022-10-13 15:47] Stellar-tickets commented on #469
CryptoBori14: I noticed I am not the only one with this issue.  There are a lot of people in the discord talking about it as well.  That confirms something is not right.

[2022-10-13 16:08] Stellar-tickets commented on #464
srizbi84: What is the intention with the LPs? I am just finding that they're bleeding day by day, and on course to basically just drain down to $0.

We're receiving LPD which we can't really do anything with, so this is just causing TVL to plummet and people are un-pooling because they're seeing their balances continue to drop which compounds the reducing TVL.

What was the vision from the Sif tea

[2022-10-13 18:59] petecraig1 opened #473 "Export ETH from SifChain "successful" ETH did not arrive in my ETH wallet"
Please assist with locating my ETH:

TxHash:  E1843900FB81E9F21A01B32CF679AFC088643CD4E9406C19E2FC033003F496B9

![17 ETH](https://user-images.githubusercontent.com/67651835/195683902-69d908d0-3399-493f-9894-31fc2c5feffb.png)

ETH was exported to proper wallet.  Does not show up in wallet.

How can I locate this ETH?    Thank you.

[2022-10-13 19:58] tiagsouza opened #474 "Import / Export issue"
## Describe the bug
I exported some ZCN tokens from SIFCHAIN to ERC-20. Transaction was successful, but I have not received my tokens

## TX Hashes
https://www.mintscan.io/sifchain/txs/6F87FA0E05D151EC3A6BD00047C6527EA5074B0F6FBD911EC4D2BE7743614EA0

## Addresses
sif1gkrr64n2h3q5vut67msrm33jep6rtxt24mp8km
0xFf9d38a54193d91859cd28575C76D1178B96BA00

[2022-10-14 06:13] d1gng commented on #433
@lufa23 hi, unfortunately no tokens yet, seems ibc haven't send me Lona tokens

[2022-10-14 07:05] Stellar-tickets commented on #472
lufa23: heya! bridge is now active again. closing this issue

[2022-10-14 07:05] Stellar-tickets commented on #472
lufa23: !!close

[2022-10-14 07:07] #472 closed, assigned to lufa23

[2022-10-14 07:10] lufa23 commented on #473
hey! bridge is active again now, can you confirm that the issue is solved?

[2022-10-14 07:11] lufa23 commented on #474
hey, the bridge is active again now..can you confirm that the issue has been solved?

[2022-10-14 09:40] Stellar-tickets commented on #464
lufa23: hey yeah i totally understand you, i raised it internally that we need to have an official communication about it
gonna keep you in the loop as soon as i know something

[2022-10-14 11:57] #474 closed, assigned to lufa23

[2022-10-14 23:09] petecraig1 commented on #473
Solved !  Thank you!
* Yours,*

*      Peter Craig*
     295-A Mahoney Dr. #1979
     Telluride, CO   81435

     Mobile:   *(970)708-4525*

On Fri, Oct 14, 2022 at 1:10 AM lufa23 ***@***.***> wrote:

[2022-10-15 08:52] Stellar-tickets commented on #466
Ishiida.pcc.eth: Yeh I can imagine that, but it keeps on decreasing after I get rewards on balance nowadays.

[2022-10-15 08:52] Stellar-tickets commented on #466
Ishiida.pcc.eth: Lemme check address

[2022-10-15 08:52] Stellar-tickets commented on #466
Ishiida.pcc.eth: sif17snp7l533s8l4u54wnqa9z27e86nx5azy7gsk8

[2022-10-15 08:53] Stellar-tickets commented on #466
Ishiida.pcc.eth: I had like 20+ atom in there when the price was 40$. Now I have 5. Im aware of impermanent loss. But I've always kept my liquidity there. Not that it is much, but for me it is/was alot.

[2022-10-16 08:16] Stellar-tickets opened #475 "Osmosis export issues Bug Report - 87"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Took Rowan to Osmosis, swapped to Juno.  Rowan still in my Rowan wallet. Moved to Osmosis a second time. https://www.mintscan.io/osmosis/account/osmo1jqxkm70urhs96uf6z0k3ur6qk56arzjqm3rt6c        https://www.mintscan.io/osmosis/txs/0767335EFFDFA138FB20C5F2A80EE291B2FCAB

[2022-10-16 08:17] Stellar-tickets commented on #466
lufa23: hey, checking further on this.. i will keep you updated
I think there will be an official announcement to clear out confusion btw

[2022-10-16 11:55] Stellar-tickets commented on #466
Ishiida.pcc.eth: Thanks buddy!

[2022-10-17 08:06] Stellar-tickets opened #476 "issue with WBTC export"
Help please! Stucked at Export ERC-20, 1 hour passed no transaction and not receiving on ethereum, but on the Sifchain dex the export is successful and asset not showing.

TX:
https://www.mintscan.io/sifchain/txs/BE991FF632BD9BACE318476FA227B1A472F4BE53E1DB5DC7119FFBF653BCBBCF

[2022-10-17 08:30] Stellar-tickets opened #477 "ZCN export - Bug Report - 90"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I had exported ZCN to Ethereum, But I can receive it. https://www.mintscan.io/sifchain/txs/05E5FC484B358423D22C51D3F3A59AE7F3E85F3AFB95C229FD9DEA3E99EC89CD

[2022-10-17 11:28] Stellar-tickets opened #478 "Rewards Calculation - 24"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Hello Support team,

I am a beginner in Sifchain Liquidy pool. But I don't understand why I can invest almost 1500 $ in a pool USDT/ROWAN and I am losing 734 $.

Do you know why ?

Thanks in advance for your explanations.

Best.

David.

[2022-10-17 11:29] Stellar-tickets commented on #478
lufa23: In general the reason why you see your Rowan amount decreasing, is because of LPD which takes out Rowan from your pool position and puts it back into your wallet

So if you check your wallet you should see the amount of Rowan that were in your pool position

https://www.notion.so/sifchain/Liquidity-Provider-Distribution-Functional-Doc-External-49aba98724f84321ae84f3078ad07e00

[2022-10-17 12:43] Stellar-tickets commented on #478
dcoignet: Thanks, but how is possible to loose 734 usd on the liquidiy pool ROWAN/USDT (see screenshot) ?

[2022-10-17 13:00] Stellar-tickets opened #479 "Issues with ATOM exports"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

ATOM exports are broken, I'm getting this error

Transaction Failed
Bad status on response: 502

Others are reporting the same

[2022-10-17 13:01] Stellar-tickets commented on #479
lufa23: can you share the logs you get on the UI by looking at the developer tools?

[2022-10-17 13:02] Stellar-tickets commented on #478
lufa23: there should be an official announcement about it to clear any doubts

[2022-10-17 13:28] Stellar-tickets commented on #476
Hey, could you please check the latest status of the this, it's nearly 12 hour, the assets not receiving and just missing in Sifchain, is it safe? Help please...

[2022-10-17 13:35] Stellar-tickets commented on #476
lufa23: can you send me the tx hash?

[2022-10-17 13:38] Stellar-tickets commented on #476
Thanks for your response! I'll DM you

[2022-10-17 13:43] #473 closed, assigned to lufa23

[2022-10-17 13:50] Stellar-tickets commented on #478
dcoignet: This is normal or due to technical issue from your side ?

[2022-10-17 13:50] lufa23 commented on #471
hey, this should be solved... can i close the issue?

[2022-10-17 13:51] lufa23 commented on #475
hey, are you still witnessing the issue?

[2022-10-17 13:51] Stellar-tickets commented on #478
dcoignet: I understand the point for Rowan, but for collateral USDT, i don't understand the lost of 734 UDST in my position.
Best

[2022-10-17 13:54] Stellar-tickets commented on #475
lufa23: hey, are you still witnessing the issue?

[2022-10-17 13:54] Stellar-tickets commented on #478
dcoignet: On a total of 950 USDT it means 77% lost, this is due to impermanent lost ?

[2022-10-17 14:22] Stellar-tickets commented on #479
TechStacker:

[2022-10-17 14:22] Stellar-tickets commented on #479
TechStacker: This happens as soon as I click export

[2022-10-17 16:09] Stellar-tickets commented on #445
s_oa_d: work now. thanks

[2022-10-17 16:59] tuthanden9999 commented on #471
I continue got stuck when export ROWAN from sifchain to ethereum.

Please check tx:
https://www.mintscan.io/sifchain/txs/6031A129A12FD086350D57919B1340E8B260C248CD2B6C378B3BF2BDFB96D78C

Sifchain address:
sif1qq3a83xxsaxwnlzv7pche8pjh4ktyj5ffx0yd6

Ethereum address:
0xC7BD4F27fd0B802bC687AD4162ca31fd6b4c4465

Many thanks!

[2022-10-17 20:20] Stellar-tickets commented on #445
lufa23: !!close

[2022-10-17 20:20] Stellar-tickets commented on #444
lufa23: !!close

[2022-10-17 20:20] Stellar-tickets commented on #449
lufa23: !!close

[2022-10-17 20:20] Stellar-tickets commented on #452
lufa23: !!close

[2022-10-17 20:21] Stellar-tickets commented on #467
lufa23: !!close

[2022-10-17 20:22] Stellar-tickets commented on #477
lufa23: hey, can you confirm that issue is solved?

[2022-10-17 20:22] Stellar-tickets commented on #476
lufa23: hey, can you check if the issue has been solved?

[2022-10-17 20:22] Stellar-tickets commented on #479
lufa23: hey, can you check if the issue has been solved?

[2022-10-17 20:26] Stellar-tickets commented on #478
lufa23: Jazear is having an AMA very soon, any chance you can assist? he's gonna get into the details of this

[2022-10-17 20:39] Stellar-tickets commented on #478
dcoignet: Sorry I am not following all community message. Could you answer if I have a chance to get back some USDT regarding 77% lost on liquidity pool ? Thanks.

[2022-10-17 23:57] Stellar-tickets commented on #476
Wu: Fixed, Thanks!!!

[2022-10-18 03:20] Stellar-tickets commented on #477
LarryShum: Yes, it has been solved.

[2022-10-18 07:20] Stellar-tickets commented on #478
lufa23: i mean big part of that loss is due to Rowan being extracted from the pool and sent directly to your wallet (through LPD) for the rest i will link you to the Jazear AMA so you can get the full picture

[2022-10-18 07:21] Stellar-tickets commented on #478
lufa23: if you look at the announcements you will see that there is an upcoming governance proposal that is supposed to tackle the liquidity issue in the pools

[2022-10-18 07:22] Stellar-tickets opened #480 "Import export issue(Bug Report - 98)"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I had exported METIS to Ethereum, But I can not receive it

[2022-10-18 07:22] Stellar-tickets opened #481 "Bug Report - 97"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, export from Sif to IRISnet and Sentinel are pending more than 6 hours:

DVPN
https://www.mintscan.io/sifchain/txs/AEFBAF1FF7C5C64279BCF986BF1F1F485C7A952E38D6153A281E0B945745D192

IRIS
https://www.mintscan.io/sifchain/txs/C21257425E01E0499759975D7ADF5FE4BC5C2F797

[2022-10-18 07:22] Stellar-tickets commented on #481
lufa23: hey, can you check if the issue persist? it should be good now

[2022-10-18 07:22] Stellar-tickets opened #482 "Bug Report - 96"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Export from Sif to Ethereum...

More than 3 hours pending now:
https://www.mintscan.io/sifchain/txs/18CA659AC5CAD3B12B6CFB539CE6763085816CBD032D85522C749495157EC038

Please repair.

[2022-10-18 07:22] Stellar-tickets commented on #482
lufa23: hey, can you check if the issue persist? it should be good now

[2022-10-18 07:23] Stellar-tickets commented on #476
lufa23: !!close

[2022-10-18 07:23] Stellar-tickets commented on #477
lufa23: !!close

[2022-10-18 07:24] Stellar-tickets commented on #464
lufa23: so, big part of that loss is due to Rowan being extracted from the pool and sent directly to your wallet (through LPD) for the rest i will link you to the Jazear AMA so you can get the full picture
if you look at the announcements you will see that there is an upcoming governance proposal that is supposed to tackle the liquidity issue in the pools

[2022-10-18 07:26] lufa23 commented on #400
assuming this to be fixed in FEv3

[2022-10-18 07:26] #400 closed, assigned to bksifchain

[2022-10-18 07:26] #443 closed, assigned to lufa23

[2022-10-18 07:27] #444 closed, assigned to lufa23

[2022-10-18 07:27] #445 closed, assigned to lufa23

[2022-10-18 07:27] #449 closed, assigned to lufa23

[2022-10-18 07:27] #452 closed, assigned to lufa23

[2022-10-18 07:27] #458 closed, assigned to lufa23

[2022-10-18 07:27] #463 closed, assigned to lufa23

[2022-10-18 07:28] #467 closed, assigned to lufa23

[2022-10-18 07:29] #476 closed, assigned to lufa23

[2022-10-18 07:29] #477 closed, assigned to lufa23

[2022-10-18 07:29] lufa23 commented on #480
hey, can you confirm that the issue has been solved?

[2022-10-18 08:28] Stellar-tickets opened #483 "Bug Report - 99"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hi, ATOM exports are broken again.

I filed a bug report yesterday and it was temporarily fixed I think? Anyway, same error

Transaction Failed
There was an unknown failure

45index.95a0a4fc.js:428 Error: Returned values aren't valid, did it run Out of Gas? You might al

[2022-10-18 08:29] Stellar-tickets commented on #483
hungng: Can you give us the transaction hash on mintscan ?

[2022-10-18 09:38] Stellar-tickets commented on #480
LarryShum: I can’t receive it yet.

[2022-10-18 10:01] Stellar-tickets commented on #478
dcoignet: Thank for explanation. I have to check USDT transfer on Keplr Wallet ?

[2022-10-18 12:40] Stellar-tickets opened #484 "Bug Report - 100"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Now balances keep disappearing too. On off on off constantly. And you can't swap either.

**Account does not exist on chain. Send some tokens there before trying to query sequence.**

[2022-10-18 12:40] Stellar-tickets commented on #484
lufa23: can you send some video / screenshots? Also, if you could use the devtools to show us the error logs you get, it would be great

[2022-10-18 12:40] Stellar-tickets opened #485 "Bug Report - 101"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Ahmed Mohamed:
i export iris coin from 2 hours, And something went wrong, The balance has not yet returned to my account

Is there a problem with IRIS network ?

[2022-10-18 12:41] Stellar-tickets commented on #485
lufa23: hey, can you send us the tx hash?

[2022-10-18 12:43] Stellar-tickets commented on #478
lufa23: a part of that lost was compensated by Rowan received on your wallet... another part of that is due some reasons that Jazear explained on the AMA yesterday. There is an upcoming proposal to fix those issues

[2022-10-18 13:05] FapToBbly opened #486 "Import / Export issue"
## Describe the bug
I exported SRM tokens from SIFCHAIN to ERC-20. Transaction was successful, but I have not received my tokens
A Detailed description of the issue (what happened, token affected and token amount)

## How to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

## Expected behaviour
Please write a clear and detai

[2022-10-18 13:40] Stellar-tickets commented on #475
J2000: no

[2022-10-18 16:04] tuthanden9999 commented on #471
Issues are both fixed. Many thanks!

[2022-10-18 16:04] #471 closed, assigned to lufa23

[2022-10-18 16:49] kacperlondon opened #487 "Import / Export issue"
## Describe the bug

Hello wen i try export i  cannot export my Ethereum or USDC from sifchain to Ethereum?

<img width="557" alt="Screenshot 2022-10-18 at 16 05 03" src="https://user-images.githubusercontent.com/72800051/196492580-ddcf7cca-0af0-4d9d-9760-b3604e069bbd.png">

## How to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See erro

[2022-10-18 16:54] Stellar-tickets commented on #480
LarryShum: Export RUNE and ENJ are not receive on Ethereum too.

[2022-10-18 16:55] Stellar-tickets commented on #480
LarryShum: https://www.mintscan.io/sifchain/txs/5006C3B075D19E49A0423CB5D1EA341520FDA42A21E1D14F7074551ECCDC944E

[2022-10-18 16:55] Stellar-tickets commented on #480
LarryShum: https://www.mintscan.io/sifchain/txs/589A284216F4262D098E7BEA4998AB6F3B72716B9BBEB9CD922F19CE78E75C35

[2022-10-18 16:59] Stellar-tickets commented on #480
LarryShum: I got it now.

[2022-10-18 20:44] Stellar-tickets commented on #466
Ishiida.pcc.eth: It is weird, cause prices are stable (Erowan is up even) but my pool value keeps decreasing?

[2022-10-18 21:09] petecraig1 commented on #473
Awesome, thanks!
* Yours,*

*      Peter Craig*
     295-A Mahoney Dr. #1979
     Telluride, CO   81435

     Mobile:   *(970)708-4525*

On Mon, Oct 17, 2022 at 7:43 AM lufa23 ***@***.***> wrote:

[2022-10-18 21:38] Stellar-tickets commented on #481
s_oa_d: tokens were returned. thanks

[2022-10-18 21:38] Stellar-tickets commented on #482
s_oa_d: it was delivered. thanks

[2022-10-19 08:27] Stellar-tickets commented on #482
hungng: !!close

[2022-10-19 08:27] Stellar-tickets commented on #481
hungng: !!close

[2022-10-19 08:27] Stellar-tickets commented on #480
hungng: !!close

[2022-10-20 06:17] Stellar-tickets commented on #478
dcoignet: Ok, but 734 USDT lost, how many Rowan transfer to my wallet ? Do you have a trace of the transaction done ? Sorry for my question, but I am not an expert. Best.

[2022-10-20 19:20] rogerteam opened #488 "Pool tab not working"
Hi. When I am trying to open the Pool tab on the Sifchain site, nothing happens, the page keeps on loading (used both Chrome and Brave browser). Could anyone suggest what is causing the issue and how to resolve it?

Thanks,
Miha

**Expected behavior**
When I click on the Pool tab, I would expect to see a list with different Pools.

**Addresses** (if applicable
https://sifchain-dex.forbole.com/#/po

[2022-10-20 20:39] Stellar-tickets commented on #466
lufa23: hey i think best way would be to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 20:40] Stellar-tickets commented on #475
lufa23: !!close

[2022-10-20 20:40] Stellar-tickets commented on #483
lufa23: !!close

[2022-10-20 20:40] Stellar-tickets commented on #485
lufa23: !!close

[2022-10-20 20:45] Stellar-tickets opened #489 "Bug Report - 103"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I'm running the margin tutorial on localnet and am unable to create a proposal to enable the margin feature on two pools. Followed this tutorial below (see link below). Where/who should I pose this question to? I can provide additional information such as my genesis.jso

[2022-10-20 20:51] Stellar-tickets opened #490 "Bug Report - 104"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Swap ATOM to ROWAN and only received about a fifth of the value. WHY?

[2022-10-20 20:52] Stellar-tickets commented on #490
lufa23: also, i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 20:52] Stellar-tickets commented on #489
lufa23: also, i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 20:52] Stellar-tickets commented on #484
lufa23: !!close

[2022-10-20 20:54] Stellar-tickets commented on #478
lufa23: There is no tx hash for that, as the LPD gets distributed through an event that gets thrown at the beginning of the block (and not inside the block as a transaction)
Btw, i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 20:54] Stellar-tickets opened #491 "Rewards Calculation - 26"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Hello, I made an exchange for dex and was going to withdraw the asset through the IBC, everything seemed to be going well, but the asset got stuck and did not return back to the sifchain, this TxHash problem has been hanging for two days
EDA51DC3C5A63CF9EC17601288748E65EB3EDF0F5DFB4649812EF233F2D79

[2022-10-20 20:54] Stellar-tickets commented on #491
lufa23: hey so,
Current status of the DEX:
All TKN’s are disabled for CLP actions (swap, add/remove, margin) except for the following list:
ATOM, USDC, ETH, JUNO, DAI, AKT, WBTC, OSMO, USDT
All tokens on the enabled list above are available for TKN:TKN swaps
ROWAN - only imports, no exports, no CLP actions
IBC tokens not on the list - no imports/exports, no CLP actions
All ERC-20 tokens can still

[2022-10-20 20:56] Stellar-tickets commented on #447
lufa23: !!close

[2022-10-20 20:56] Stellar-tickets commented on #469
lufa23: hey i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 20:56] Stellar-tickets commented on #479
lufa23: !!close

[2022-10-20 20:57] Stellar-tickets commented on #462
lufa23: !!close

[2022-10-20 20:57] Stellar-tickets commented on #470
lufa23: !!close

[2022-10-20 20:58] Stellar-tickets commented on #464
lufa23: hey btw i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 20:58] Stellar-tickets commented on #464
lufa23: !!close

[2022-10-20 21:01] #447 closed, assigned to lufa23

[2022-10-20 21:01] lufa23 commented on #461
btw, i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 21:01] #461 closed, assigned to lufa23

[2022-10-20 21:02] #464 closed, assigned to lufa23

[2022-10-20 21:02] lufa23 commented on #470
btw  i suggest you to check the AMA that Jazear did yesterday:
https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-20 21:02] #470 closed, assigned to bksifchain

[2022-10-20 21:03] #481 closed, assigned to lufa23

[2022-10-20 21:03] #482 closed, assigned to lufa23

[2022-10-20 21:04] #483 closed, assigned to hungng157

[2022-10-20 21:04] #484 closed, assigned to lufa23

[2022-10-20 21:05] #485 closed, assigned to lufa23

[2022-10-20 21:06] lufa23 commented on #489
hey i think that proposals cannot be currently raised by users ( as a temporary block to make sure margin doesn't affect other features)

[2022-10-20 21:07] lufa23 commented on #490
Current status of the DEX:
All TKN’s are disabled for CLP actions (swap, add/remove, margin) except for the following list:
ATOM, USDC, ETH, JUNO, DAI, AKT, WBTC, OSMO, USDT
All tokens on the enabled list above are available for TKN:TKN swaps
ROWAN - only imports, no exports, no CLP actions
IBC tokens not on the list - no imports/exports, no CLP actions
All ERC-20 tokens can still be imported/expo

[2022-10-20 21:07] lufa23 commented on #487
Current status of the DEX:
All TKN’s are disabled for CLP actions (swap, add/remove, margin) except for the following list:
ATOM, USDC, ETH, JUNO, DAI, AKT, WBTC, OSMO, USDT
All tokens on the enabled list above are available for TKN:TKN swaps
ROWAN - only imports, no exports, no CLP actions
IBC tokens not on the list - no imports/exports, no CLP actions
All ERC-20 tokens can still be imported/expo

[2022-10-20 21:07] #480 closed, assigned to lufa23

[2022-10-20 21:08] lufa23 commented on #488
hey, can you:
- try to clear the cache
- use another frontend provider
- Let us know if the issue persists?

[2022-10-20 21:09] lufa23 commented on #486
hey so,
Current status of the DEX:
All TKN’s are disabled for CLP actions (swap, add/remove, margin) except for the following list:
ATOM, USDC, ETH, JUNO, DAI, AKT, WBTC, OSMO, USDT
All tokens on the enabled list above are available for TKN:TKN swaps
ROWAN - only imports, no exports, no CLP actions
IBC tokens not on the list - no imports/exports, no CLP actions
All ERC-20 tokens can still be impor

[2022-10-20 21:10] #448 closed, assigned to lufa23

[2022-10-20 21:11] #479 closed, assigned to lufa23

[2022-10-21 08:42] Stellar-tickets commented on #490
Nico (NjB):

[2022-10-21 08:44] Stellar-tickets commented on #490
Nico (NjB): Ok I see what happened here. The price for some reason the dex used was .0123, but this was not the price that was shown on the frontend of the dex! The reason I did this tx is because of the disparity in prices that I saw on sifchain and osmosis, where osmosis has a higher price so wanted to test out the arbitrage but then the IBC was not working. Obviously I would not have attempted

[2022-10-21 08:46] Stellar-tickets commented on #490
Nico (NjB): Def should have checked the amount received before the swap.

[2022-10-21 08:47] Stellar-tickets commented on #490
Nico (NjB): on the other hand what was going on with this prices? and why did the frontend not show them correctly?

[2022-10-21 08:55] Stellar-tickets opened #492 "Bug Report - 106"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Export SCRT timeout https://www.mintscan.io/sifchain/txs/8BB4D8FB4CBCA6A5D4D104DF03FE4A72FE2EFF9C2AD67EA17D48293BF3AB9DDF

[2022-10-21 08:55] Stellar-tickets commented on #492
hungng: Also I suggest that you watch the Jazzy AMA session

[2022-10-21 08:55] Stellar-tickets commented on #492
hungng: https://www.youtube.com/watch?v=WqlFYi3MIFE

[2022-10-21 13:36] Stellar-tickets commented on #489
thank_you: Thank you! I'll check out the AMA and see how a regular user on localnet can create a proposal.

[2022-10-22 17:53] Stellar-tickets commented on #466
Ishiida.pcc.eth: Ok thanks. But it keeps on decreasinggg

[2022-10-25 17:33] Stellar-tickets commented on #492
LarryShum: Hello,this bug was reduced before disabled IBC. I hope that I can export my SCRT tokens during the next 72 hours IBC re-enable.

[2022-10-26 17:06] Stellar-tickets commented on #478
dcoignet: Hello, how I can check the USDT back on my wallet if my wallet Keplr is not supported USDT ?

[2022-10-26 17:10] Stellar-tickets commented on #478
dcoignet: Could you explain why the mecanisum of 77% lost. It was because liquidity pool have to keep 50/50 and if Rowan is decrease a lot my USDT is decrease at the same % ? It is the reason why I loose 734 USDT ? This is just to understand. I got that the new liquidity pool should be more safe with maximum 2% lost ? Is my understanding is right ? Thanks.

[2022-11-02 13:05] Stellar-tickets commented on #478
dcoignet: Let me know if you can answer my last message ? Best.

[2022-11-03 19:55] greg-szabo commented on #433
Here's a summary I wrote up about the investigation:

The user is claiming 1239502 LUNA/LUNC token is missing from his/her account. Mintscan shows a transaction that sent this amount over to Terra (Classic) at height `6879637`.

In the user wallet balance, the tokens are last seen at height `6879632`, 5 blocks before the transaction was included in block `6879637`
[code]
Based on the claimed accou

[2022-11-03 20:13] d1gng commented on #433
@greg-szabo situation is strange, but your work is awesome, thanks for your time.

[2022-11-18 23:22] criptonoia opened #493 "bugged transaction output value."
**Describe the bug**

A Detailed description of the issue (what happened, token affected and token amount)
I made a transaction on SifChain ( BBF3222877421610F982565ED36202FC35D94714C40850584CC36D8063A510E3 ) exchanging 26267 ROWAN for 13.4 ATOM. I checked the values and used 1% slippage. The transaction confirmed and I got a notification saying I received 13.4 ATOM. when I checked my wallet, I ha

[2022-11-19 17:26] tuthanden9999 opened #494 "Import / Export issue Can't transfer AKT token from akash network to sifchain"
IBC transfer transaction hash: https://www.mintscan.io/akash/txs/1041D071D3E72E6358C62903F701F68AB859B0F2B82770AB92A15C4BBE27AC1B
Akash network address: akash1qq3a83xxsaxwnlzv7pche8pjh4ktyj5fpqd4mt
Sifchain address: sif1qq3a83xxsaxwnlzv7pche8pjh4ktyj5ffx0yd6

I can't transfer AKT token from akash network to sifchain. Please check above and help me as soon as possible.
Thank you very much!

[2022-11-21 01:06] intercos opened #495 "Keplr wallet incorrectly displays token amount on Sifchain"
**Describe the bug**

Keplr wallet reads the block data on Sifchain 2 days ago, not now
and "IBC transfer" using Keplr wallet is not possible.

Please refer to the following for details.
https://github.com/chainapsis/keplr-wallet/issues/568
https://github.com/chainapsis/keplr-wallet/issues/569

[2022-11-21 02:35] intercos commented on #495
This issue is suspected to be a Keplr wallet bug.
However, it may be related to the Sifchain v1.0.14-Beta upgrade.
It seems that an issue occurred after upgrading to Sifchain v1.0.14-beta.

[2022-11-21 17:13] intercos commented on #495
This issue has been resolved.
thank you.

[2022-11-21 17:13] #495 closed, assigned to nobody