[2022-04-01 17:23] Kalabus commented on #290
**THIS REWARD CYCLE I AM LOSING $29,000 USD!!**

Not sure why all the additional details and screenshots did not make it over into the github page from Discord.  After I compounded my rewards ($90,374.88) back into the pool on Tuesday morning (3/29), I took a screenshot of my Rewards page at 8:13am EST, then at 9:13am EST, which is below:

8:13am
Sif's Expansion:  34302.1773
Pools of the People v4

[2022-04-01 18:20] emperorjm commented on #290
Rewards calculated are also dependent on the ROWAN price so as the price of ROWAN increases the amount of rewards earned decreases.

We have cut over to a new server which now starts accruing rewards from Tuesday morning 8am PST. For this first week the lost rewards from Monday will be added programmatically by the system at the next distribution. That would account for some reduced numbers shown

[2022-04-01 18:34] Kalabus commented on #290
Thank you for the reply, but how does that address my concern of the hourly rewards dropping from 5235.8468/hour to 3,803.9469/hour?

[2022-04-01 19:52] OlegEnthusiast commented on #292
He received less on 29th as well, he cannot submit the calculations, since it's not possible to. But there is definitely a bug

[2022-04-01 20:05] OlegEnthusiast commented on #292
11,258 + 65,660 = 76,919

76,919 + 12,131 = 89 050, he received this, but in Claimed Dispensation amount, there is 93 898

[2022-04-02 18:05] OlegEnthusiast opened #297 "Rewards disappeared"
Hi! The user pooled out 75k the USD value from liquidity, but after that his rewards are completely disappeared from the UI, he tried some basic actions, like refreshing the page and different browsers, but without success.

His address: sif1uk77p6he26undp9wjjav6ygtu53kswl60cd5va
TX of removing liquidity: DC029E695206B7021EDA095AD1D46D66D30E5DD0BF1B62994ED94D2C810BCF1B

![image](https://user-image

[2022-04-02 19:15] emperorjm commented on #292
I have passed it on to a Dev to look into.

[2022-04-02 19:28] emperorjm commented on #297
@OlegEnthusiast this user pooled 3 days ago https://www.mintscan.io/sifchain/txs/E27D45EC5AE12E31EDC4C2EB7735BCE34F01A857ED77731F0CB630EB1266FC87 and then removed all liquidity a day and a half later https://www.mintscan.io/sifchain/txs/DC029E695206B7021EDA095AD1D46D66D30E5DD0BF1B62994ED94D2C810BCF1B but they should still have earned some rewards during this time. This might be a frontend bug. Let

[2022-04-02 23:14] emperorjm commented on #297
The following is the response from the DEV:

"Rewards are based on the pool balance accrued and paid out at the time of dispensation. Pooling in and out with net zero balance times any duration equals zero rewards being dispensed for that week."

[2022-04-03 03:58] Stellar-tickets opened #298 "ticket-79"
**Please write a detailed description of the issue.**
Import transaction for ATOM is failing

**What is the name and amount of the token affected?**
ATOM - 35 tokens

**What is your Sifchain address?**
sif1hswpukxsty6wmfpqu43ezsynh95rd0lnk2fqcs

**What is your address on the other chain?**
cosmos1hswpukxsty6wmfpqu43ezsynh95rd0lnnhxkhm

**What is the link to the transaction has you are having probl

[2022-04-03 14:42] ctrl13x opened #299 "Bigg Export Issue"
I can't export my Atom coins to the CosmosHub network, ask me for a commission in ETH, please solve this problem. More details in the screen video record I attached below. Thanks

https://user-images.githubusercontent.com/98986450/161433405-58a0f3d0-24bd-4ba8-b474-ab715b628780.mp4

[2022-04-03 15:01] OlegEnthusiast commented on #297
@emperorjm before three days ago the same amount was pooled on a different wallet, and all the accrued rewards have disappeared from this wallet as well
sif1ek4as5w4tnqas2qqwfvp0fx2qe9tnj4j7vnca8
Here the transaction where he removed the liquidity from the other wallet:
DA0028B67388DF7D71C1B7AABC61C0DDF9F6379A74DBAE8D856B0D43C7A072FA
this is something that should be reported cause if anybody else

[2022-04-03 15:03] OlegEnthusiast commented on #299
Please take a look, @emperorjm. User tried different browsers and refreshed the page many times

[2022-04-03 23:41] Stellar-tickets opened #300 "ticket-81"
**Please write a detailed description of the issue.**
My REWARDS in the USDC LP is frequently going BACKWARDS. I have 152K USD in there.

**What is the name and amount of the token affected?**
USDC/152K usd

**What is your Sifchain address?**
sif12wsx4daft4ccp0e7mkravh0q7hdayslpymwc3a

**What is your address on the other chain?**
Not known what you mean

**What is the link to the transaction has y

[2022-04-04 12:53] stakrspace commented on #296
<img width="306" alt="Снимок экрана 2022-04-04 в 15 49 19" src="https://user-images.githubusercontent.com/65043457/161547357-c0e1b963-72ff-4e7f-8025-2ffdc0501cb7.png">
<img width="527" alt="Снимок экрана 2022-04-04 в 15 46 09" src="https://user-images.githubusercontent.com/65043457/161547362-ad47edb7-fb2e-44b5-9d03-8e8405e6f8a6.png">
<img width="463" alt="Снимок экрана 2022-04-04 в 15 49 14" src="

[2022-04-04 14:27] emperorjm commented on #297
@OlegEnthusiast an update has been made to account for this scenario but the Devs are still working on fixing the rewards calculation issue. This should be resolved soon.

[2022-04-04 15:23] lufa23 commented on #298
hey, issue should have been solved by now.. Can you check and make sure everything is alright?

[2022-04-04 18:17] ctrl13x commented on #299
??????????????,  @emperorjm

[2022-04-04 18:40] Stellar-tickets opened #301 "ticket-83"
**Please write a detailed description of the issue.**
the swap and add liquidity features can't work

**What is the name and amount of the token affected?**
all of tokens

**What is your Sifchain address?**
sif1c2y4khk54xj8u7kjk9qf5wfcpgkzqwje2ufd7m

**What is your address on the other chain?**
no

**What is the link to the transaction has you are having problem with?**
no

**Are there any error l

[2022-04-04 18:41] dana-nomad commented on #301
He attached photos you can see in ticket 83 on discord

[2022-04-04 18:54] emperorjm commented on #299
Hi @ctrl13x. Can you clear all cache for the DEX and try again.

[2022-04-04 19:07] emperorjm commented on #301
Can you also share the error messages in the browser's console.

<img width="704" alt="image" src="https://user-images.githubusercontent.com/1245772/161614477-10f015c0-6f88-4b7e-8c35-101f8a6bf79f.png">

[2022-04-06 00:41] Stellar-tickets opened #302 "ticket-94 - Rewards Incorrect"
**Please write a detailed description of the issue.**
Previous rewards of about 70 Rowan not displayed after Time until negro dispensation reached 7d 0h.  I have added liquidity to ROWAN/ATOM pool 14 hours ago. Rewards show now only "1.25 ROWAN".
I've checked on balances and keplr wallet and those 70 rowan disappeared.

**What is the name and amount of the token affected?**
ROWAN/ATOM pool with 53

[2022-04-06 00:42] Stellar-tickets opened #303 "ticket"
edited

[2022-04-06 00:44] Kalabus commented on #303
I only received 7 day's worth of rewards, and not the 8 day's worth of rewards.  I have lots of screenshots I can share of reward counts at different intervals/days.  This spreadsheet shows the  last couple month's worth of my rewards, the Amount Claimed, the Rowans/Hour I received, and the Difference in Hourly from one week to the next.  You can see that they are climbing every week (with the exc

[2022-04-06 01:20] Stellar-tickets opened #304 "ticket-96 - - Rewards Incorrect"
**Please write a detailed description of the issue.**
I only received 13233 rowan tokens as reward however, my ui says 16727 tokens. Can you please verify if this is correct

**What is the name and amount of the token affected?**
Rowan, possibly 3-4 thousand

**What is your Sifchain address?**
sif17wpqw98f5yrg0gtgd406mn7jv49n2vtav4as47

**What is your address on the other chain?**
n/a

**What is t

[2022-04-06 02:13] emperorjm commented on #303
Hi @Kalabus. Based on our records you have earned more rewards this week than last week and previous weeks.

Previous Week
----------------

Expansion (2022-03-28 22:59:37.957 -0400): 613,569.185172487 ROWAN
Harvest (2022-03-29 00:45:27.275 -0400): 259,887.0386400959 ROWAN

Current
---------

Expansion (2022-04-05 05:07:26.221 -0400): 629,845.4195911499 ROWAN
Harvest (2022-03-29 00:45:27.275 -0400

[2022-04-06 02:21] emperorjm commented on #304
For **Expansion** (2022-04-05 03:58:08.059 -0400) you received 8,821.115199979718 ROWAN and **Harvest** (2022-04-05 05:36:36.295 -0400) 4,410.557599989855 ROWAN. So the amount received is correct. Can you share a screenshot of what you are seeing on the rewards screen?

[2022-04-06 02:45] Kalabus commented on #303
Yes that is correct...your numbers are slightly off from what my screenshots show, but close enough.  And I should have increased rewards now because I put compounded in my previous week's rewards of $90,647.  The issue though is my rewards this week would be an acceptable rowan per hour IF we were only talking 7 days of rewards, but we should be getting 8 days worth of rewards, and my rowan per h

[2022-04-06 03:16] Kalabus commented on #303
And taking this a step further, on 3/29 BEFORE you guys changed servers or whatever which reset the rewards counter, from 8:13am EST to 9:13am EST, I had gained 5534.8781 rewards for that hour, while Rowan was at 10.3 cents.

![image](https://user-images.githubusercontent.com/97975820/161888848-7f6b5e11-8392-41d8-aeb3-ef1fa3cfea78.png)

How is it that after you guys give us 8 days of Rewards that

[2022-04-06 03:17] emperorjm commented on #303
@Kalabus let me dig into this a bit more and get back to you.

[2022-04-06 03:43] Stellar-tickets opened #305 "ticket-98 - - Rewards Incorrect"
**Please write a detailed description of the issue.**
My dispensed rewards show 1976ROWAN but I never received anything in my balance

**What is the name and amount of the token affected?**
ROWAN, 1976

**What is your Sifchain address?**
sif10kccu43rr34y6lpcg435nnm42pczu9my29e5xu

**What is your address on the other chain?**
sif10kccu43rr34y6lpcg435nnm42pczu9my29e5xu

**What is the link to the tra

[2022-04-06 03:44] Stellar-tickets opened #306 "ticket-97 - Rewards Incorrect"
**Please write a detailed description of the issue.**
Hi. I have added liquidity 8 days ago and rewards for one day are missing. Please check the address sif1gw9n62cpmukfxkc09ehs3mmtj4myqwgc0ry0fh

**What is the name and amount of the token affected?**
Rewards rowan

**What is your Sifchain address?**
sif1gw9n62cpmukfxkc09ehs3mmtj4myqwgc0ry0fh

**What is your address on the other chain?**
N/a

**W

[2022-04-06 03:44] Stellar-tickets opened #307 "ticket-92 - Rewards Incorrect"
**Please write a detailed description of the issue.**
Hi,can you help me check if the reward of this address is a little less?

**What is the name and amount of the token affected?**
rowan

**What is your Sifchain address?**
sif1axv8h3m0d65pdp8sdsysuzm5r095exe4vnknz4

**What is your address on the other chain?**
no

**What is the link to the transaction has you are having problem with?**
no

**Are

[2022-04-06 05:58] Stellar-tickets opened #308 "ticket-99 - Rewards incorrect"
**Please write a detailed description of the issue.**
I checked my rewards on Sunday and they were at 7900. I checked again on Monday and they had dropped down to 7000. They remained stuck there until dispensation. I've been receiving just over 7000 a week from the juno pool, but this week I added $1500 liquidity to the Atom pool. So, with the extra day, plus the added the liquidity, I've received

[2022-04-06 11:44] Figuartsmate commented on #305
Will anyone help me here? Still no rewards received while it shows the amount already claimed and received

[2022-04-06 12:00] Kalabus commented on #303
Great @emperorjm!  Thanks so much!

[2022-04-06 13:48] Stellar-tickets opened #309 "ticket-95 - Rewards incorrect"
**Please write a detailed description of the issue.**
Hello

**What is the name and amount of the token affected?**
Rowan rewards

**What is your Sifchain address?**
sif1scsaagk2md4fsv5r6xts8ppwp95pel0mcmtzxz

**What is your address on the other chain?**
0

**What is the link to the transaction has you are having problem with?**
0

**Are there any error logs you can share?**
No

[2022-04-06 14:15] Stellar-tickets opened #310 "ticket-101 - Rewards incorrect"
**Please write a detailed description of the issue.**
Reward amounts for last week seem to be incorrect. Wallet address: https://www.mintscan.io/sifchain/account/sif1l9sw08qsxza2e8enmu370wgwntpkyvj0mu87r2  Total value locked for the first 5 days was approximaltely 95k usd, then Saturday about 5k were removed and I think then rewards stopped accumulating, about 25k liquidity got removed on Sunday.

[2022-04-06 14:16] Stellar-tickets opened #311 "ticket-102"
**Please write a detailed description of the issue.**
Hi. I have been farming in the ROWAN/USDC pool for quite some time. Last week my rewards looked correct until the last day where it started counting backwards. I have had around 200.000$ in the pool and my rewards ended up at only 102k ROWAN which is quite a bit off my calculations.

I also had 2 community helpers do the math for me in general

[2022-04-06 14:17] Stellar-tickets opened #312 "ticket-103"
**Please write a detailed description of the issue.**
Rewards are 25% lower than my expected based on your rewards calcuation formula

**What is the name and amount of the token affected?**
ROWAN/ USDC Pool of around USD23,000 placed on 5 April at 3am PST time

**What is your Sifchain address?**
sif18y7xef0zxnns7ev44cch2wfathw74mlzw9zmra

**What is your address on the other chain?**
Not relevant

[2022-04-06 15:01] emperorjm commented on #305
Hi @Figuartsmate. You received the following number of tokens:
- Expansion (2022-04-05 03:27:43.699 -0400): 1,297.165257063923 ROWAN
- Harvest (2022-04-05 05:10:49.140 -0400): 648.582628531962 ROWAN

You executed the following liquidity addition shortly after with 1,296.915257063923000000ROWAN: https://www.mintscan.io/sifchain/txs/E8A19F3FD020A881C50CE9B3D0EDF8DA6FD9C5037FFED784F54F83D7C8A29817 an

[2022-04-06 15:10] emperorjm commented on #306
You received the following number of tokens:

Expansion (2022-04-05 06:44:19.607 -0400): 3,593.64134733023 ROWAN
Harvest (2022-04-05 07:03:49.332 -0400): 1,796.82067366511 ROWAN

Can you say the amount you were expecting and how you came to that amount?

[2022-04-06 15:43] emperorjm commented on #303
Hi @Kalabus. Based on discussions with the team, the cutover to the new rewards implementation saw a change to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-step-by-step/rewards#reward-calculations) as the old formula was over paying some accounts. The amounts distributed this week are correct and will be the benchmark going forward.

[2022-04-06 15:48] emperorjm commented on #308
Based on discussions with the team, the cutover to the new rewards implementation saw a change to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-step-by-step/rewards#reward-calculations) as the old formula was over paying accounts. The amounts distributed this week are correct and will be the benchmark going forward.

[2022-04-06 15:52] emperorjm commented on #308
You received the following number of tokens:

Expansion (2022-04-05 06:43:13.501 -0400): 4,727.77497287204 ROWAN
Harvest (2022-04-05 07:02:56.913 -0400): 2,363.88748643602 ROWAN

So you earned 7,091.66245930806 ROWAN in total.

[2022-04-06 16:03] emperorjm commented on #307
You received the following number of tokens:

Expansion (2022-04-05 05:59:31.298 -0400): 20,270.0213695622 ROWAN
Harvest (2022-04-05 05:50:14.737 -0400): 10,135.0106847811 ROWAN

I am seeing where you have received a lot more rewards than the previous week's distribution due to the additional liquidity.  The cutover to the new rewards implementation saw a change to the rewards calculation formula

[2022-04-06 16:05] emperorjm commented on #309
Please submit additional information as the issues you are experiencing.

[2022-04-06 16:38] emperorjm commented on #310
There will be cases where users have earned less rewards this week compared to previous weeks and this could be due to the cutover to the new rewards implementation were changes were made to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-step-by-step/rewards#reward-calculations) as the old formula was over paying accounts. The amounts d

[2022-04-06 16:39] Kalabus commented on #303
Thank you for discussing with the Team, but it still doesn't seem to add up for me.  And can you tell me if I was paid out for 7 days or 8?:

- from 3/22 until 3/29 I earned 5199.144167 Rowans gained per hour (873456.22/168 hours)
- after 3/29, after the rewards reset themselves, IF it was for 8 days, I only received 4,920.6872 Rowan per hour, which as you said is based on the new benchmark
- I am

[2022-04-06 16:40] emperorjm commented on #311
The issue of rewards counting backwards was corrected but will be cases where users have earned less rewards this week compared to previous weeks and this could be due to the cutover to the new rewards implementation were changes were made to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-step-by-step/rewards#reward-calculations) as the

[2022-04-06 16:41] emperorjm commented on #312
Based on discussions with the team, the cutover to the new rewards implementation saw a change to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-step-by-step/rewards#reward-calculations) as the old formula was over paying accounts. The amounts distributed this week are correct and will be the benchmark going forward.

[2022-04-06 16:54] emperorjm commented on #303
As the price of rowan affects the rewards earned the amount earned from the 2nd to the 5th of June when ROWAN was over 11cents would be less than those earned in the last 4 fours where rowan is almost under 10 cents. You will not earn the same amount of tokens every hour if the ROWAN price continuously fluctuates. I will still forward your query to the Devs.

[2022-04-06 17:08] Kalabus commented on #303
Thanks so much!  Do you by chance have a spreadsheet you can share to assist with those calculations? Thanks again!

[2022-04-06 18:07] Ugluuk commented on #311
Hi. My liquidity was between 199 to 206k USD so 102k Rowan in rewards for 8 days cant be right. It should have been around 120k. With the rewards i have gotten so far this week im gonna end much higher than what i got for 8 days last week.

![image](https://user-images.githubusercontent.com/103140322/162039823-91604388-9bab-4f8b-bab6-dc24ee8dccfb.png)
![image](https://user-images.githubusercontent

[2022-04-06 18:42] Stellar-tickets opened #313 "ticket-105 - Did not receive Rewards for the last week"
**Please write a detailed description of the issue.**
Did not receive Rewards for the last week

**What is the name and amount of the token affected?**
Rowan Rewards.Dont know the Amount because there was an Pending Rewards UI Issue

**What is your Sifchain address?**
sif1gwfccvzd75wnu99fgaf5q3xympn0kxt4uazd24

**What is your address on the other chain?**
no

**What is the link to the transaction

[2022-04-06 18:51] emperorjm commented on #313
You are correct. You did not receive any rewards from the last distribution which shouldn't have been affected by the liquidity removal done 4 days ago. I am going to pass this on to the Devs to look into.

[2022-04-06 20:02] dana-nomad commented on #309
"I received 19,6k Rowan rewards today, but the Total pending rewards today told me I had build up ca 21,4k rewards. Now the rewards page tells me that I have build up 589.74 Rowan rewards in the first 6 hours but I have compounded my rewards today so with the ca. 2k Rowan missing it looks to me like there is something going wrong atm."

[2022-04-07 04:41] LUNAticHodler commented on #306
Yes probably around that which translates in around $540. However I did have a total of around $13K at the beginning of the weekly rewards and during the last day of the rewards I have removed half.
So by my calculations, with an average of 0.84%(around 310% apr), the rewards should have been higher than ~5400 rowan. (0.84x13,000)/100=109.2 (usd/day)
109.2x6=$655 (usd in total 6 days) which is alr

[2022-04-07 04:58] LUNAticHodler commented on #306
Please bear in mind that I have used $rowan at a $0.10 price and the current price is actually higher even now after the market correction.

[2022-04-07 13:47] emperorjm commented on #306
Between the March 29th and April 5th the price ranged from $0.104 to $0.116 so at the highest point compared to $0.10 that's over a 14% difference so the variables do fluctuate so when you do the calculations with one value over a 7 day period you will see a difference compared to the actual calculations which take the ROWAN price at approximately 25 minute intervals throughout that 7 day period.

[2022-04-07 14:15] LUNAticHodler commented on #306
Yes, it’s true, as a matter of fact on 1st Apr, Rowan dropped under 0.1 and only began to climb on 2, topped on 4th then dropped on 5. So that means, more rowan should have been dropped as rewards, not less. You can actually average it.

But I have been watching the rewards daily and during the update that occurred on Sif, rewards were showing 0 to everyone then one day of the rewards was missing.

[2022-04-07 14:55] Ugluuk commented on #311
Will i get further updates on this or do i have to add another ticket?

[2022-04-07 16:30] emperorjm commented on #306
You receive less ROWAN as the ROWAN price increases and more when the price decreases.  I will forward your issue to the Devs.

[2022-04-07 16:33] emperorjm commented on #311
I have forwarded your issue to the Devs.

[2022-04-08 08:39] OlegEnthusiast commented on #292
Hey, @emperorjm please give some update on this issue

in addition to the fact that last time he was not credited with at least 4847.9 ROWAN, he hasn't received part of the tokens again, let me show once again
![image](https://user-images.githubusercontent.com/92320396/162397774-bb0b950e-dfc7-44c9-b05e-7ddd83c9d75e.png)

11258.68+65660.34=76919.02

![image](https://user-images.githubusercontent.co

[2022-04-08 14:35] emperorjm commented on #292
Hi @OlegEnthusiast. I have passed this issue onto the Devs. @bksifchain should be able to give an update.

[2022-04-10 10:40] Ugluuk commented on #311
Thank you. When can i expect a reply as it has taken 3 days now?

[2022-04-11 15:07] Stellar-tickets opened #314 "Pending rewards continue to accumulate after the cutoff time"
**Please write a detailed description of the issue.**
difference between total pending reward and the actual pay out

**What is the name and amount of the token affected?**
683 rowan

**What is your Sifchain address?**
sif1tgrj7sakajqpmfngz2jrja2u98rq0t0rhlpsjp

**What is your address on the other chain?**
NA

**What is the link to the transaction has you are having problem with?**
NA

**Are there

[2022-04-11 15:25] emperorjm commented on #314
These two screen shots were captured on April 5th when the last reward was paid out:

![Reward](https://user-images.githubusercontent.com/1245772/162771985-f86b9ece-8a30-4611-9e44-f4c0a17048f3.png)

[2022-04-11 15:27] emperorjm commented on #314
The user receive 24,649.42 ROWAN but as you can see on the pending screen the amount shown was 25,339.14 which can be confusing.

- Expansion (2022-04-05 09:27:00.188 -0400): 16,432.95208077906 ROWAN
- Harvest (2022-04-05 08:43:18.918 -0400): 8,216.47604038953 ROWAN

[2022-04-12 19:08] johnt1973 opened #315 "Import / Export issue"
## Describe the bug
I am trying to transfer ROWAN from Sifchain to Osmosis (using Cosmos) but it ONLY gives me Ethereum as an option for network

A Detailed description of the issue (what happened, token affected and token amount)
I am trying to transfer ROWAN from Sifchain to Osmosis (using Cosmos) but it ONLY gives me Ethereum as an option for network

## How to Reproduce

Steps to reproduce the

[2022-04-12 19:33] emperorjm commented on #315
Hi @johnt1973. Thanks for bringing this to our attention. I tried just now and I am also only able to select the Ethereum network. I'll forward this issue to the Devs.

![Sifchain](https://user-images.githubusercontent.com/1245772/163040127-4b9cc28d-311d-4ce4-85b2-7c4683d96477.png)

[2022-04-12 20:05] johnt1973 commented on #315
Thank you so much for looking into this! Yes, it has been like this every time I tried in last couple of weeks...how long do you think it might take to resolve? also I was a little bit shocked in last hour suddenly under pools, I only seemed to see half of my account balances, I assumed it was a temporary bug, and sure enough within a few minutes now everything is displaying properly again which i

[2022-04-12 20:18] lufa23 commented on #311
hey, let us get back to you.. There have been several users affected, and we are taking care of several cases. We are looking into it, we appreciate your patience

I can see that today you received 106k, which is around the same amount of last week
Can you be more specific on what is the specific calculation that makes you think that you should have received 120k last week?

[2022-04-12 20:24] lufa23 commented on #311
I see you received around 106k today, which is a very similar amount to last week
Can you be more specific on how did you come up calculating 120k?
<img width="226" alt="Screenshot 2022-04-12 at 22 23 20" src="https://user-images.githubusercontent.com/67415638/163047368-1c218d16-ab5b-46e3-afd5-4e8697475be9.png">

[2022-04-12 20:26] lufa23 commented on #311
I can see that today you received around the same amount of last week
Can you be more specific on what is the specific calculation that makes you think that you should have received 120k last week?
![Uploading Screenshot 2022-04-12 at 22.23.20.png…]()

[2022-04-12 20:35] lufa23 commented on #300
Do you mean that you received less rewards?

There are cases where users have earned less rewards this week compared to previous weeks and this could be due to the cutover to the new rewards implementation were changes were made to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-step-by-step/rewards#reward-calculations) as the old formul

[2022-04-12 20:37] lufa23 commented on #301
![2022-04-05_3 41 34](https://user-images.githubusercontent.com/67415638/163049451-8ce72a7a-eb35-4b69-9b7e-877d7013336d.png)

[2022-04-12 20:38] #301 closed, assigned to emperorjm

[2022-04-12 23:53] Ugluuk commented on #311
Yes. The rewards i got this week is correct for 7 days with around 15k in Rowan daily. Last week there was done changes to the reward program. So we were getting paid for 8 days as you see in the announcement from Sifchain team.
Before the last day my rewards started counting backwards and i did not get that last day.

![image](https://user-images.githubusercontent.com/103140322/163072776-453d990a

[2022-04-12 23:55] Ugluuk commented on #311
As you can see above in the first screenshot also Dreamcatcher confirmed that i was missing 1 day of rewards and he came to 121k. The same as i calculated.

[2022-04-13 01:06] DavesCrypto1 opened #316 "Rewards Amounts Decreasing"
# Liquidity Mining / Rewards issue

## Describe the bug
On March 22, I claimed 490k ROWAN rewards. I swapped half ROWAN for ATOM and put all in liquidity pool.
On March 28, I claimed 522k ROWAN rewards, **earning 32k more rewards than prior week**. I swapped half ROWAN for ATOM and put all in liquidity pool.
On April 4, I claimed 544k ROWAN rewards, **earning 22k more rewards than prior week**. I

[2022-04-13 06:25] vasul17 commented on #292
14 days the ticket remains without consideration, probably the team is just not interested in solving "small" problems of users

[2022-04-13 09:41] Stellar-tickets opened #317 "ticket-80"
**Please write a detailed description of the issue.**
When adding ETH liquidty, I can not sumbit addition of 100% of eth that I have. I have to lower the amount by lowest decimal value and than I am able to sumbit it

**What is the name and amount of the token affected?**
ETH 0.577399

**What is your Sifchain address?**
sif1x7442k60gnd3wf2e9e45q3t6a42nkl22yeumjj

**What is your address on the othe

[2022-04-13 09:42] lufa23 commented on #302
hey, can you share with us the calculation through which you think you should have received more?

There are some cases where users have earned less rewards this week compared to previous weeks and this can be due to the cutover to the new rewards implementation were changes were made to the rewards calculation formula (see new formula here https://docs.sifchain.finance/using-the-website/web-ui-st

[2022-04-13 11:27] talves12 opened #318 "not receiving rewards for lm"
# Liquidity Mining / Rewards issue

## Describe the bug
i have not been receiving the correct amount of rewards for lm. i still havent received any for 4/5/22 despite what it says on your end apparently. can you have a look?

## Pool(s) affected
<Please write here the pool(s)you are having issues with>.

## Liquidity Add transaction(s)
Please write here details on the provided liquidity(amount, pa

[2022-04-13 17:32] emperorjm commented on #292
@vasul17 your address has been added to a list of addresses that will be audited and updates will be given on Discord in regards to the findings and when compensations will be made if any. I'll close this ticket for now.

[2022-04-13 17:32] #292 closed, assigned to emperorjm, OlegEnthusiast, bksifchain

[2022-04-13 17:34] emperorjm commented on #311
@Ugluuk your address was added to a list of addresses that will be audited and updates will be given on Discord in regards to the findings and when compensations will be made if any.

[2022-04-13 17:54] emperorjm commented on #316
Hi @DavesCrypto1. Your address has been added to a list of addresses that will be audited and updates will be given on Discord in regards to the findings and when compensations will be made if any.

[2022-04-13 20:21] vasul17 commented on #292
@emperorjm I'm not the owner of this address, but I'm just very surprised that the team does not respond for a long time, and then you just close the ticket, and not waiting for the response of the developers

[2022-04-13 20:26] Yoshi210 commented on #292
probably this project is just a scam because there are all signs of it and there is no feedback from the developers

[2022-04-14 07:43] ghost opened #319 "-"
--

[2022-04-14 07:55] siffuku commented on #303
wow you made 6 mill rewards and are wasting dev time over pennies?? get real man, let devs focus on other issues, you make $600k in rewards lol

[2022-04-14 17:57] #303 closed, assigned to emperorjm, bksifchain

[2022-04-14 18:56] ghost commented on #319
@OlegEnthusiast @karan-sifchain @ivorychristine @sml1991

Please assign ticket to dev team and advise.

[2022-04-15 07:29] Kyoshii123 opened #320 "Not getting correct rewards this week"
# Liquidity Mining / Rewards issue

## Describe the bug
Not getting correct rewards this week under total pending rewards. I think i should be getting way more than is displayed. UI BUG ?

## Pool(s) affected
ROWAN - USDT

## Liquidity Add transaction(s)
Please write here details on the provided liquidity(amount, pairs and date) and the links to those transactions.

## Claim transaction(s)
Please

[2022-04-16 08:02] talves12 commented on #318
hello! its been 3 days, can somebody please get back to me on this?!!!!!!

[2022-04-16 13:14] skymochulsky opened #321 "Rewards"
# Liquidity Mining / Rewards issue

## rewards calculations this week is incorrect on my account, it's less in x1.8 than it should be.

## pools eth/rowan and atom/rowan

## sif1xx0f295j4xlu87qpc3jj44lv2zpvrcj2llp2qn

## calculator show 47800rowans at this moment, should be is about 89000rowans

## sif's extention and pool of the people v4

##
![IMG_20220416_171232_668](https://user-images.githubu

[2022-04-16 13:54] talves12 opened #322 "amount of rewards received wrong"
# Liquidity Mining / Rewards issue

## Describe the bug
the amount of rewards i have received since adding liquidity is way off. i didnt receive any rewards at all last week.

## Pool(s) affected
<Please write here the pool(s)you are having issues with>.

## Liquidity Add transaction(s)
Please write here details on the provided liquidity(amount, pairs and date) and the links to those transactions.

[2022-04-16 13:58] talves12 opened #323 "amount of rewards received is wrong. none received at all for last week!!!!!!!!!!!!!!!"
# Liquidity Mining / Rewards issue

## Describe the bug
amount of rewards received is wrong. none received at all for last week. only began providing liquidity a little over 2 weeks ago, so it shouldn't be that difficult to remedy.

## Pool(s) affected
<Please write here the pool(s)you are having issues with>.

## Liquidity Add transaction(s)
Please write here details on the provided liquidity(amo

[2022-04-16 15:50] emperorjm commented on #318
Hi @talves12. I am seeing where your rewards have been distributed:

Last Week:
- Expansion (2022-04-05 05:16:59.215 -0500):  310.0016808219211 ROWAN
- Harvest (2022-04-05 05:21:12.624 -0500): 155.0008404109606 ROWAN

This Week:
- Expansion (2022-04-11 21:50:33.917 -0500):  273.4310020654546 ROWAN
- Harvest (2022-04-12 01:09:33.904 -0500): 136.7155010327272 ROWAN

You've said you are not receiving

[2022-04-16 15:54] emperorjm commented on #319
Hi @siffuku. We are looking into this.

[2022-04-16 16:01] emperorjm commented on #321
Hi @skymochulsky. We are looking into this.

[2022-04-16 16:04] emperorjm commented on #322
Duplicate issue

[2022-04-16 16:04] #322 closed, assigned to nobody

[2022-04-16 16:05] emperorjm commented on #323
Duplicate issue

[2022-04-16 16:05] #323 closed, assigned to nobody

[2022-04-16 16:07] emperorjm commented on #320
Hi @Kyoshii123. We are looking into this.

[2022-04-16 16:40] talves12 commented on #323
ok, you guys may show that rewards were distributed to me but if you check
my address on mintscan, you will see that this is not the case. i
received 2 dispersals on tues for this past week equaling about $30.00
which i instantly staked. that seemed a bit low to me but this week ive
still received nothing. i appreciate you taking the time to help me out
with this.

[2022-04-16 16:54] talves12 commented on #318
I also wanted to add that I'm supplying about $700 to liquidity pools. My
rewards for this past week would be quite a bit more than last week and in
the figures you sent me, that's not nearly the case. I should have paid
closer attention apparently. I wasn't aware you guys were having these
types of issues. Thanks again for helping me to sort this out.

On Sat, Apr 16, 2022, 8:50 AM Adrian Thompso

[2022-04-17 02:41] talves12 commented on #318
it may show on your guys' end that rewards have been dispensed, but if you check on mintscan, this is definitely not the case. i actually don't even think the 875.15 expected rewards that you guys have showing for me is even an accurate amount. it should be higher. i would have notified team sooner, but my first week on the i wasn't sure if rewards were sent directly to wallet or added back to poo

[2022-04-17 03:15] talves12 commented on #318
will you guys please have the devs take a look and audit my address? this most definitely needs to be adjusted to the correct amounts. even today, my pending rewards have been stuck at 236.93 for much of the day now. i don't know if this is due to them possibly working on the issue or not but there are obviously problems with my account. thanks for your assistance.

[2022-04-17 08:21] Kyoshii123 commented on #320
Hi @emperorjm . Thank you for your response and help.

[2022-04-17 10:59] Vitaminchenko opened #324 "Wrong rewards in previous week"
# Liquidity Mining / Rewards issue

## I receive smaller amount of rewards in previous week 11527 Rowan instead of 13735 Rowan (not received 2208 Rowan)

## Rowan/eth and Rowan/usdc

## On Tuesday, 12 April, I didn’t receive 2208rowan

## sif1at0s92744mwl65hyg2aj9lha3wrdqdpy2mxt8p

##
![CB108352-61BD-48CA-BE6F-122DF2D73820](https://user-images.githubusercontent.com/103862525/163711511-1b62e164-995

[2022-04-17 16:03] Kyoshii123 commented on #320
is it possible for you to also check previous week rewards if they were all dispensed?
Thank you!

[2022-04-17 19:00] emperorjm commented on #320
Yes all rewards from last week were dispensed:
- Expansion (2022-04-12 00:20:43.717 -0500): 36,230.5556832926 ROWAN
- Harvest (2022-04-12 02:08:55.977 -0500): 18,115.27784164634 ROWAN

[2022-04-17 19:14] Kyoshii123 commented on #320
Thank you. Any news on the current rewards issue ?

[2022-04-18 17:49] ghost commented on #319
@emperorjm added additional findings above, I hope devs can make me whole for this simple bug and we can move on! Thanks!

[2022-04-19 10:59] rborland121 opened #325 "Reduced liquidty mining rewards"
Hi,

my rewards were showing as over 20K rowan on sunday.  I had 40K USD invested in the ROWAN/USDC pool until sunday (removed 35K since then).  My rewards are now showing as only 11K rowan which is surely too low for having 40K USD invested for over 5 days in a 300% pool - I'd expect rewards come Tuesday to be over 20K rowan at a 300% APR.

I think the same thing happened last week.  I had 40K in

[2022-04-19 23:18] talves12 commented on #322
maybe you should fix the problem before you close it

[2022-04-20 04:40] mbaileyff opened #326 "No rewards distributed after PMTP conversion"
# Liquidity Mining / Rewards issue
I accumulated over 8500 ROWAN before 4/19/22 and none were rewarded after the PMTP switchover

## Pool(s) affected
Pools of the People

## Liquidity Add transaction(s)
Pools ROWAN/LUNA and ROWAN/ATOM

## Claim transaction(s)
Please write here details on the claim transactions (amount, pairs and date) and the links to those transactions

## Sif address
sif1jfqml94

[2022-04-20 05:37] #325 closed, assigned to nobody

[2022-04-20 16:04] emperorjm commented on #319
@siffuku an audit will be done which will take a few weeks to complete after which the rewards will be distributed.

[2022-04-20 16:06] emperorjm commented on #324
Hi @Vitaminchenko.  An audit will be done which will take a few weeks to complete after which the rewards will be distributed.

[2022-04-20 16:07] emperorjm commented on #326
Hi @mbaileyff.  An audit will be done which will take a few weeks to complete after which the rewards will be distributed. an announcement was made on Discord in the announcement channel.

[2022-04-20 18:38] ghost commented on #319
Thanks, will you update me here?

[2022-04-20 22:57] mbaileyff commented on #326
Ty

On Wed, Apr 20, 2022 at 9:07 AM Adrian Thompson ***@***.***>
wrote:

[2022-04-21 22:04] 88yarcev88 opened #327 "No rewards come after the new PMTP program"
Hello. Since the start of the new liquidity program, there have been no awards received. sif157lhf9e3dqm2n2f5epxrsxze0e25ne9qt44hst

[2022-04-22 07:39] Ozerdemirel opened #328 "Decreased liquidity"
**Describe the bug**

My liquidity amount is constantly decreasing

A Detailed description of the issue (what happened, token affected and token amount)

I didn't get any reward in the atom/rovan pool I made for liquidity. There is a constantly decreasing graph
![405250CD-E050-4198-8C25-712064A83A5C](https://user-images.githubusercontent.com/104192401/164631504-d2e39330-5f6e-4722-b294-da027e3cd0d2

[2022-04-22 15:46] abuzinneerah opened #329 "cant swap atom to rowan"
**Describe the bug**

A Detailed description of the issue (what happened, token affected and token amount)

Cant swap my atom to rowan

**How to Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

**Expected behavior**
<Please write a clear and detailed description of what you expected to happen.>

**TX Hashes** (if applicabl

[2022-04-22 17:39] dana-nomad opened #330 "time remaining for unbonding period disappears"
people cannot see the amount of days left in their unbonding period. it disappears and refreshing won't bring it back

[2022-04-22 20:52] emperorjm commented on #327
Hi @88yarcev88. Rewards from the new Ascension rewards program are generated at each block which works out to be every 6 seconds and are automatically compounded in your pool. Therefore you won't see the tokens in your wallet but in your pool value.

[2022-04-22 20:59] 88yarcev88 commented on #327
Hello! The number of coins in the pool has become less compared to a week earlier (since the addition of the revarods received under the last program) was 38500 rowan, now 38200 rowan, and the total value of the pool has not increased either.

[2022-04-22 21:04] 88yarcev88 commented on #327
Hello! The number of coins in the pool has become less compared to a week earlier (since the addition of the revarods received under the last program) was 38500 rowan, now 38200 rowan, and the total value of the pool has not increased either.

[2022-04-22 22:37] emperorjm opened #331 "Users unable to import Ethereum based tokens"
There seems to be an issue with the Peggy bridge which is preventing users from importing their tokens to the DEX. A particular user is receiving an error message "**Cannot read properties of undefined (reading 'call')**".

[2022-04-23 00:11] ivorychristine commented on #331
Hi Kym. I've just been testing my Metamask with other apps (eg, zapperDOTfi, polygon bridge) and they all display correct token balances for my MM wallet. It's only the sifchain import function that's displaying zero balances for my tokens. It seems like your bridge isn't working properly

[2022-04-23 00:16] ivorychristine opened #332 "Cosmostation App Error"
**Describe the bug**

A Detailed description of the issue (what happened, token affected and token amount)

**How to Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

**Expected behavior**
<Please write a clear and detailed description of what you expected to happen.>

**TX Hashes** (if applicable)

Please provide links to

[2022-04-23 07:52] Vyacheslav999 opened #333 "Pool replenishment"
# Liquidity Mining / Rewards issue

## Describe the bug
Hi, I can't align the pool using an asymmetric deposit, since the deposited token (USDC) is distributed between USDC and rowans

## Pool(s) affected
<Please write here the pool(s)you are having issues with>.
USDC \ Rowan
## Liquidity Add transaction(s)
Please write here details on the provided liquidity(amount, pairs and date) and the links t

[2022-04-23 17:02] MPOLloeng commented on #331
![Devt](https://user-images.githubusercontent.com/104271202/164916097-67585873-5ef3-4068-ab55-e16d11f300fa.png)

Told that this would help the devs. This is what is seen in the console when the error occurs (chrome).

[2022-04-24 11:46] lufa23 opened #334 ""failed to fetch" error when swapping"
**Describe the bug**

When trying to execute a swap, the following error is encountered:
signature verification failed; please verify account number (7748), sequence (21977) and chain-id (sifchain-1): unauthorized

The swap execution is also noticeable slower than before. Sometimes the confirmation window just spins for 30 seconds, then it says “failed to fetch“
![2022-04-26 10 08 06](https://user

[2022-04-24 11:59] lufa23 commented on #333
mm.. i just tried myself and it seemed to be working fine..

Can you try again and share the console log that you get by using the browser dev tools?
<img width="704" alt="devtools" src="https://user-images.githubusercontent.com/67415638/164975322-02f34a52-000f-437f-b131-5a9d1e79b3f2.png">

[2022-04-24 12:00] lufa23 commented on #332
Cosmostation is looking into it

[2022-04-24 12:05] lufa23 commented on #330
hey @dana-nomad can you share the specific error logs that user get by using the browser dev tools?
<img width="704" alt="devtools" src="https://user-images.githubusercontent.com/67415638/164975534-abfe1074-94f7-432c-b360-90a295b64fe2.png">

(I am trying to replicate the issue but i am currently facing another issue)

[2022-04-24 12:06] lufa23 opened #335 ""unbound liquidity" error 504"
**Describe the bug**
When trying to unbound liquidity, the following issue appears:

[code]

[2022-04-24 12:13] lufa23 commented on #329
yeah ATOM - ROWAN swaps seem to have issues

<img width="675" alt="Screenshot 2022-04-24 at 14 12 43" src="https://user-images.githubusercontent.com/67415638/164975925-3a624126-37b3-4b6d-9ce4-6d6091f28044.png">
<img width="610" alt="Screenshot 2022-04-24 at 14 13 21" src="https://user-images.githubusercontent.com/67415638/164975938-46fd08f8-c9fa-4c4d-9fe4-cbf694fdcaae.png">

We're checking on it

[2022-04-24 18:27] Vyacheslav999 commented on #333
Hello, I'm sending you new screenshots and a screenshot of the console. Is this what was needed?

 

 
 
--
Вячеслав Бисеров
Отправлено из Почты  Mail.ru
 

[2022-04-24 18:29] Vyacheslav999 commented on #333
Something else

 

 
 
--
Вячеслав Бисеров
Отправлено из Почты  Mail.ru
 

[2022-04-25 02:45] #331 closed, assigned to alanrsoares, bksifchain

[2022-04-25 08:02] Mrakama opened #336 "REDELIGATION ERROR"
I have 70% of my portfolio delegated to THORchain validator and observe that this Validator is Shutting down in 2days. I have been trying to redelegate my tokens to another delegator and the transaction keeps failing even when I have increased the gas fee to 10k. Attached is the video of me trying to redelegate. Kindly attend to this because I can't afford to loose this tokens.

[2022-04-25 08:22] Mrakama commented on #336
My Sifchain address is (sif17m6vqcfx9uhsuzude7cjnh0hcj5fzql638d5su)

[2022-04-25 09:13] Mrakama commented on #336
[REDELIGATION ERROR.zip](https://github.com/Sifchain/Support-Tickets/files/8553171/REDELIGATION.ERROR.zip)
Kindly watch video or the process and error

[2022-04-25 12:36] lufa23 opened #337 "Glitchy UI"
# User Interface Issue
## Describe the bug
UI is glitchy, as balances gets updated after a while

## To Reproduce
1. Import ERC-20
2. Swap to Rowan

## Expected behavior
I expect Frontend to quickly update, while it takes a while even after refreshing the page
## Screenshots
Some logs that may help:
<img width="659" alt="Screenshot 2022-04-25 at 14 33 30" src="https://user-images.githubusercontent

[2022-04-25 12:40] lufa23 commented on #336
i tried myself, and redelegation seems to work fine.

If you encounter issues again, can you
<img width="704" alt="devtools" src="https://user-images.githubusercontent.com/67415638/165090835-7396a261-7198-4823-9b9f-feec7e493988.png">
 share the error logs by using the browser web tools?
Thanks

[2022-04-25 14:21] lufa23 commented on #330
hey @dana-nomad has this been resolved?

[2022-04-25 19:37] Mrakama commented on #336
https://api-cryptoeconomics.sifchain.finance/api/vs?key=userData&snapshot-source=mainnet&timestamp=now&address=sif17m6vqcfx9uhsuzude7cjnh0hcj5fzql638d5su

Above is the error log as requested

[2022-04-26 13:30] lufa23 commented on #292
hey guys, as you may have noticed, we have a considerable backlog of addresses to audit and we really appreciate your patience on this..

[2022-04-26 14:00] bksifchain commented on #335
@lufa23  - was this a ledger issue or a standard use of keplr?

[2022-04-26 14:29] bksifchain commented on #329
This issue is resolved on betanet. Closing.

[2022-04-26 14:29] #329 closed, assigned to lufa23, bksifchain

[2022-04-26 14:36] lufa23 opened #338 "Stuck import TX"
**Description:**
15K USDC stuck transaction

**What is your Sifchain address?**
sif12wsx4daft4ccp0e7mkravh0q7hdayslpymwc3a

**What is your address on the other chain?**
0xC12db58827524592C8a77C33B6b9DF501f32d12A

**What is the link to the transaction has you are having problem with?**
https://etherscan.io/tx/0x4ba34303610d8edc57d96d05b2cdcf63c05319136b97029d79522a1e22e75f3f

**Are there any error

[2022-04-26 17:52] banshee commented on #338
This isn't the transaction going through?

https://www.mintscan.io/sifchain/txs/80A3B338C8671BABEBF56AD687A450F993C0DBB1588669C6A5E98E03A4472FD7

[2022-04-27 14:32] Rewardrequest opened #339 "Missing Expansion Reward Distribution from 2022-04-12 (-> not the current audit week)"
# Liquidity Mining / Rewards issue

## Describe the bug
In the week prior to the last Expansion reward payout (that has not occured yet), rewards were not distributed to 3 of my wallets. I already had this problem a few months back, but then the missing amount was distributed with the next weekly distribution. As this has not yet occured and the last Expansion distribution is being audited, I just

[2022-04-27 22:03] Mrakama commented on #336
Hello, please someone should check my wallet please i cant carry out any transaction

[2022-04-27 22:24] emperorjm commented on #336
Hi @Mrakama. You cannot do multiple redelegations  of the same tokens within a 21 day period. You can only redelegate the first 400 tokens delegated to Thorchain validator done here  https://www.mintscan.io/sifchain/txs/E6D5798F0BF5ED42CF73298BB4763DD974017C88B8D8FF63B6E38ABF06AE172B. The other 86 rowan redelegated from Blockngine as shown here https://www.mintscan.io/sifchain/txs/12CC34F6BD8F889F

[2022-04-28 14:10] lufa23 commented on #332
hey, this should have been fixed now.
Let me know if it's not the case

[2022-04-28 14:10] #332 closed, assigned to lufa23

[2022-04-28 16:20] emperorjm commented on #339
Hi @Rewardrequest. The last distribution that was to be done before the launch of the Ascension program has not been released due to the need for an audit which is being done. The distribution will be done as soon as the audit is completed.

[2022-04-28 19:40] 88yarcev88 commented on #327
???

[2022-04-28 19:48] Rewardrequest commented on #339
Thanks for the response @emperorjm

I know. That is why I have specifically stated that this request is not about the week before Ascension launched.
In the title I mentioned: "(-> not the current audit week)" and the date of the affected distribution: "2022-04-12"
That was 2 weeks prior Ascension launch and I just wanted to make sure that this is also being recalculated, as I'm not sure whether t

[2022-04-28 19:53] emperorjm commented on #339
The audit will be for the last two weeks before the audit as some users did not receive any rewards in that first week as well. We will keep this issue opened until those rewards are distributed.

[2022-04-28 19:53] Rewardrequest commented on #339
Perfect, that's exactly what I was inquiring about. Thanks a lot!

[2022-04-29 17:19] bksifchain commented on #335
@pgoos @lufa23  - I believe this is resolved but can someone check if this is still an issue?

[2022-05-01 20:46] ivorychristine opened #340 "Wrong Text ETH-DAI"
**Describe the bug**

A Detailed description of the issue (what happened, token affected and token amount)

when adding to ROWAN/ETH pool the confirmation says DAI
see attached picture

**How to Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

**Expected behavior**
<Please write a clear and detailed description of what you

[2022-05-02 16:37] Stellar-tickets opened #341 "User issued unbound request 12 days ago but did not receive tokens"
**Please write a detailed description of the issue.**
I unlocked liquidity 7 days ago and didn't receive it yet. Wasn't the unlocking period 7 days?

**What is the name and amount of the token affected?**
rowan

**What is your Sifchain address?**
2000

**What is your address on the other chain?**
The problem that I see is -

**What is the link to the transaction has you are having problem with?**

[2022-05-02 16:58] emperorjm commented on #341
User didn't claim unbounded amount within the 3 days period after amount was unbounded and so the tokens were added back to the pool.

[2022-05-02 16:58] #341 closed, assigned to bksifchain

[2022-05-02 17:01] Stellar-tickets opened #342 "ETH export has not arrived to user's Ethereum wallet"
**Please write a detailed description of the issue.**
Exported ETH from Sifchain to Ethereum last night while gas was pumping. Gas has settles now and the ETH still hasn't arrived

**What is the name and amount of the token affected?**
0.478705509997872986ETH

**What is your Sifchain address?**
sif1q33zlx5zrg8wtkxpqsyz8gfz3f5j87p4yvd5qs

**What is your address on the other chain?**
0xc78A95019C52a

[2022-05-02 17:10] Stellar-tickets opened #343 "Stuck ETH export"
**Please write a detailed description of the issue.**
Eth withdraw to ethereum from sif has been stuck for a while

**What is the name and amount of the token affected?**
Eth 3.5

**What is your Sifchain address?**
sif1djdvh237t5telq3u5mj8m2p3erkh454fpg3rzl

**What is your address on the other chain?**
0x3Efa23FE670E6640504F6920A40BfBF602da1531

**What is the link to the transaction has you are ha

[2022-05-03 16:38] banshee commented on #342
Gas prices spiked (to around 6k gwei, far above the normal range) and the relayers errored out.  Relayers need to run the replay command for the following block range:

[code]

[2022-05-03 16:39] banshee commented on #343
Gas prices spiked (to around 6k gwei, far above the normal range) and the relayers errored out. Relayers need to run the replay command for the following block range:

[code]

[2022-05-04 15:24] LUNAticHodler commented on #306
Hi. It’s been 29 days since I’ve opened this ticket. Any updates?

[2022-05-04 23:20] emperorjm opened #344 "Add liquidity screen doubles the amount required for symmetrical liquidity additions"
When the max button is clicked for any of the tokens the corresponding tokens required for a symmetrical liquidity addition would be populated in the box for the next token but this amount is doubled by default which could lead to users loosing their tokens.

![Sifchain Add Liquidity](https://user-images.githubusercontent.com/1245772/166840612-bc61ed75-ef90-42a6-8f51-32b9fd3d1c13.png)

[2022-05-04 23:25] emperorjm commented on #344
Trying to change the ratio does not work as the next value changes as well. I swapped approximately 5800 ROWAN for 1000 USDC but adding the 1000 USDC requires 11795.96079 ROWAN?

[2022-05-05 02:08] emperorjm commented on #344
This is the current expected behaviour due to PMPT.

[2022-05-05 02:08] #344 closed, assigned to bksifchain

[2022-05-05 20:17] lufa23 commented on #340
i just tried it out, it works good

[2022-05-05 20:17] #340 closed, assigned to lufa23

[2022-05-06 12:04] #312 closed, assigned to lufa23

[2022-05-06 16:12] ghost commented on #342
@emperorjm - this has been resolved. Transaction was replayed and we can see the funds have been transferred successfully.

[2022-05-06 16:14] emperorjm commented on #342
Thanks @intl-man. I'll relay this to the user.

[2022-05-06 16:17] #342 closed, assigned to banshee, gzukel, bksifchain

[2022-05-06 16:20] emperorjm commented on #343
Tokens have been transferred to account https://etherscan.io/tx/0xf438f7d92482664a188386dcddc292f89cf3a66840a4acc7dc01e77ebeb5a8dd

[2022-05-06 16:20] #343 closed, assigned to bksifchain

[2022-05-08 23:49] DavesCrypto1 commented on #316
Any updates on this? Thanks for your help.

[2022-05-09 16:17] emperorjm commented on #316
Rewards coming to users on Tuesday, May 10th. Read below for everything you need to know about the situation.

Full Rewards Debrief: https://sifchain.notion.site/Rewards-Debrief-0502d12c872344a3b58d90c98a1f34d4

[2022-05-10 14:33] m4R7y91 opened #345 "Import Token to Sifchain"
I have problem with import UST to sifchain.
As i can see, transaction at terra chain is success. But in my sifchain account i cant see transfered token.
This is my second attempt to show an error.

My sif adress: sif1kx8s7mk9gjwn7ayt8yqjmxg32tky72kyw3flvk
Transaction TX : https://finder.terra.money/mainnet/tx/4594911916E06933CCB2903204B684D5FC9E2447FC3AC67A57413C463E3D661A

![photo_2022-05-10_16-2

[2022-05-10 14:53] botter100 opened #346 "BUG: Import issue"
I have imported 957 LUNA.
The transaction seems to have been successful, but after waiting for over 7 hours, it is not credited to my Sif wallet.

My sif address: sif1340h06astyxym5ahx5r0xvwc70myf6z4clftk9
My terra address:terra1c4ce9zq5ux8sqgwp7t644e89yxp42m6uy7a70f
Transaction TX : https://finder.terra.money/mainnet/tx/EBF8A5769DBDFA525F832F4A5B9AD98328E34C4EC895AEED3EF66443BBC56EDA

[2022-05-10 16:58] #335 closed, assigned to pgoos, lufa23, bksifchain

[2022-05-10 18:18] lufa23 commented on #346
hey we're checking

[2022-05-10 18:18] lufa23 commented on #345
hey we're on it

[2022-05-10 22:06] botter100 commented on #346
I would like to see a quick resolution to this issue as it is a very serious loss due to Luna's crash.

[2022-05-11 00:48] yp-cc01 opened #347 "LUNA importing error"
Please help me as soon as possible! Most of my assets have been frozen!

## Describe the bug

After importing $LUNA from terra station wallet to Sifchain, the balance disappeared from terra station wallet but is not deposited in sif chain.

Transaction details are here.
https://finder.terra.money/mainnet/tx/98F130683804D29B8F401B7B29D2168A91B9C74496C3271497462FECFCA6797A

## How to Reproduce

Step

[2022-05-11 00:51] dmtrskv opened #348 "Import issue"
## Describe the bug
Import of 4 LUNA. Completed 11 hours ago on Terra (2022.05.10 13:08:49 UTC), still nothing on Sifchain.

## TX Hashes
Terra: 38097D069AD1634DC67303E83AE42A3C3F8FE91F839FD961DA77D3012359D8EE

## Addresses
terra1vzz3877s99qhcfx3mjrrpwq5jlyjhexkqcamzf
sif1k0u7l860hxkfd4cy3mqxut0npvuupt7prjpwj3

[2022-05-11 06:31] asotirov opened #349 "Luna export issue"
## Describe the bug

Luna export has been stuck for more than 20 hours
Luna export doesn't work.

## How to Reproduce

Exporting Luna through the interface

## TX Hashes

CE0FFE75B6F6AA5D6CEFE106F955E21429F046B0C9C9B0861A638F003E07F9DA
B2B96950D4F0BB1FC3D7A37905C840C2057F1EE826CE9D258CEFA3B8808158CB
286D79B1D0DB937FE5FEA7DABD45087CBBFCC2F55BD1DBC40B5EDDEB20E6BEE7

## Addresses
Please provide links

[2022-05-11 13:29] emperorjm opened #350 "Unable to import LUNA due to insufficient funds error"
Getting an error "You have insufficient funds" when trying to import 20 LIUNA with a balance of 31.

**Console error:**

ror: 0uusd is smaller than 19785uusd: insufficient funds: insufficient funds
    at toExplicitError (index.290dd98d.js:310:613)
    at Array.<anonymous> (index.290dd98d.js:310:1128)
    at tt.<anonymous> (index.290dd98d.js:156:151519)
    at tt.EventEmitter$8.emit (index.290dd98

[2022-05-11 20:41] emperorjm commented on #347
Did you receive the tokens imported?

[2022-05-11 20:53] emperorjm commented on #348
@dmtrskv I am seeing where the tokens were refunded back to your Terra wallet.

[2022-05-11 20:56] emperorjm commented on #350
UST is also required to complete the import.

[2022-05-11 20:56] #350 closed, assigned to bksifchain

[2022-05-11 21:07] dmtrskv commented on #348
Yes, now I understand that there is a 1 day timeout. It expired few hours ago.
I see my Luna back in my Terra wallet.
Thank you!

[2022-05-11 21:07] #348 closed, assigned to emperorjm

[2022-05-11 21:26] emperorjm commented on #349
@asotirov were the tokens refunded to your account?

[2022-05-13 14:24] kacperlondon commented on #251
Hello could you help me with my problem I just tried to exchange some coins on the dexand I’ve got this information which I don’t know what’s going on could you please help me with that I’ll give you my address and copy of the alert I’ve got thank you very very much for your respond can you do it quick as possible you know the market is down I would like to exchange some coins but I can’t thank yo

[2022-05-13 14:52] kacperlondon opened #351 "Unexpected token i in JSON at position 2"
**Describe the bug**

Hello could you help me with my problem I just tried to exchange some coins on the decks and I’ve got this information which I don’t know what’s going on could you please help me with that I also find out yesterday I received some unexpected rowan from this address  and i swap them for USDC        sif1nq2drdvx0tu32h5xfzweyfdlk0sprkup5ndeux
I send you my address and copy of th

[2022-05-13 15:07] emperorjm commented on #351
@khdegraaf The amount received from sif1nq2drdvx0tu32h5xfzweyfdlk0sprkup5ndeux is for the final payout of the Harvest rewards program.

I just did a swap from USDC to RUNE on https://sifchain-dex.redstarling.com/ and it worked. Try clearing your browser's cache and try again.

[2022-05-13 21:27] emperorjm opened #352 "Transactions fails intermittently with signature verification failure"
I was able to SWAP from USDC to SAND with no issue but then trying to SWAP from SAND to ROWAN I get the following error:

**signature verification failed; please verify account number (169), sequence (308) and chain-id (sifchain-1): unauthorized**

On second try the SWAP goes through successfully.

<img width="1512" alt="Screenshot 2022-05-13 at 4 19 58 PM" src="https://user-images.githubuserconte

[2022-05-14 10:20] lufa23 opened #353 "Changing Balances amounts"
# User Interface Issue
## Describe the bug
Balances in the UI changes without any apparent reason
## To Reproduce
I could not reproduce the issue
## Expected behavior
Balances to stay the same unless swaps are performed
## Videos

https://user-images.githubusercontent.com/67415638/168421849-171a2b09-b133-4062-beec-dfd822c6e934.mov

https://user-images.githubusercontent.com/67415638/168421856-5e9f7

[2022-05-14 10:29] lufa23 opened #354 "Transactions may show failure, while they are successful"
# User Interface Issue
## Describe the bug
When swapping, some transactions may appear as failed, while in reality they went through. The screenshot shows that the tx failed, while instead it was successful ([TX HASH](https://www.mintscan.io/sifchain/txs/38A8AA32B99B45ED68137E791E3233E2FA0CBA1B02F627DD4D04D67BA3A88EC2))

## Expected behavior
I could not replicate the behaviour now, but i had a sim

[2022-05-16 00:50] josie2222 commented on #351
I have the same issue after clearing cache

it worked only for USDCx Rowan but will not work for ant other tokens..

please advise?
thanks.

[2022-05-16 01:57] josie2222 opened #355 "Unexpected token i in JSON at position 2"
**Describe the bug**

A Detailed description of the issue (what happened, token affected and token amount)

this has happened with every swap EXCEPT USDC

I clear cache everytime..

even when i was able to execute USDC (it only works 1 out of 7 times).

I've paid 20x rowan trying to do it after I clear my cache.

Hoping you can help..

Thanks for your time.

**How to Reproduce**

Steps to reproduc

[2022-05-16 07:07] asotirov commented on #349
They were refunded. Thank you

[2022-05-16 18:28] #336 closed, assigned to lufa23

[2022-05-16 18:29] lufa23 commented on #345
Terra blockchain has halted several times..

[2022-05-16 18:29] #345 closed, assigned to lufa23

[2022-05-17 06:59] ghost commented on #319
@emperorjm @OlegEnthusiast @karan-sifchain @ivorychristine

so I never got any rewards to my wallet despite proving my case above. I am owed 10,069.58+ Rowan

Please re-read my issue above and manually disburse the correct amount to my wallet in question for LP I provided.

[2022-05-17 09:46] lufa23 commented on #355
I have tried now and everything seems fine..
Maybe there were the rpc endpoint was clogged.
 Can you let us know if the issue persists?

[2022-05-17 09:48] lufa23 commented on #346
yeah think is that with the networks halts and the congestions it's not something that depends on us. We are closely monitoring the channels if there are improvements that can be done from our side

[2022-05-17 10:00] lufa23 opened #356 "BUG: Feedback on USDC pool's APR"
# Liquidity Mining / Rewards issue
A user witnessed negative APR on USDC pool
## Describe the bug
User has been noting pool changes and calculating IL. He reaches the conclusion that the amount he has in the pool have been losing value despite receiving rewards, while keeping into account IL (calculated to be 0.08%)

User share a screenshot of the changes he has been monitoring on the USDC pool. H

[2022-05-17 12:33] emperorjm commented on #351
@josie2222 are you still having this issue?

[2022-05-17 12:34] #349 closed, assigned to emperorjm

[2022-05-17 12:35] emperorjm commented on #339
@Rewardrequest were the rewards distributed to your account?

[2022-05-17 12:36] emperorjm commented on #328
@Ozerdemirel were the rewards distributed to your account?

[2022-05-17 12:39] emperorjm commented on #327
This could be due to impermanent loss but your rewards are added back into your pools every 6 seconds which is the current block time. Let me know if you are still having an issue. If not I will close this issue.

[2022-05-17 12:39] emperorjm commented on #326
@mbaileyff did you receive the rewards?

[2022-05-17 12:40] emperorjm commented on #316
@DavesCrypto1 did you receive your rewards?

[2022-05-17 12:40] #287 closed, assigned to emperorjm

[2022-05-17 12:41] #289 closed, assigned to emperorjm

[2022-05-17 12:42] #293 closed, assigned to emperorjm

[2022-05-17 13:16] Ozerdemirel commented on #328
Yes,
Thankyou

17 May 2022 Sal, saat 15:37 tarihinde Adrian Thompson <
***@***.***> şunu yazdı:

[2022-05-17 16:19] #294 closed, assigned to emperorjm

[2022-05-17 16:20] #295 closed, assigned to emperorjm

[2022-05-17 16:22] emperorjm commented on #296
@papanomad535 are you still having this issue?

[2022-05-17 16:23] #297 closed, assigned to emperorjm, OlegEnthusiast

[2022-05-17 16:23] #299 closed, assigned to emperorjm, OlegEnthusiast

[2022-05-17 16:25] #302 closed, assigned to emperorjm

[2022-05-17 16:26] #304 closed, assigned to emperorjm

[2022-05-17 16:26] #305 closed, assigned to emperorjm

[2022-05-17 16:30] emperorjm commented on #306
Hi @LUNAticHodler. All rewards for that period has been recalculated and payouts made. You can check mint scan for the tokens received. You were overpaid by 9,272.33255006932922 ROWAN in week 2 and 3 which were deducted from your Week 4 amount leaving you with 8,314.73343818817696 ROWAN.

[2022-05-17 16:31] #307 closed, assigned to emperorjm

[2022-05-17 16:31] #308 closed, assigned to emperorjm

[2022-05-17 16:32] emperorjm commented on #309
This issue was resolved on discord.

[2022-05-17 16:32] #309 closed, assigned to emperorjm

[2022-05-17 16:32] #310 closed, assigned to emperorjm

[2022-05-17 16:32] #311 closed, assigned to emperorjm, bksifchain

[2022-05-17 16:33] emperorjm commented on #313
Missing payouts were made.

[2022-05-17 16:33] #313 closed, assigned to emperorjm, bksifchain

[2022-05-17 16:42] emperorjm commented on #318
Hi @talves12. You address was audited and recalculations done. You were overpaid for week 2 and 3 by 330.46891753247545 ROWAN which was deducted from your week 4 rewards which were distributed to your account.

[2022-05-17 16:43] emperorjm commented on #319
Hi @siffuku. Weeks 2 and 3 saw a lot of accounts being overpaid which included your address where you were overpaid by 21,483.9224610131928 ROWAN which was deducted from the amount you earned in Week 4 which could not cover the overpaid amount and the reason you didn't receive a payout.

[2022-05-17 16:44] emperorjm commented on #320
Hi @Kyoshii123. All rewards for harvest expansion were distributed.

[2022-05-17 16:45] emperorjm commented on #321
Hi @skymochulsky. All addresses were audited for the last 3 weeks of the Harvest program. All rewards have now been distributed.

[2022-05-17 16:46] emperorjm commented on #324
Hi @Vitaminchenko. All audits have been completed and recalculations done and rewards distributed.

[2022-05-17 16:47] #328 closed, assigned to emperorjm

[2022-05-17 16:48] Ozerdemirel commented on #328
Thank you!

17 May 2022 Sal, saat 19:47 tarihinde Adrian Thompson <
***@***.***> şunu yazdı:

[2022-05-17 19:15] ghost commented on #319
Thank you for the clarity! Let's close this issue :) Take care mate

[2022-05-17 19:15] #319 closed, assigned to emperorjm, ghuznee

[2022-05-17 23:28] josie2222 commented on #355
still happening - same error in json at position 2

[2022-05-18 04:35] mbaileyff commented on #326
Hi. I responded to your email but have not got a reply. I received a small fraction of my rewards.
As indicated in my original issue. I was expecting around 8,000 ROWAN. I received 968 ROWAN. I would like another audit done to correct the rewards due.
Respectfully
Mark

[2022-05-18 13:27] #306 closed, assigned to emperorjm, bksifchain

[2022-05-18 13:28] #318 closed, assigned to emperorjm, ghuznee

[2022-05-18 13:28] #320 closed, assigned to emperorjm, ghuznee

[2022-05-18 13:28] #321 closed, assigned to emperorjm, ghuznee

[2022-05-18 13:29] #324 closed, assigned to emperorjm

[2022-05-18 13:32] emperorjm commented on #326
Hi @mbaileyff. Weeks 2 and 3 saw a lot of accounts being overpaid which included your account where you were overpaid by 7,707.510917707102194 ROWAN which was deducted from the amount you earned in Week 4 leaving you with the net amount 962.989030181142325 ROWAN.

[2022-05-18 13:33] #327 closed, assigned to emperorjm

[2022-05-18 16:03] #338 closed, assigned to banshee, lufa23, bksifchain

[2022-05-18 16:05] lufa23 commented on #333
Hey we did suspended asymmetric deposits for a period (which i assume it was the period in which you were not able to add asymmetrically). Everything should have worked properly since then, closing the issue for now

[2022-05-18 16:06] lufa23 commented on #334
closing the issue as it seems not to persist anymore.
It would be good to note the possible causes

[2022-05-18 16:06] #334 closed, assigned to pgoos, bksifchain

[2022-05-18 16:06] lufa23 commented on #330
closing the issue as it seems to have been resolved

[2022-05-18 16:06] #330 closed, assigned to pgoos, lufa23

[2022-05-18 16:07] lufa23 commented on #337
closing the issue as it seems not to persist anymore.
It would be good to note the possible causes

[2022-05-18 16:07] #337 closed, assigned to alanrsoares, pgoos, tien, bksifchain

[2022-05-18 16:10] #333 closed, assigned to lufa23

[2022-05-18 16:19] lufa23 commented on #286
closing this issue as it seems to have been solved

[2022-05-18 16:19] #286 closed, assigned to lufa23

[2022-05-18 16:19] lufa23 commented on #288
closing this issue as it seems to have been solved

[2022-05-18 16:19] #288 closed, assigned to lufa23

[2022-05-18 16:20] lufa23 commented on #290
closing this issue as it seems to have been solved

[2022-05-18 16:20] #290 closed, assigned to lufa23

[2022-05-18 16:22] lufa23 commented on #291
hey @permacrab , was the issue temporary?

[2022-05-18 16:22] #298 closed, assigned to lufa23

[2022-05-18 16:22] #300 closed, assigned to lufa23

[2022-05-18 16:25] lufa23 commented on #317
i tried replicating the issue and  it seems working fine

[2022-05-18 16:25] #317 closed, assigned to nobody

[2022-05-18 18:50] marshsif commented on #356
This should be resolved after 0.13.3 goes live. We plan to deploy this evening and have it go live in 4 days

[2022-05-18 22:49] ghuznee opened #357 "BUG: APR of SCRT is showing 0%"
PROPOSED SOLUTION IN COMMENTS

![Screen Shot 2022-05-18 at 6.47.03 PM.png](https://images.zenhubusercontent.com/625486de355ebb4dc2aa1357/13537a54-d93f-4921-8253-9c61c668886a)

*Describe the bug**

I am wanting to announce SCRT token but the APR of SCRT is showing as 0%

_See comments_

**How to Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'

[2022-05-18 22:50] ghuznee commented on #357
It got assigned the max multuplier for this weeks of rewards so Im not totally sure whats going on. Any ideas?
It also has 0 rewards being injected into the pool right now

LB:
onchain is reporting zero being distributed on that uscrt pool
front-end just displays what’s being processed from DS

The reward parameter has not been set.
Check:  https://api.sifchain.finance/clp/getRewardParams

t was s

[2022-05-18 23:25] ghuznee commented on #357
**Proposed Solution:**
Replace the SCRT token with the correct one:

Correct one:
ibc/345D30E8ED06B47FC538ED131D99D16126F07CD6F8B35DE96AAF4C1E445AF466

INCORRECT ONE:
ibc/3313DFB885C0C0EBE85E307A529985AFF7CA82239D404329BDF294E357FBC73A

{
        "pool_multiplier_asset": "ibc/345D30E8ED06B47FC538ED131D99D16126F07CD6F8B35DE96AAF4C1E445AF466",
        "multiplier": "1.066"
      }

[2022-05-19 10:45] #296 closed, assigned to emperorjm

[2022-05-19 10:45] #316 closed, assigned to emperorjm

[2022-05-19 10:46] #326 closed, assigned to emperorjm

[2022-05-19 10:46] #339 closed, assigned to emperorjm

[2022-05-19 17:07] josie2222 commented on #351
yes!  sorry, I've never used github and didn't realize you would email me about it.
________________________________
From: Adrian Thompson ***@***.***>
Sent: Tuesday, May 17, 2022 8:33 AM
To: Sifchain/Support-Tickets ***@***.***>
Cc: josie222 ***@***.***>; Mention ***@***.***>
Subject: Re: [Sifchain/Support-Tickets] Unexpected token i in JSON at position 2 (Issue #351)

@josie2222<https://github.c

[2022-05-19 19:26] Stellar-tickets opened #358 "Cannot export Juno to my Keplr/Juno wallet - ticket-406"
**Please write a detailed description of the issue.**
Cannot export Juno to my Keplr/Juno wallet

**What is the name and amount of the token affected?**
367 Juno

**What is your Sifchain address?**
sif1ty9ntfy0t6vex7ayyuzf6tgjer4a902rxffv74

**What is your address on the other chain?**
juno1ty9ntfy0t6vex7ayyuzf6tgjer4a902r4x9pkz

**What is the link to the transaction has you are having problem wit

[2022-05-19 19:34] emperorjm commented on #358
I am also experiencing this issue. I have reported the issue to the Devs.

![image](https://user-images.githubusercontent.com/1245772/169388112-04096c66-718c-43e1-8a92-e6a073f43832.png)

[2022-05-19 19:45] #357 closed, assigned to canercandan, daechoi, sifmoon, ghuznee

[2022-05-22 21:51] dana-nomad opened #359 "BUG: swap issue"
Describe the bug
Inconsistent and Inaccurate swap quotation in the Sifchain 'Swap' UI. This issue arise after the PMTP upgrades, where the quoted price no longer takes the two variables, Liquidity Provider Fee and Price Impact into consideration as before. For instance, consider paring METIS/USDT, the quoted receiving USDT is 30.006501 shown in the Figure below, while upon proceeding with the Swap

[2022-05-23 12:03] FogFX77 opened #360 "The wallet received ROWAN tokens"
# Liquidity Mining / Rewards issue

[2022-05-23 13:45] #360 closed, assigned to lufa23

[2022-05-23 13:45] FogFX77 commented on #360
.

[2022-05-23 17:31] lufa23 commented on #355
can you try clearing the cache and refresh the browser?

[2022-05-23 17:35] #358 closed, assigned to nobody

[2022-05-23 17:36] lufa23 commented on #358
issue seems to have been fixed

[2022-05-23 19:16] #347 closed, assigned to emperorjm

[2022-05-23 19:17] emperorjm commented on #351
Duplicate issue

[2022-05-23 19:17] #351 closed, assigned to emperorjm

[2022-05-23 20:47] lufa23 commented on #359
thanks for the accurate report, let us look into it

[2022-05-23 21:08] emperorjm commented on #355
@josie2222 this error could be related to setting the slippage too low.

[2022-05-23 21:08] lufa23 commented on #359
can you confirm the issue persists? i just tried with a smaller amount and it seems to be working good

[2022-05-23 21:12] Stellar-tickets opened #361 "Swap issue 2 (ticket-318)"
**Please write a detailed description of the issue.**
I had a total of 1,616 USDC on the sifchain DEX.  I swapped half  (808) of my USDC to Rowan, which gave me roughly 4,783 Rowan.  However when I went to add liquidity to the Rowan/USDC pool the amount of Rowan requested was 7,811.  I didn't get that much Rowan on the swap.  As a result, I was only able to pool 490 USDC instead of 808 USDC.  This

[2022-05-24 15:37] lufa23 commented on #361
hey, have you looked into the pool composition when adding liquidity?

With PMTP parameters chosen by on.chain governance, pool ratios may change. You can have a look at what PMTP is [here](https://docs.google.com/document/d/155ChKRm8hE2ja8MxltoaZV6nf5JiPg8I9PDTgsLDc5c/edit)

[2022-05-24 16:20] lufa23 commented on #361
you can also have a look [here](https://docs.sifchain.finance/project/pmtp)

[2022-05-24 16:25] bksifchain commented on #352
@alanrsoares - could you pls take a look at the error on this swap issue? I've never seen this one before.

[2022-05-24 19:39] Stellar-tickets opened #362 "Asymmetric liquidity adds"
**Please write a detailed description of the issue.**
There is something seriously wrong with SIFchain. Before the move to PMTP I had 1.5 Eth, a week ago I converted ATOM to ETH and added another 0.5. I check my balances today: 0.938134 ETH not sure what happened?

**What is the name and amount of the token affected?**
ETH - went from > 2 ETH to 0.938134 over last 2ish weeks

**What is your Sifcha

[2022-05-24 19:41] Stellar-tickets opened #363 "Did not receive rewards: ticket-410"
**Please write a detailed description of the issue.**
No rewards

**What is the name and amount of the token affected?**
Usdc/rowan

**What is your Sifchain address?**
sif1h6mc4ja8e8mkp5w4amt2ce0y25w7ek3s0ahgdh

**What is your address on the other chain?**
0x2Da049645C0b1E4683Ba08C8667a93775F71d237

**What is the link to the transaction has you are having problem with?**
Liquidity no rewards

**Ar

[2022-05-24 19:42] emperorjm commented on #363
The user received the following payouts:
- https://www.mintscan.io/sifchain/txs/47D26CC7505C34C4E86F1B73DD6E9F006EAEFB0D6CF2AF549E8DCDF7373E0D82
- https://www.mintscan.io/sifchain/txs/F0FCC43E0846627EEA22B68BF18C597625D1E9AEF4267ADA67E8BBE781E314F3

[2022-05-25 01:46] Stellar-tickets opened #364 "Error exporting to IRISnet - ticket-412"
**Please write a detailed description of the issue.**
Trying to export IRIS and getting error.  Been like this for past 24hrs+

**What is the name and amount of the token affected?**
irisnet - exporting around 1200 to mainnet

**What is your Sifchain address?**
sif16j9u4u7u84wm3w09aed06uuktu2y4efz4srkwu

**What is your address on the other chain?**
iaa16j9u4u7u84wm3w09aed06uuktu2y4efz90v3rx

**Wha

[2022-05-25 15:44] Stellar-tickets opened #365 "Missing two pools on the DEX - ticket-383"
**Please write a detailed description of the issue.**
missing 2 of my pools

**What is the name and amount of the token affected?**
eth/rowan pool atom/rowan pool

**What is your Sifchain address?**
sif102flf20qhd07c3q89f50uxm39f9ljpv5zmwr82

**What is your address on the other chain?**
only sifchain

**What is the link to the transaction has you are having problem with?**
sifchain site

**Are the

[2022-05-25 15:54] emperorjm commented on #364
The issue has been relayed to the Devs.

[2022-05-25 16:00] Stellar-tickets opened #366 "Luna transferred to terra wallet missing - ticket-413"
**Please write a detailed description of the issue.**
Luna transferred out to Terra Wallet missing

**What is the name and amount of the token affected?**
Luna, 561.132308

**What is your Sifchain address?**
sif18y7xef0zxnns7ev44cch2wfathw74mlzw9zmra

**What is your address on the other chain?**
terra17ghljpjxczreejdmlpfeje8x82579mptsl4g57

**What is the link to the transaction has you are having

[2022-05-25 16:02] Stellar-tickets opened #367 "Imported UST missing - ticket-414"
**Please write a detailed description of the issue.**
I imported UST from terra station onto Sifchains "balance" page. It has not showed up and is not in the terra station wallet.

Is there anyway to get it reversed back to my terrastation address?

**What is the name and amount of the token affected?**
UST 28400

**What is your Sifchain address?**
sif12j7rg02evw2nuzsq2llh8acvnwd3eltkshswy7

**Wha

[2022-05-25 16:05] emperorjm commented on #364
The following error is shown in the console:

Access to fetch at 'https://proxies.sifchain.finance/api/irishub-1/rpc' from origin 'https://sifchain-dex.redstarling.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

[2022-05-25 16:06] emperorjm commented on #364
![image](https://user-images.githubusercontent.com/1245772/170307448-9ea6c8ff-1ff2-4ead-ad1d-0ef96ae70616.png)

[2022-05-26 10:52] lufa23 commented on #362
hey let us get back to you on this

[2022-05-26 12:06] lufa23 commented on #360
hey, you are receiving rewards.
These are only some of the transactions:
https://www.mintscan.io/sifchain/txs/97D35A2ABEAE3E3FD7974E8AC89229753EA5C8595AB11F3EE6AF36F3B9B60BD0
https://www.mintscan.io/sifchain/txs/324020643FB0BEDEF517309BEA64CAFCCA06FB3A5C68CCBF77ABB0F5E1047E24

[2022-05-26 15:41] lufa23 commented on #362
From what i can see, you have made several **asymmetric** liquidity add transactions, like
https://www.mintscan.io/sifchain/txs/7021627AC4A88C6665657E4C9591212334CBEE76A7EDB54DA9BBDC40934E427A
https://www.mintscan.io/sifchain/txs/6C1D5B3039FEAEAE789563D4CEAC99B1F79C03BD9DAFAED7A413DF8FEEB99498

The only symmetric liquidity add that i can see in the eth pool, is this one:
https://www.mintscan.io/si

[2022-05-26 15:44] Stellar-tickets opened #368 "Only token in whitelist can be transferred to cosmos"
**Please write a detailed description of the issue.**
Hello.

**Problem with import of USDC from ETH to SIF.**

My wallet - [0x38ca8396E04e23299635Ea06fbb657e2a4e693c4](https://etherscan.io/address/0x38ca8396E04e23299635Ea06fbb657e2a4e693c4)

Failed TX - [0xa418d3eb10f028f198b8429482da9cd2f97ef6b69775a2f6967642d952ad6ef8](https://etherscan.io/tx/0xa418d3eb10f028f198b8429482da9cd2f97ef6b69775a2f696

[2022-05-26 16:45] Stellar-tickets opened #369 "XPRT import issue"
**Please write a detailed description of the issue.**
Hello, i cant import xprt

**What is the name and amount of the token affected?**
XPRT 780, IRIS 35000

**What is your Sifchain address?**
sif1msyzs6ng0psclpvrxacpndvrupgz0zzucyu8up

**What is your address on the other chain?**
0x12a0b8aC3bDe6dA2636e8F2297F40E9786aDEab3

**What is the link to the transaction has you are having problem with?**
n

[2022-05-26 16:46] lufa23 commented on #369
i couldn't import either, we are verifying the IBC channels

[2022-05-26 17:41] Brando753 commented on #368
It appears to be a frontend issue at first glance. The user should not be attempting to burn USDC but rather lock it, has the frontend logic swapped those two?

[2022-05-26 19:34] bksifchain commented on #368
@tien @alanrsoares - did we introduce a regression somehow here?

[2022-05-26 21:18] lufa23 commented on #369
<img width="663" alt="Screenshot 2022-05-26 at 18 45 06" src="https://user-images.githubusercontent.com/67415638/170581797-4910bc1e-931a-4ccb-9349-f49d43df931e.png">
<img width="687" alt="Screenshot 2022-05-26 at 18 44 52" src="https://user-images.githubusercontent.com/67415638/170581803-090c44b3-395e-458b-8e09-b3b27806a460.png">

[2022-05-26 21:27] lufa23 commented on #369
@bksifchain it seems to be a FE issue, because xprt import goes through but FE throws an error and import balance is still updating

[2022-05-26 21:32] lufa23 commented on #346
Informal is looking into this

[2022-05-26 21:32] lufa23 commented on #346
Informal is looking into this

[2022-05-26 21:38] emperorjm commented on #367
The UST was transferred to this wallet terra1r726yra3euctv92qqfxh45xztewgp2qjjqp649 but not delivered to the users Sifchain account.

[2022-05-26 21:39] lufa23 commented on #368
hotfix is building on staging

[2022-05-26 21:43] Stellar-tickets opened #370 "Tokens missing after LUNA import - ticket-418"
**Please write a detailed description of the issue.**
Hi, I tried to import LUNA from my Terra Wallet to Sifchain and it did not work. However, the LUNA is missing from my wallet and the transaction appears as successful, here are the details: https://finder.terra.money/mainnet/tx/2CF24408B79B5568EAF7C6BE8EA553D333122A44025CFA236E46A92F8B608F31

**What is the name and amount of the token affected?

[2022-05-26 22:33] Stellar-tickets opened #371 "Did not receive UST tokens - ticket-419"
**Please write a detailed description of the issue.**
I sent UST to sif from Terra several hours ago ... it left my wallet and the tx timed out and seems to be stuck in-between. Do I need to do anything? Was told it should come back automatically but it hasn't

**What is the name and amount of the token affected?**
UST (from terra), about 1400

**What is your Sifchain address?**
sif1jxfjp0xhwkq08k

[2022-05-26 22:35] emperorjm commented on #364
Issue resolved by Notional.

[2022-05-26 22:35] #364 closed, assigned to emperorjm

[2022-05-26 22:35] #363 closed, assigned to emperorjm

[2022-05-27 09:58] Alex00000090 commented on #359
Yes, certain.

[2022-05-27 10:12] lufa23 commented on #368
hotfix v2.7.5 released, problem solved

[2022-05-27 10:12] #368 closed, assigned to lufa23, bksifchain

[2022-05-27 12:30] bksifchain commented on #359
This is not a bug. This is how the swap input and confirmation modal were implemented during the PMTP refactor. We will look into ways to address this, however the confirmation modal is acting exactly as described - it confirms with the user, the closest swap amount they will receive. In the initial swap input component, the results displayed do not account for price impact and LP fees, so in the

[2022-05-27 12:39] lufa23 commented on #371
heya IBC packets cue has been cleared, can you check if the problem persists?

[2022-05-27 12:39] lufa23 commented on #370
heya IBC packets cue has been cleared, can you check if the problem persists?

[2022-05-27 12:39] lufa23 commented on #366
heya IBC packets cue has been cleared, can you check if the problem persists?

[2022-05-27 13:30] Stellar-tickets opened #372 "BUG: LUNA export not working (ticket 421)"
**Please write a detailed description of the issue.**
Is LUNA Export available now in Sifchain?

**What is the name and amount of the token affected?**
430

**What is your Sifchain address?**
sif10fgqa9pjtw9m9qrxduayahe5fagsd8unajmt8t

**What is your address on the other chain?**
terra1twgdkpdqhpqqwzqjfyw0hulncrqgvzmtzpc8wf

**What is the link to the transaction has you are having problem with?**

[2022-05-27 13:30] Stellar-tickets opened #373 "BUG: LUNA export not working (ticket 420)"
**Please write a detailed description of the issue.**
Moving from sifchain to terra station, the pending time is over 10 hours. Isn't this a serious problem?

**What is the name and amount of the token affected?**
luna

**What is your Sifchain address?**
sif19vcxq9rjp0dnl30rk308cjqhcu9tq7e5wdyg4q

**What is your address on the other chain?**
terra station wallet

**What is the link to the transact

[2022-05-27 15:16] lufa23 commented on #372
heya! can  you please check if the problem persists? Channel should be active now
https://www.mintscan.io/sifchain/txs/AB44EABF7E50DF9EF4480BC147D01BFB0440BCCB9E8DA923DB52DF504E937D9D

[2022-05-28 13:27] rezha777 opened #374 "price difference in API and on the site"
Hi,

price here https://sifchain-dex.forbole.com/#/swap?from=cusdc&to=uatom&slippage=0.5 is different than price in your API https://data.sifchain.finance/beta/asset/atom

Usually by 3-4 cents

In Rowan it is 3 time more on API than on site

Also API response can take up to 17 seconds to update

[2022-05-28 19:19] tuthanden9999 opened #375 "REGEN Import from ethereum issue"
## Describe the bug
I can't import REGEN token from ethereum network to sifchain.

## How to Reproduce

Steps to reproduce the behavior:
1. Go to (https://sifchain-dex.redstarling.com/#/balances)
2. On (Search Token...), enter Regen
3. After only Regen token is listed, click (Import) button, then dialog (Import Token to Sifchain) appear
4. In (Network) combobox, select Ethereum
5. Error: In (Token

[2022-05-29 02:58] Stellar-tickets opened #376 "Community Complaint - 2"
Write a detailed description of your complaint

someone in chat was mean to me. help me. i want to talk to the owner

[2022-05-29 02:58] Stellar-tickets commented on #376
LALALALA: this is just a test

[2022-05-29 02:58] Stellar-tickets commented on #376
LALALALA: testing testing

[2022-05-29 02:59] Stellar-tickets commented on #376
LALALALA:

[2022-05-29 03:01] Stellar-tickets commented on #376
LALALALA:

[2022-05-29 03:02] Stellar-tickets commented on #376
LALALALA: !!close

[2022-05-30 10:20] #372 closed, assigned to lufa23

[2022-05-30 10:25] #362 closed, assigned to lufa23

[2022-05-30 10:27] lufa23 commented on #373
heya can you confirm if the issue has been solved? Channels should be active again

[2022-05-30 10:28] lufa23 commented on #376
testing

[2022-05-30 10:37] lufa23 commented on #375
it worked for me, can you try again and let us know if the issue persists?

[2022-05-30 10:38] lufa23 commented on #375
also, can you use the browser devtools and send us a screenshot of the console logs?
<img width="704" alt="devtools" src="https://user-images.githubusercontent.com/67415638/170975316-0230b098-b99c-4e91-98a8-cab81c591a2e.png">

[2022-05-30 10:40] lufa23 commented on #374
hey, thanks for the report
we're working on it

[2022-05-30 10:45] #291 closed, assigned to lufa23

[2022-05-30 10:45] #361 closed, assigned to lufa23

[2022-05-30 10:45] #355 closed, assigned to lufa23

[2022-05-30 14:39] #370 closed, assigned to emperorjm

[2022-05-30 14:39] #371 closed, assigned to emperorjm

[2022-05-30 14:39] #367 closed, assigned to emperorjm

[2022-05-30 14:39] #366 closed, assigned to emperorjm

[2022-05-30 14:39] #365 closed, assigned to emperorjm

[2022-05-30 16:05] Alex00000090 commented on #359
Any follow-up on this? It's crucial.

[2022-05-30 16:27] Alex00000090 commented on #359
Whether this is a bug or not, no user would perform any swap on a DEX with incorrect information, what is the point of having two layers of confirmation where the first is redundant? Otherwise, why would Sifchain implements the other way before the PMTP? From a user perspective, conveniency and accuracy are the prioritized criteria, therefore the information presented should be simplified and unif

[2022-05-31 00:05] Stellar-tickets opened #377 "Bug Report: Unable to unbound liquidity using a Ledger - 4"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

When using LEDGER,
"Liquidity unbond request" have an issue that cannot be Cancel.

[2022-05-31 00:07] Stellar-tickets commented on #377
sif_baldr: <@855790915036512307> can you share the error logs from the console as well.

[2022-05-31 08:40] Stellar-tickets opened #378 "BUG: Ledger: Fail to send token"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Keplr error
When using LEDGER,
IBC token (eg ATOM) cannot be transferred from "Sifchain address 1" to "Sifchain address 2".

Error Message:
"Ledger: Fail to send token: Data is invalid : Unrecognized error code"

[2022-05-31 08:41] lufa23 commented on #378
![ibctokenerr](https://user-images.githubusercontent.com/67415638/171131249-7098dbbe-40c4-46d4-9afd-acc78596a2a3.jpg)

[2022-05-31 08:43] Stellar-tickets commented on #378
lufa23: hey let us look into it

[2022-05-31 08:45] Stellar-tickets opened #379 "Bug: Stuck Terra tx"
**Description:**
LUNA transfer has been successfully send from Sifchain, but not Received on Terra.
Packet is still pending since 3 days
**Link to the transaction:** https://www.mintscan.io/sifchain/txs/828E348A571905769936C3A439D7BD0BE69C12753CEC291DF2DCC230EC34716A

**Link to the Terra address:**
https://finder.terra.money/mainnet/address/terra1erds4vtgf96wz683cv5c6arpqvm6mf4h9d8y26

**Screensho

[2022-05-31 08:47] Stellar-tickets commented on #379
lufa23: it should get reverted soon
cc <@476844095499796491>

[2022-05-31 08:47] Gideon20222 commented on #379
@lufa23

* Have you gotten your funds? If not,You’re experiencing transcript error. Sorry for this inconvenience, Please reach out to [Terra Ecosystems Support Team](http://terramoneysupport.com/) with the ticket id LUN474768 using the livechat page, the best team of dev will assist you on the issue immediately.

[2022-05-31 13:31] #376 closed, assigned to nobody

[2022-05-31 14:19] Stellar-tickets commented on #377
cosya: Ok
I filed an issue on github.

[2022-05-31 14:26] Stellar-tickets commented on #377
cosya: OK
I have submitted an issue to github.

[2022-05-31 14:29] Stellar-tickets commented on #378
cosya: This issue was already submitted to github a month ago.
It's still not resolved.
https://github.com/chainapsis/keplr-wallet/issues/368
https://github.com/cosmos/ledger-cosmos/issues/65

[2022-05-31 15:09] Stellar-tickets commented on #377
cosya: ○ Pool: ROWAN / ATOM

○ Error message:
"Failed to cancel liquidity unbond request"

○ Chrome - Developer Tools -> Console
“stargate”, “no-legacy-stdTx” feature has been deprecated.
The launchpad is no longer supported, thus works without the two features.
We would keep the aforementioned two feature for a while,
but the upcoming update would potentially cause errors.
Remove the two feature.

[2022-05-31 16:36] Stellar-tickets commented on #378
sif_baldr: <@855790915036512307> the failed to Send token would be a Keplr issue as that was done directly via Keplr. You would need to submit a ticket to the Keplr team for that issue. In regards to your other issue to unbond liquidity we are looking into it.

[2022-05-31 16:52] tuthanden9999 commented on #375
This issue still occur.
Please check console at attach image.

![consoleLog](https://user-images.githubusercontent.com/21007362/171230057-2c829947-51ba-4b2e-9e70-5cbedab43793.PNG)

[2022-05-31 16:53] tuthanden9999 commented on #375
I also try to clear cache, disconnect and reconnect many times, but issue still occur.

[2022-05-31 17:15] Stellar-tickets commented on #377
sif_baldr: We are looking into this.

[2022-06-01 12:58] lufa23 commented on #378
hey, i have pinged the Ledger team as the issue could be on their side.. let's see if this spin up the resolution

[2022-06-01 13:12] lufa23 commented on #375
Can you please show us the console logs?
![Screenshot 2022-06-01 at 15.05.08.png](https://images.zenhubusercontent.com/6050a28ecf34f141cf22d02a/42105a25-d2d2-4265-bf9e-5013a7132ff9)

[2022-06-01 13:13] lufa23 commented on #346
hey can you please confirm that this issue has been solved?

[2022-06-01 16:48] lufa23 commented on #379
hey can you confirm that the funds arrived?

[2022-06-01 16:59] lufa23 commented on #378
issue seems to be on Zondax's side.. I have opened [a ticket in the Zondax repository](https://github.com/Zondax/ledger-cosmos-js/issues/56)

[2022-06-01 18:48] Stellar-tickets commented on #378
lufa23: hey the issue seems to be on Zondax's side.. I have opened a ticket in the Zondax repository
https://github.com/Zondax/ledger-cosmos-js/issues/56

[2022-06-01 19:05] Stellar-tickets commented on #378
lufa23: Could you try again and use the devtools and record a video or screenshots on all the console logs you get?

[2022-06-02 00:29] Stellar-tickets commented on #378
cosya: using Keplr wallet With LEDGER,
When sending IBC token (ATOM) to Sifchain address1->Sifchain address2
No message is generated in the console of Google Chrome.

Messages are generated only in the Keplr window.
   "Ledger: Fail to send token: Data is invalid : Unrecognized error code"

[2022-06-02 00:46] Stellar-tickets commented on #378
cosya: correction)
The Keplr error message does not contain the text "Ledger: ".
Error Message:
"Fail to send token: Data is invalid : Unrecognized error code"

[2022-06-02 00:48] Stellar-tickets commented on #378
cosya: Reference)
Keplr v0.10.5
Ledger nano X - Firmware: v2.0.2, Cosmos App v2.34.4

[2022-06-02 02:29] Stellar-tickets opened #380 "Secret import failed - 8"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

A transaction from Keplr to Sif failed and I lost 64+ SCRT

[2022-06-02 02:30] Stellar-tickets commented on #380
sif_baldr: The transaction timed out and was refunded to your Scret account

[2022-06-02 10:33] Stellar-tickets commented on #378
lufa23: thanks, we are investigating

[2022-06-02 10:34] Stellar-tickets commented on #379
lufa23: hey <@738842482842009661> can you confirm you received the funds?

[2022-06-02 16:53] lufa23 commented on #359
hey thanks for your feedback, it really helps
We have noted it into the backlog, we're gonna have a closer look on this

[2022-06-03 02:17] Stellar-tickets commented on #379
cltrader: hi there. sorry for the delay. No I have not received the funds

[2022-06-03 02:18] Stellar-tickets commented on #379
cltrader: Still pending: https://www.mintscan.io/sifchain/txs/828E348A571905769936C3A439D7BD0BE69C12753CEC291DF2DCC230EC34716A

[2022-06-03 02:19] Stellar-tickets commented on #379
cltrader:

[2022-06-03 02:19] Stellar-tickets commented on #379
cltrader:

[2022-06-03 02:19] Stellar-tickets commented on #379
cltrader: Not in my wallet

[2022-06-03 04:04] emperorjm commented on #380
@ghuznee this is not actually a bug as this happens from time to time with IBC transfers where if the transaction times out the tokens are refunded to the users wallet. Will close this issue.

[2022-06-03 04:04] #380 closed, assigned to emperorjm, ghuznee

[2022-06-03 07:26] tuthanden9999 commented on #375
![consoleLog2](https://user-images.githubusercontent.com/21007362/171807765-4d581840-5386-4954-adae-1a711fa30fa0.PNG)

Please see Console Log with above attach image.

[2022-06-03 14:36] Stellar-tickets opened #381 "Bug: Unable to SWAP from ROWAN to OH - 10"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Issue on swap erorr: Unexpected token i in JSON at position 2

[2022-06-03 14:39] emperorjm commented on #381
Response from user:

**im trying to swap from rowan to OH
getting Unexpected token i in JSON at position 2
tried also higher slippage but nothing same error**

[2022-06-03 14:40] emperorjm commented on #381
As per my response to a similar issue here https://github.com/Sifchain/Support-Tickets/issues/355 this issue could be related to the slippage being too low.

[2022-06-03 14:41] Stellar-tickets commented on #381
sif_baldr: <@711624984505876640> can you share the slippage being used?

[2022-06-03 15:48] SergeyZver opened #382 "BUG: Button CLAIM doesn't work"
**Describe the bug**

Hi. I wanted to take the coins out of the pool and put them into staking. After I waited 7 days, the CLAIM button doesn't work. I click on CLAIM and that's it, nothing else happens. Reloaded the page ctrl+F5 and ctrl+r it does not help.

**Screenshots**
![image](https://user-images.githubusercontent.com/103934319/171900497-246cb0ab-a0d2-4298-a9ec-3ee89563d5af.png)

sif17aznmp

[2022-06-03 18:17] lufa23 commented on #382
hey, can ypu use the browser DevTools and show us the logs you get from the console?
<img width="704" alt="devtools" src="https://user-images.githubusercontent.com/67415638/171922855-6d76ff55-6fa9-4017-a745-8914c5f2a434.png">

[2022-06-05 09:27] rezha777 commented on #374
hi, any updates on this?

[2022-06-06 08:37] Stellar-tickets commented on #381
Draaker: hello sorry for late response.

[2022-06-06 08:38] Stellar-tickets commented on #381
Draaker: so i tried right now.. but the chain looks very slow

[2022-06-06 08:39] Stellar-tickets commented on #381
Draaker:

[2022-06-06 08:39] Stellar-tickets commented on #381
Draaker:

[2022-06-06 08:39] Stellar-tickets commented on #381
Draaker: tested with 0.5% slippage

[2022-06-06 08:40] Stellar-tickets commented on #381
Draaker: testing with 1.5% slippage

[2022-06-06 08:40] Stellar-tickets commented on #381
Draaker:

[2022-06-06 08:41] Stellar-tickets commented on #381
Draaker: error 504

[2022-06-06 08:41] Stellar-tickets commented on #381
Draaker: idk

[2022-06-06 18:08] Stellar-tickets commented on #381
sif_baldr: Hi <@711624984505876640>. I just successfully did a SWAP from ROWAN to OH with 1% slippage. Are you using a ledger device?

[2022-06-06 18:08] Stellar-tickets opened #383 "Unable to claim staking rewards - 6"
Give a description of the rewards problem. Include your sifchain address, and what pools you are in

Can't claim ledger rewards on keplr

[2022-06-06 18:09] Stellar-tickets commented on #383
sif_baldr: There was an issue with Keplr yesterday as their Sifchain node was down. Can you try again and let me know if you have the same issue.

[2022-06-06 18:41] bksifchain commented on #315
@emperorjm - Is this resolved / can we close this issue? If the user wants to import an ROWAN to Osmosis - they can go to Osmosis and select to import. They don't need to export.

[2022-06-06 19:48] EridaniSystem opened #384 "Import / Export issue"
## Describe the bug
When I withdraw Luna tokens to my Terra wallet, tokens aren't arriving on this one and the transaction is still pending.
Tried to do it twice but still the same issue.

Tried to look on the internet for someone who had the same issue or a tutorial but can't find a solution...

## TX Hashes
24E21DE6A32686068184CAB6EA6D7B45FF71EFB325827AF2E0685C3F6CD17998

## Addresses
Please pro

[2022-06-07 09:24] Stellar-tickets commented on #379
cltrader: <@694599887680962692> and <@940008313230344192> <@476844095499796491> can we please fix this. Going on 10 days here.

[2022-06-07 13:00] nikinosuke commented on #382
Hello!
I tried to unbond my Rowan/Atom pool, but after 7days, there were no claim button and all the coins were in the pool again.
Is there any possible reason for this phenomenon?
During the unbonding period I could see the announcement “3more days “”2 more days “.

[2022-06-07 13:09] nikinosuke commented on #382
I can paste the photo of my DevTools if needed.

[2022-06-07 14:34] Stellar-tickets commented on #381
Draaker: yes using ledger..

[2022-06-07 17:06] Stellar-tickets commented on #381
sif_baldr: Oh. I think there is an issue with Ledger. The team is working on getting a fix but I believe it was only restricted to liquidity addition and removal. Let me update the issue.

[2022-06-07 17:14] Stellar-tickets commented on #379
sif_baldr: <@738842482842009661> I have reached out to the devs to rectify the issue.

[2022-06-07 17:39] Stellar-tickets commented on #381
Draaker: thanks

[2022-06-08 06:31] Alex00000090 commented on #359
It's been almost a week, any updates?

[2022-06-08 12:02] lufa23 commented on #384
hey. let us look into it

[2022-06-08 12:38] nikinosuke opened #385 "Unbonding doesn’t work"
Hello! 
I tried to unbond my Rowan/Atom pool, but after 7days, there were no claim button and all the coins were in the pool again.
 Is there any possible reason for this phenomenon? 
During the unbonding period I could see the announcement “3more days “,”2 more days “…..
My friend experienced exactly the same.

My address
sif125gz0826sf3hsy5z24fhzah00fcd60u0u8656d

Thanks!

[2022-06-08 14:57] Mitya8 opened #386 "BAND token swap issues"
Translation:

When exchanging BAND tokens in SWAP, the amount of tokens is not shown

Good afternoon! Tell me why Band is listed in the list of tokens available for swap, and when choosing it as a token that I want to receive as a result, swapa does not give out the amount that will result from the exchange. The BAND token is not on ETH, but the usual one on BandChain. I have been observing this s

[2022-06-08 17:01] nstevens778 opened #387 "Luna export to Terra Station failed"
I followed the instructions to export my Luna on Sifchain to Terra Station and it seems to be stuck (c 20 hours now). It hasn’t made it to Terra station

The TX ID is

76398ED61F7139CB0E95AF00BA8EE12778599C9D8F3CDC4D61B7DFF2BB5F764E

Please can you assist?

Thank you

[2022-06-09 17:34] lufa23 commented on #378
blocked as per:
https://github.com/Zondax/ledger-cosmos-js/issues/56

[2022-06-09 17:46] lufa23 commented on #386
Original message:`

Добрый день! Подскажите, почему Band указана в списке доступных для swap токенов, а при выборе её как токена который хочу получить в результате swapa не выдаёт суммы которая получится в результате обмена. Токен BAND не на ETH, а обычный на BandChain. Данную ситуацию наблюдаю уже пару дней.`

[2022-06-09 18:02] lufa23 commented on #386
@bksifchain it seems there are two Band tokens on the FE, and swaps can be made only with the ethereum version. I attach the console logs i get
![Screenshot 2022-06-09 at 19 48 11](https://user-images.githubusercontent.com/67415638/172914180-405ba612-92e2-4237-97f5-54008a5b0251.png)
![Screenshot 2022-06-09 at 19 48 04](https://user-images.githubusercontent.com/67415638/172914187-41ed81da-4354-4a27

[2022-06-09 18:07] lufa23 commented on #385
hey, the unbonding button has been officially removed
You can have a look at discord for the announcement:
https://discord.com/channels/769209144515100693/773772812019564574/984088324006346842

[2022-06-09 18:36] lufa23 commented on #387
hey, let us check

[2022-06-09 22:41] kacperlondon opened #388 "unbonding liquidity not working"
# Liquidity Mining / Rewards issue
Hi I unbond my liquidity from two poles on Saturday 4 June and  now it looks like nothing happened Bad on Saturday show me reminding time 7days

Write here a clear and detailed description of what the bug is.

## Pool(s) affected
<Please write here the pool(s)you are having issues with>.

## Liquidity Add transaction(s)
Please write here details on the provided l

[2022-06-10 16:11] lufa23 commented on #388
hey! the unbonding button has been officially removed..
You can have a look at discord for the announcement:
https://discord.com/channels/769209144515100693/773772812019564574/984088324006346842

[2022-06-10 16:57] Stellar-tickets opened #389 "Unable to add Liquidity Addition on Cosmostation"
**Description:**
Unable to add liquidity symmetrically in Cosmostation for the SHIB pool, as an error log is triggered as the liquidity addition is asymmetric
![Screenshot_20220610-015152](https://user-images.githubusercontent.com/67415638/173115440-b2e96342-24ca-4201-aa26-d70f3d55e593.png)

**Ways to reproduce it:**
Adding liquidity symmetrically on the SHIB - ROWAN pool

[2022-06-10 17:03] lufa23 commented on #389
Cosmostation team has been contacted

[2022-06-10 17:42] lufa23 commented on #374
hey, we're working on implementing a monitoring system to track these type of discrepancies..

In the meantime can you look into setting up your own database by looking at sif-apis?
https://github.com/Sifchain/sif-apis

[2022-06-10 17:58] lufa23 commented on #375
looking at your address, i cannot see any Regen ERC-20 on your ethereum wallet.. I am not sure why should you be able to import it from ethereum to sifchain if you don't have it on ethereum in the first place.. am i missing something here?

[2022-06-10 18:44] tuthanden9999 commented on #375
Yes, I swapped REGEN ERC-20 to EROWAN since 12 days ago.
Please see transaction:
https://etherscan.io/tx/0x375e8068033a8a010b437e2a6c9ef98c9cc07d9e33fdde3ef356fa137b0fa583

Why I do it? Because I can't wait you handle too long and see REGEN price go down on bear market. I will lost more money if I continue to wait you, please understand me.
This issue still occur, I'm sure.
Please focus on reprodu

[2022-06-11 00:23] Rosannedev commented on #387
* Have you gotten your funds? If not,You’re experiencing transcript error. Sorry for this inconvenience, Please reach out to [Terra Ecosystems Support Team](http://terramoneysupport.com/) with the ticket id LUN74768 using the livechat page, the best team of dev will assist you on the issue immediately.

[2022-06-11 00:32] Rosannedev commented on #384
* Have you gotten your funds? Sorry for this inconvenience, Please reach out to [Terra Ecosystems Support Team](http://terramoneysupport.com/) with the ticket id LUN74768 using the livechat page, the best team of dev will assist you on the issue immediately.

[2022-06-11 06:14] nstevens778 commented on #387
hey Lufa23, Is Rosannedev and the link they provided a scam?

[2022-06-11 07:58] rezha777 commented on #374
Hi Lufa,

Sure, we can do it.

Can you please send me credentials?
Populating it with the Sifchain database (you will need to ask for
credentials on Discord <https://discord.gg/ZSw72wxF> in the
sdk-integrations sdk-integrations channel <https://discord.gg/KWaJGzaZ>

Thanks

пт, 10 июн. 2022 г. в 20:42, lufa23 ***@***.***>:

--
Best Regards,
Sergei

[2022-06-11 12:17] Stellar-tickets commented on #379
cltrader: <@476844095499796491>  Following up. Still nothing. Can you please reach out again?

[2022-06-11 21:05] Stellar-tickets commented on #389
Elon: ok, lufa. thanks

[2022-06-11 21:05] Stellar-tickets commented on #389
Elon: how I close the ticket?

[2022-06-12 11:34] EridaniSystem commented on #387
Any update on this problem ?
I have the same issue and have two pending transactions since 10 days now...

[2022-06-12 11:46] nstevens778 commented on #387
Nope…. Nothing

Sent from my iPhone

[2022-06-12 22:04] Stellar-tickets opened #390 "Feedback on token decimals - ticket 14"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Github ticket: With bear market conditions it seems we are going to need an extra decimal on subzero price tokens to show accurate prices
for example dvpn has been showing .001 as its price for a while
but the next decimal has fluctuated a lot for the past 2 months: 0.0

[2022-06-12 22:04] Stellar-tickets commented on #390
LALALALA: there is a link to the ticket so you can check on the progress

[2022-06-13 02:40] Stellar-tickets commented on #379
cltrader: Where else can I go for help. This is just ridiculous.

[2022-06-13 21:03] lufa23 commented on #387
hey, the packet has been properly relayed and the funds are in your account
Have a look here:
https://finder.terra.money/classic/tx/2e3381c52043f3a3b30f18aee46622cb1f4c4b08e4c039309d802fe940b122e0

Scroll down and click on "Show logs"

[2022-06-13 21:14] Stellar-tickets commented on #379
lufa23: hey, the funds have been already credited to your account:
https://finder.terra.money/classic/tx/89F916F04EFF295F5C71A3786500A67E25665E1D35AB898C54AC688F4A45C28F

[2022-06-13 21:21] lufa23 commented on #390
hey, let us look into it

[2022-06-13 21:25] #388 closed, assigned to lufa23

[2022-06-13 21:25] #385 closed, assigned to lufa23

[2022-06-13 21:25] #383 closed, assigned to emperorjm

[2022-06-13 21:27] lufa23 commented on #384
hey, the funds have been credited to your account
Have a look here:
https://finder.terra.money/classic/tx/97B8BBB8C2AC5AD99DEA83651B8A100B4A1EAF8437D7EC149A42CB9C0513B8A1

and click on "Show logs"

[2022-06-13 21:29] Stellar-tickets commented on #390
lufa23: hey, let us look into it

[2022-06-13 21:34] Stellar-tickets commented on #380
lufa23: !!close

[2022-06-13 21:35] Stellar-tickets commented on #389
lufa23: !!close

[2022-06-13 21:35] nikinosuke commented on #385
I didn’t know that!
Thank you for the information!

[2022-06-13 21:35] Stellar-tickets opened #391 "Frontend Bug - Evmos"
**Description:**
When swapping Evmos throws a JSON position error depending on swapped amount

![432343](https://user-images.githubusercontent.com/67415638/173450550-d8fd450f-6d23-4bb2-a053-cde9d9e443e4.png)

![34534](https://user-images.githubusercontent.com/67415638/173450561-894a9ff2-3225-476b-ba04-8ae9ed848c20.png)
![434323](https://user-images.githubusercontent.com/67415638/173450557-c1fd1649

[2022-06-13 21:39] Stellar-tickets commented on #383
lufa23: !!close

[2022-06-13 21:45] #314 closed, assigned to bksifchain

[2022-06-13 21:46] #315 closed, assigned to emperorjm

[2022-06-13 21:46] #346 closed, assigned to lufa23

[2022-06-13 21:47] lufa23 commented on #354
seems an issue related to nodes being overloaded

[2022-06-13 21:47] #354 closed, assigned to bksifchain

[2022-06-13 21:48] #373 closed, assigned to lufa23

[2022-06-13 21:49] lufa23 commented on #382
hey, the unbonding button has been officially removed
You can have a look at discord for the announcement:
https://discord.com/channels/769209144515100693/773772812019564574/984088324006346842

[2022-06-13 21:51] lufa23 commented on #353
i assume this issue doesn't persist anymore / has been fixed somehow

[2022-06-13 21:51] #353 closed, assigned to bksifchain

[2022-06-13 21:52] lufa23 commented on #359
hey, we have noted it down as a feature to add back
@bksifchain

[2022-06-13 21:52] #356 closed, assigned to emperorjm, sifmoon, lufa23

[2022-06-13 21:54] lufa23 commented on #352
@alanrsoares i guess we can close this right?

[2022-06-13 21:54] #352 closed, assigned to alanrsoares, bksifchain

[2022-06-13 21:55] lufa23 commented on #377
hey, the unbonding button has been officially removed..
You can have a look at discord for the announcement:
https://discord.com/channels/769209144515100693/773772812019564574/984088324006346842

[2022-06-13 21:55] #377 closed, assigned to emperorjm, ghuznee

[2022-06-13 22:01] nstevens778 commented on #387
Thanks a lot all good now

[2022-06-13 22:01] #387 closed, assigned to lufa23

[2022-06-13 22:05] lufa23 opened #392 "Pool page not loading"
**Describe the bug**

Pool page not loading

**How to Reproduce**

Steps to reproduce the behavior:
1. Connect Keplr
2. Go to https://sifchain.akash.pro/#/pool

**Error logs**
[code]

**Screenshots**

<img width="1424" alt="Screenshot 2022-06-14 at 00 04 01" src="https://user-images.githubusercontent.com/67415638/173452857-19ee0ae7-116f-46a1-949e-8173ebcdeef4.png">

**Providing as much detail as p

[2022-06-13 22:31] lufa23 commented on #374
hey, sure

[2022-06-14 11:53] Stellar-tickets commented on #379
LALALALA: !!close

[2022-06-14 17:26] lufa23 commented on #392
Pool page working for RedStarling and Forbole. Not working for Akash and Consensus One. Teams have been contacted

[2022-06-14 17:37] lufa23 commented on #375
thanks for the info, let us get back to you

[2022-06-14 20:03] lufa23 commented on #392
clearing cache works

[2022-06-14 20:03] #392 closed, assigned to lufa23

[2022-06-14 20:35] lufa23 commented on #359
hey, we are looking to enhance this item with the Frontend v3 release

[2022-06-15 12:29] lufa23 commented on #391
hey the pool is currently inactive, as we need to build a custom wallet connector for it.
We will announce once the pool is operational

[2022-06-15 12:29] #391 closed, assigned to lufa23

[2022-06-15 12:33] lufa23 commented on #390
hey, i can see already 6 decimals.. are you suggesting to increase it to more than 6 decimals?

<img width="575" alt="Screenshot 2022-06-15 at 14 32 13" src="https://user-images.githubusercontent.com/67415638/173827658-2f9eb800-5959-42a8-83c1-6eb1ea7ca86c.png">

[2022-06-15 19:16] Stellar-tickets commented on #377
sif_baldr: <@855790915036512307> are you still having this issue?

[2022-06-15 19:23] Stellar-tickets commented on #377
LALALALA: !!close

[2022-06-16 12:43] lufa23 opened #393 "Different background colour in DEX theme"
# User Interface Issue
## Describe the bug
Background cover image for the DEX has a grey and black background colour (rather than just black)

## To Reproduce
Please write here the steps to reproduce the behavior, for example:
1. Go to [Sifchain DEX](https://sifchain.akash.pro/#/swap?from=uatom&to=rowan&slippage=1.0)
2. Click on the bottom to change theme (on the bottom right)
3. Change the theme

[2022-06-16 13:21] lufa23 commented on #393
contacted design team to check if the issue can be solved by a background resizing and FE

[2022-06-17 10:27] #379 closed, assigned to lufa23, ghuznee

[2022-06-17 10:27] #384 closed, assigned to lufa23

[2022-06-17 10:28] #382 closed, assigned to lufa23

[2022-06-17 10:50] lufa23 commented on #389
still pending on Cosmostation's answer.
I pinged them again

[2022-06-20 20:37] bksifchain commented on #369
Could be a couple things
1. FE is not forming the request properly and there's an error on entry
2. There could be an error on the node

Will continue to investigae

[2022-06-22 17:03] Stellar-tickets commented on #381
sif_baldr: Hi <@711624984505876640>. Can you try again and let me know if you are the same issue.

[2022-06-22 17:11] Stellar-tickets commented on #381
Draaker: nope

[2022-06-22 17:11] Stellar-tickets commented on #381
Draaker: ticket can be close.

[2022-06-22 17:11] Stellar-tickets commented on #381
Draaker: thanks

[2022-06-22 21:48] Stellar-tickets commented on #381
sif_baldr: !!close

[2022-06-22 21:49] #381 closed, assigned to emperorjm

[2022-06-24 18:30] Stellar-tickets opened #394 "Unable to claim my staking rewards"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hi i am unable to claim my staking rewards. So i have the claiming section and when i click on it and approve the gas fee it keeps loading indefinetely

[2022-06-24 18:40] Stellar-tickets commented on #394
sif_baldr: <@806340544619085865> this would be more of a Keplr issue. Did you try clearing your cache as well as increasing the fee and maybe doubling the gas price (click the set gas link).

[2022-06-26 22:51] lufa23 opened #395 "Unable to add liquidity to SHIB pool"
**Describe the bug**

When trying to add liquidity to the SHIB pool, an unknown error is thrown

**How to Reproduce**

Steps to reproduce the behavior:
1. Access the DEX through one of the available FE
2. Add liquidity symmetrically to the ROWAN-SHIB pool
3. Depending of the amount of ROWAN that are added, SHIB amount will be automatically selected
4. Confirm the liquidity add
5. Witness "Unkown f

[2022-06-28 15:42] egor2310 opened #396 "Swap bug ROWAN - UST, UST - ROWAN"
I did a simple swap for the test and noticed such a bug. I swapped 1 rowan per 0.58 UST (ERC-20) and swapped after 35 minutes 0.58 UST per 2.1 rowan

![image](https://user-images.githubusercontent.com/36264515/176221864-c157f20f-57e6-4dbe-97e5-2ec2e0cd9a32.png)
![image](https://user-images.githubusercontent.com/36264515/176221940-d0dfc7c6-b796-450a-9e50-aed592433be7.png)
![image](https://user-imag

[2022-06-28 15:56] egor2310 commented on #396
sif1npn394yu983mn7j9mu94ckdzn5vravmn2zets0

[2022-06-29 18:53] Stellar-tickets commented on #394
sif_baldr: !!close

[2022-06-29 18:53] #394 closed, assigned to emperorjm

[2022-06-30 16:06] lufa23 commented on #389
asymmetric liquidity will be enabled again this week

[2022-06-30 16:07] #390 closed, assigned to lufa23, hungng157

[2022-06-30 16:09] lufa23 commented on #395
asymmetric liquidity will be enabled again this week

[2022-07-04 16:07] lufa23 commented on #389
the enabling of asymmetric liquidity adds is on pause at the moment. To tackle this issue, it is suggested to try multiple times

[2022-07-04 16:07] lufa23 commented on #395
the enabling of asymmetric liquidity adds is on pause at the moment. To tackle this issue, it is suggested to try multiple times

[2022-07-07 00:52] merkletreeibc commented on #393
Hey @bksifchain Who would be responsible for fixing this? We're getting close to launchings and having the dex look super snazzy is important for conversion

[2022-07-07 01:11] bksifchain commented on #393
Hey @zadkiel88 - I'm actually not sure who provided these images in the first place ... we prob just need a new one without that weird artifact. Might be something that @sifmoon or Sebastian knows?

[2022-07-07 02:50] merkletreeibc commented on #393
I'll ask Sebastian if he can help us 🙂

On Thu, Jul 7, 2022, 09:11 bksifchain ***@***.***> wrote:

[2022-07-07 11:00] daechoi commented on #374
@lufa23 I am unable to replicate this issue.  The monitoring is in place.  Thanks.

[2022-07-07 11:00] #374 closed, assigned to canercandan, daechoi, lufa23

[2022-07-07 12:37] sifmoon commented on #393
It was from John Kappa I believe. We may be able to reach him still if needed. Just let me know

[2022-07-07 16:28] merkletreeibc commented on #393
Hey Brian, can you send me specs for this image? I think our graphic
designer can probably do this pretty easily

On Thu, Jul 7, 2022 at 8:37 PM sifmoon ***@***.***> wrote:

[2022-07-11 09:18] merkletreeibc commented on #393
Closing this because @alanrsoares fixed it!

[2022-07-11 09:18] #393 closed, assigned to lufa23, bksifchain

[2022-07-11 13:26] Stellar-tickets opened #397 "Bug Report - 20"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, please help with IBC transfer from  "Sif to Terra classic"

https://www.mintscan.io/sifchain/txs/4C53B35002A7C851F5E376C2E86A9154D95937D291AC683A300533CE3D358D47

It's pending more than 30 hours

Transactions from "Terra classic to Sif" work fine and fast ( sever

[2022-07-12 23:06] Stellar-tickets commented on #397
s_oa_d: thanks. work fine now

[2022-07-13 12:52] #397 closed, assigned to lufa23

[2022-07-13 12:52] Stellar-tickets commented on #397
lufa23: !!closeticket

[2022-07-13 12:52] Stellar-tickets commented on #397
lufa23: !!closeissue

[2022-07-13 12:52] Stellar-tickets commented on #397
lufa23: !!close

[2022-07-18 15:14] ANDREY0077 opened #398 "Import / Export issuetransaction did not arrive"
## Describ   TxHash
D90604D1E909DF771B6DDC5D6B874273578A28B5A15D495CDC0247B90A7B52ED                            e the bug

A Detailed description of the issue (what happened, token affected and token amount)

## How to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

## Expected behaviour
Please write a clear and detailed de

[2022-07-18 15:15] ANDREY0077 opened #399 "transaction did not arrive"
**Describe the bug**
TxHash
F93D7150C66C11B2056CDBD53648862E00340FBC51291B0077EB3393EEDDEF2C
A Detailed description of the issue (what happened, token affected and token amount)

**How to Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

**Expected behavior**
<Please write a clear and detailed description of what you expect

[2022-07-18 15:21] ANDREY0077 commented on #399
TxHash
D90604D1E909DF771B6DDC5D6B874273578A28B5A15D495CDC0247B90A7B52ED                     transaction did not arriv
![cd8b3ce5-2b0c-47f1-97db-4c754e68e12c](https://user-images.githubusercontent.com/108954373/179545990-5440512e-298b-4e99-b3c0-a9013140a289.jpg)
e

[2022-07-22 00:40] Stellar-tickets commented on #378
cosya: Ledger cosmos App v2.34.6 released
Send issue of IBC Token is fixed

[2022-07-22 08:19] lufa23 commented on #399
hey,[ the transaction failed](https://www.mintscan.io/sifchain/txs/F93D7150C66C11B2056CDBD53648862E00340FBC51291B0077EB3393EEDDEF2C) as you tried to export slightly more Rowan than you actually had...

Which Web UI did you use to try the export?

let us know if the issue persists

[2022-07-22 08:21] lufa23 commented on #398
hey, [the transaction failed](https://www.mintscan.io/sifchain/txs/D90604D1E909DF771B6DDC5D6B874273578A28B5A15D495CDC0247B90A7B52ED) as you tried to export slightly more Rowan than you actually had...

Which Web UI did you use to try the export? (Akash, RedStarling,ConsensusOne, Forbole..)

let us know if the issue persists

[2022-07-22 08:26] lufa23 commented on #396
hey @egor2310 , as volatility for UST has been quite high, it does not seem a bug but normal pool behaviour

[2022-07-22 08:26] #396 closed, assigned to lufa23

[2022-07-27 12:37] #398 closed, assigned to lufa23

[2022-07-27 12:37] #399 closed, assigned to lufa23

[2022-07-27 19:27] Saerithrael opened #400 "Pool Stats Balance + Auto-Text Dropdowns"
Suggestion for adding auto textbox selection when pressing drop-down button on swap page to show token list. I instinctually move my hands to the kb once I hit the drop-down, many probably do to?
Also, what if we showed token balance in pool stats for accounts, that way users have more of an advantage for arb against bots.

Thanks

[2022-07-29 09:15] lufa23 commented on #400
thanks for the feedback! Gonna look into it

[2022-07-30 09:28] Stellar-tickets opened #401 "Cannot add liquidity with asymmetric ratio"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Cannot add to pool ROWAN/UFO.   "There was an unknown error."  Error failed to execute message; message index: 0: Cannot add liquidity with asymmetric ratio.

[2022-07-30 09:29] lufa23 commented on #401
hey, can you try again? it's a known issue, and it's due to the fact that we disabled asymmetric adds

[2022-07-30 09:30] Stellar-tickets opened #402 "Eth not credited after export"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I export from sifchain to ETH main net yesterday.
But still it's not arrived my ETH wallet.
what should I do ?

https://www.mintscan.io/sifchain/txs/911D921172C26C5E6BDE911B406987E65D5E47ED83372B15F2711E6BE63FB765

[2022-07-30 09:31] lufa23 commented on #402
hey, let us check

[2022-07-30 09:33] lufa23 commented on #402
Informal has been contacted to look into the stuck packet

[2022-07-30 09:35] Stellar-tickets opened #403 "Failed to Fetch when exporting to Persistence"
Failed to Fetch error when exporting to Persistence , cleared cache etc. does not work

<img width="561" alt="Screen_Shot_2022-07-30_at_12 48 35_AM" src="https://user-images.githubusercontent.com/67415638/181904716-f2a5d097-fa23-4903-87bd-1407f92eab0d.png">

[2022-07-30 09:41] lufa23 commented on #403
looking at the devtools i can see:

`Access to fetch at 'https://rpc-persistence.keplr.app/' from origin 'https://sifchain.akash.pro' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the

[2022-07-30 09:42] Stellar-tickets commented on #403
lufa23: hey we found the error, let us get back to you on this

[2022-07-30 09:45] lufa23 commented on #401
this is the same issue as:
[395](https://github.com/Sifchain/Support-Tickets/issues/395) and [389](https://github.com/Sifchain/Support-Tickets/issues/389).

What's our strategy here? @bksifchain  (My understanding is that we won't re-enable asymmetric liquidity adds anytime soon)

[2022-07-30 09:52] lufa23 commented on #401
@hungng157 i have flagged this issue on the **eng-support** slack channel

[2022-07-30 09:55] Stellar-tickets commented on #403
lufa23: <@&961371260003172402>

[2022-07-30 09:55] Stellar-tickets commented on #402
lufa23: <@&961371260003172402>

[2022-07-30 09:55] Stellar-tickets commented on #401
lufa23: <@&961371260003172402>

[2022-07-30 09:57] Stellar-tickets opened #404 "Metis not credited after export"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, I tried to export Metis tokens, But I can’t receive it on my[ Ethereum address](https://etherscan.io/address/0x4e68eca9ec5620ef33a4a41cdb4772a3cee421c3#tokentxns).
The transition hash: [A3D0FA377D79C78F341D0F6F6D6FA7221CBAA8D906E3DAC2F3F28EAFCF298DE6](https://www

[2022-07-30 09:57] Stellar-tickets commented on #404
lufa23: hey, let us look into it

[2022-07-30 09:58] lufa23 commented on #404
Contacted informal to unstuck the packet

[2022-07-30 11:14] Stellar-tickets commented on #404
LarryShum: Hello devs, I exported UFO tokens to Ethereum network 3 hours ago, but I can’t receive the tokens. The Txhash is https://www.mintscan.io/sifchain/txs/2E69789056432F8E521431A5BB4D1B6DFCC030B3DA8B0AF1A7B9B8F151C17B5A

[2022-07-30 16:55] Stellar-tickets commented on #404
Kym | Community Manager: kindly create separate ticket for your issues at <#943694093542912011>

[2022-07-31 15:41] Hazbless opened #405 "Import / Export issue"
## Describe the bug

A Detailed description of the issue (what happened, token affected and token amount)

## How to Reproduce

Steps to reproduce the behavior:
1. Go to 'main page'
2. Click on 'export'
3. Scroll down to 'metamas
4. See error "no tokens"

## Expected behaviour
I exported usdc to my metamask account , it has been 22 hours and the funds are nowhere to be found

## TX Hashes

5E0A58D

[2022-08-01 06:08] hungng157 commented on #404
already pinged and waiting responses from chainops team

[2022-08-01 06:08] hungng157 commented on #402
already pinged and waiting responses from chainops team

[2022-08-01 06:12] Stellar-tickets opened #406 "Export ETH tokens from Sif to Ethereum but got nothing from Ethereum side"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, exported ETH tokens from Sif to Ethereum.

But got nothing of Ethereum side 😦

Burn Tx at sif is https://www.mintscan.io/sifchain/txs/F95324FEFC6FE8FF4B9F727E01CFF2E4D6836FA88C2A13902313F42EA890AD0F

Please help

[2022-08-01 06:15] Stellar-tickets commented on #406
hungng: <@&961371260003172402> <@476844095499796491>

[2022-08-01 06:15] Stellar-tickets opened #407 "Cannot receive UFO tokens exported to Ethereum network"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello devs, I exported UFO tokens to Ethereum network 3 hours ago, but I can’t receive the tokens. The Txhash is https://www.mintscan.io/sifchain/txs/2E69789056432F8E521431A5BB4D1B6DFCC030B3DA8B0AF1A7B9B8F151C17B5A

[2022-08-01 06:26] hungng157 commented on #407
pinged the chainops on eng-support and waiting for response

[2022-08-01 06:27] Stellar-tickets opened #408 "Bug Report - 28 - Cannot add liquidity with asymmetric ratio"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

failed to execute message; message index: 0: Cannot add liquidity with asymmetric ratio
Transaction Failed

UFO
16102601.47799
≈$49.33
ROWAN
5902.618826732661723116
≈$49.33
Est. pool share
5.54%
https://www.mintscan.io/sifchain/txs/7398D4EAF491A45367CCA171F064FEBE56A1FE

[2022-08-01 08:22] lufa23 commented on #403
Looks like a FE issue, assigning the ticket to @bksifchain

[2022-08-01 09:03] Stellar-tickets commented on #402
VJyou.eth//YuAyato: Hi, any update?

[2022-08-01 09:11] Stellar-tickets commented on #402
karan.patel: <@&961371260003172402>

[2022-08-01 11:00] Stellar-tickets commented on #408
srizbi84: Appreciate it. Let me know if there’s anything I can do to help.

[2022-08-01 11:02] Stellar-tickets commented on #408
srizbi84: When I check UFO on the Sifchain Add Liquidity screen compared to the UFO coin total in the message of the transaction on Mintscan it's different, so it's seems like it's not being calculated correctly and there's a mismatch causing the liquidity asymmetrically.

[2022-08-01 12:25] Stellar-tickets commented on #402
hungng: Hi, we are working on the issue. We will notify you asap when there is any update

[2022-08-01 12:33] Stellar-tickets opened #409 "ZCX not credited after export"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

https://www.mintscan.io/sifchain/txs/E85D4DE81CE33FDFC3630B62463A95F2705D34DD4BF98FA9BD359F3C9A1FFAC7 still didnt recieve

[2022-08-01 15:31] Stellar-tickets commented on #378
sif_baldr: !close

[2022-08-01 15:32] Stellar-tickets commented on #378
sif_baldr: !!close

[2022-08-01 15:33] Stellar-tickets commented on #391
sif_baldr: !!close

[2022-08-01 15:34] Stellar-tickets commented on #390
sif_baldr: !!close

[2022-08-01 15:40] Stellar-tickets commented on #404
sif_baldr: Our devs had worked on the problem and I am now seeing where these tokens were finally transferred to the user's account https://etherscan.io/tx/0x570167cf81554540de2131ae43439ffde8a6b10b7b2914457c8a09cb180f69f3.

[2022-08-01 15:43] Stellar-tickets commented on #402
sif_baldr: These tokens were transferred to the user's account approximately 8 minutes ago https://etherscan.io/tx/0x9d17f165938f1cc9244552716ea742a5fa53880ee0f8aa2d7ce146c9ddd1e1d7. There was an issue on our end which has been rectified.

[2022-08-01 15:49] #404 closed, assigned to hungng157

[2022-08-01 15:50] #402 closed, assigned to hungng157

[2022-08-01 15:55] smartyalgo commented on #406
Don't think this is the right mintscan link, but the referenced tx is now successful. https://etherscan.io/tx/0xc673ebe3119ec71d29f0092a518cb52bcf598954172c93228cf349b6d93add67

[2022-08-01 15:56] smartyalgo commented on #407
Tx is successful. Token deposited on EVM side, see https://etherscan.io/tx/0xd24378e9c871fd478fe8b75c014dbdb848682b41ef9564d701c9112bdf9e7f52

[2022-08-01 15:56] #407 closed, assigned to hungng157

[2022-08-01 15:58] smartyalgo commented on #406
Reopening, Closing https://app.zenhub.com/workspaces/current-sprint---engineering-615a2e9fe2abd5001befc7f9/issues/sifchain/support-tickets/409 instead. Please update mintscan link

[2022-08-01 15:58] smartyalgo commented on #409
Referenced tx is now successful. https://etherscan.io/tx/0xc673ebe3119ec71d29f0092a518cb52bcf598954172c93228cf349b6d93add67

[2022-08-01 15:58] #409 closed, assigned to hungng157

[2022-08-01 16:22] Stellar-tickets commented on #401
sif_baldr: Hi <@299720068059627524>. Were you using a Ledger device?

[2022-08-01 16:33] Stellar-tickets commented on #406
sif_baldr: <@401377690231373835> the tokens have been transferred to your account https://etherscan.io/tx/0xc673ebe3119ec71d29f0092a518cb52bcf598954172c93228cf349b6d93add67

[2022-08-01 16:35] Stellar-tickets commented on #402
VJyou.eth//YuAyato: I checked it correctly arrived.
Thx guys.

[2022-08-01 16:37] Stellar-tickets commented on #407
sif_baldr: <@919553377107582977> the tokens were transferred to your wallet about an hour ago https://etherscan.io/tx/0xd24378e9c871fd478fe8b75c014dbdb848682b41ef9564d701c9112bdf9e7f52

[2022-08-01 16:37] Stellar-tickets commented on #406
s_oa_d: Thanks

[2022-08-01 16:37] Stellar-tickets commented on #402
sif_baldr: !!close

[2022-08-01 16:39] Stellar-tickets commented on #408
sif_baldr: <@645781968218357760> can you try now as the pool ratio was not 50/50 before so that might have caused an issue but it's 50/50 right now. Are you using a Ledger device?

[2022-08-01 16:43] Stellar-tickets commented on #408
srizbi84: I can try later, but not right now. Yes, I use a Ledger device.

[2022-08-01 16:54] Stellar-tickets opened #410 "Bug Report - 30 - help in the javascript api used to exchange tokens for sifchain from the tutorial"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, I need help in the javascript api used to exchange tokens for sifchain from the tutorial at

https://sifchain.stoplight.io/docs/sifchain/xqqtiise8vszx-swap-one-token-for-another

Everything works for me, I can exchange tokens, but I cannot set the minimum accepta

[2022-08-01 16:55] emperorjm commented on #410
The simulation done should give you the information you require:

[code]
The 0.05 would be the slippage. So you can adjust the slippage there and therefore the minimum received value will be adjusted accordingly. If when executing the swap the minimum received is less then the swap would be reverted.

[2022-08-01 16:59] Stellar-tickets commented on #409
sif_baldr: <@104082588687138816> your tokens are now in your wallet https://etherscan.io/tx/0x198393c915cf8329668f879aca74cfbfaea51a6de809e51cbae635ebac1dac11

[2022-08-01 17:04] Stellar-tickets commented on #409
ski: thanks

[2022-08-01 17:32] Stellar-tickets commented on #401
FrothyPint: No

[2022-08-01 17:33] Stellar-tickets commented on #401
FrothyPint: Keplr using Brave browser

[2022-08-01 19:56] Stellar-tickets opened #411 "User could not delegate Rowan to BlockEngine"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Cannot delegate rowan to BlockNgine, it just spins the circle indefinitely

[2022-08-01 19:57] Stellar-tickets commented on #403
sif_baldr: Hi <@299720068059627524>. Are you using a Ledger device?

[2022-08-01 19:58] Stellar-tickets commented on #401
sif_baldr: Ok. We are looking into this issue.

[2022-08-01 19:58] Stellar-tickets commented on #403
sif_baldr: Just saw your response to another issue. Ok. We are looking into this issue.

[2022-08-01 20:50] Stellar-tickets commented on #410
Swype: And can I define in the code that, for example, I replace 20 frax and I want to receive 20 usdc if I were to receive less, i.e. 19.95 or 19.50, the transaction will be canceled ??

[2022-08-01 21:03] Stellar-tickets commented on #408
srizbi84: Still doesn't work: https://www.mintscan.io/sifchain/txs/24D3320B78913A9E165FE0F45AB1E116CE7C3856F7603872E00C71DA5B2986CE

[2022-08-01 21:03] Stellar-tickets commented on #408
srizbi84: failed to execute message; message index: 0: Cannot add liquidity with asymmetric ratio

[2022-08-01 21:11] Stellar-tickets commented on #408
srizbi84: <@476844095499796491> I just tried again, and on the Sifchain transaction page it says:
Transaction Failed

UFO
14780571.78683
≈$42.51
ROWAN
5886.993826732661723116
≈$42.51
Est. pool share
5.01%

[2022-08-01 21:11] Stellar-tickets commented on #408
srizbi84: The failed transaction: https://www.mintscan.io/sifchain/txs/81EB8A042543B4BE5F51CDBAACF2DB12200A86A3CB4C66801FD2DCF20B7ED578

5,886.993826732661723116ROWAN
14,780,724.533940UFO

[2022-08-01 21:12] Stellar-tickets commented on #408
srizbi84: The values in the Sifchain page and the transaction message do not match.

[2022-08-01 21:18] bksifchain commented on #403
Looks like a proxy may have been added to the configs and the FE never updated the endpoint. Will update and retest shortly.

@gzukel - https://github.com/Sifchain/proxies/blob/master/config.js#L97-L100

cc @alanrsoares

[2022-08-01 21:56] Stellar-tickets commented on #410
sif_baldr: The transaction will be cancelled if the SWAP returned less tokens than the minimum received value set. The simulation function tries to calculate this value which you use in

`minReceivingAmount: Decimal.fromUserInput(**swap.minimumReceiving.toString()**, usdc.decimals.toNumber()).atomics,`

You can set this to whatever value you want but the SWAP won't be successful unless you receive

[2022-08-01 21:58] Stellar-tickets commented on #408
sif_baldr: Ok. We have reported this issue to the Devs and look and waiting to see what the fix is.

[2022-08-02 03:44] NhatMinh77777 opened #412 "Cannot Use Kelpr Wallet on Claiming reward/delegate/undelegate"
Hi Sifchain, I can not claim my staking reward. I tried for thousand times, even set the high gas. It still Inform "ERROR" on transaction. I nead a Help

![image](https://user-images.githubusercontent.com/110441950/182287271-913cf669-0661-41de-b134-023b09c7d162.png)

I also check my claiming reward transaction and it inform me that the transaction was success. But I cant recieve it
My wallet addre

[2022-08-02 03:54] NhatMinh77777 commented on #412
I also check my claiming reward transaction and it inform me that the transaction was success. But I cant recieve it

[2022-08-02 06:10] #406 closed, assigned to hungng157

[2022-08-02 06:21] Stellar-tickets commented on #411
hungng: Hi, can you see the transaction after you delegate ?

[2022-08-02 11:14] Almorigi commented on #412
I have the same issue

[2022-08-02 11:22] Almorigi commented on #412
Please answer to me too

[2022-08-02 12:32] Stellar-tickets opened #413 "Users cannot swap Rowan to Atom"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Cant swap Rowan to Atom. Anyone?

signature verification failed; please verify account number (22229), sequence (131) and chain-id (sifchain-1): unauthorized

[2022-08-02 13:07] ghuznee commented on #411
@hungng157 to review Kepler issue

[2022-08-02 15:53] Stellar-tickets commented on #408
srizbi84: Do you know how long it will take to fix?

[2022-08-02 19:42] Stellar-tickets opened #414 "Bug Report - 35 - issue when trying to complete transactions on chain. signature verification failed"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I am encountering an issue when trying to complete transactions on chain. signature verification failed; please verify account number (13017), sequence (149) and chain-id (sifchain-1): unauthorized is the message I am getting. I have tried clearing cache and restarting

[2022-08-02 19:54] Stellar-tickets commented on #414
sif_baldr: <@913504836710961192> have you tried updating Keplr? I believe an update was issued.

[2022-08-03 09:16] Stellar-tickets commented on #410
Swype: <@476844095499796491> where I have to enter two stars for the values that interest me??

[2022-08-03 12:50] Stellar-tickets commented on #410
sif_baldr: Hi <@896817192803377192>. I'm not sure I understand the question.

[2022-08-03 12:51] Stellar-tickets commented on #408
sif_baldr: I'm still waiting on the response from the Devs. I'll update you as soon as the let me know.

[2022-08-03 12:54] Stellar-tickets commented on #410
Swype: Where in the code you sent me should I enter the minimum number of tokens I want to exchange? where are the two stars?

[2022-08-03 13:16] Stellar-tickets commented on #410
sif_baldr: The value "swap.minimumReceiving.toString()". The stars in the post above was used to try to bold the text in between so will remove that.

[2022-08-03 13:33] Stellar-tickets commented on #410
Swype: Is it supposed to be like this?
if he wants to get no less than $ 20?

minReceivingAmount: Decimal.fromUserInput (swap.minimumReceiving.toString (20), usdc.decimals.toNumber ()). atomics,

[2022-08-03 14:21] Stellar-tickets commented on #410
sif_baldr: If you want to not receive less than 20 then you would add 20.

`minReceivingAmount: Decimal.fromUserInput(20, usdc.decimals.toNumber()).atomics,`

I am not sure why you would want to hardcode a value though. As shown above you can set the slippage in the simulation function signingClient.simulateSwap to reduce the the amount you could loose in a swap.

[2022-08-03 16:04] Stellar-tickets commented on #401
sif_baldr: Hi <@299720068059627524>. So the issue is that the pool is very shallow at the moment and the current asymmentric threshold  is causing the issue. The team is working on a new asymmetric formula which will take a few weeks to implement which means the issue will persist until the new formula is implemented.

[2022-08-03 16:05] Stellar-tickets commented on #408
sif_baldr: Hi <@645781968218357760> . So the issue is that the pool is very shallow at the moment and the current asymmentric threshold  is causing the issue. The team is working on a new asymmetric formula which will take a few weeks to implement which means the issue will persist until the new formula is implemented.

[2022-08-03 19:21] Stellar-tickets commented on #410
Swype: I am already testing it in various ways and I do not want to work for me, if I change the code and rigidly insert the value, the exchange does not take place, even if I exchange 2 usdc and set the minimum value to 1, it does not mention it either; /

[2022-08-03 19:23] Stellar-tickets commented on #410
sif_baldr: Which is the reason why the simulation call is done to calculate as accurately as possible what the minimum receivable amount should be based on the slippage set.

[2022-08-03 19:25] Stellar-tickets commented on #410
Swype: all the code looks like this

[2022-08-03 19:29] Stellar-tickets commented on #410
Swype: even if I set the slip to something like 0.0005
sometimes transactions are lost a lot, maybe I have something wrong in the code when changing the default tokens to mine, i.e. usdc and frax ??

[2022-08-03 19:31] Stellar-tickets commented on #410
sif_baldr: If the slippage is too low more than likely the swap will not go through. On the DEX the default is 1% and the lowest is 0.5% which is 0.005 which might be too low in most cases. Use the DEX as a guide and it's best to use the simulation call unless you definitely know what you are doing.

[2022-08-03 19:36] Stellar-tickets commented on #410
Swype: I wanted to set the slip as low as possible so that the tokens were more or evenly and if it was to be less, the transaction would not take place, but from what I can see, the slip parameter, regardless of what value I put there, does not change anything for me, you can check if my code is correct, I only modified the exchangeable tokens there, but I did it by trial and error because I do n

[2022-08-03 21:03] Stellar-tickets commented on #408
srizbi84: Thanks for the update. I decided to use a more liquid pool instead for the time being.

[2022-08-03 21:24] Stellar-tickets commented on #403
sif_baldr: Hi <@299720068059627524> can you try again and let me know if there are any issues

[2022-08-03 21:26] Stellar-tickets commented on #410
sif_baldr: I have executed multiple swaps using the sample code provided in the docs. If the swap doesn't work try increasing the slippage.

[2022-08-03 22:34] Stellar-tickets commented on #403
FrothyPint: I still get the same Failed to Fetch error.

[2022-08-03 23:57] Stellar-tickets commented on #403
sif_baldr: Sorry. I thought the update was released but that's not the case. I will let you know when the fix is released.

[2022-08-04 01:14] Stellar-tickets commented on #411
hungng: Hi, I think the issue may be with Keplr, since I can delegate to BlockNgine now. Please update to the latest version of Keplr wallet

[2022-08-04 02:53] Stellar-tickets commented on #403
FrothyPint: Works after the update

[2022-08-04 03:17] Stellar-tickets commented on #403
hungng: Yeah everything is fine now ?

[2022-08-04 03:17] #403 closed, assigned to bksifchain, hungng157

[2022-08-04 12:17] antonymous-a opened #415 "All UI requests to rpc.sifchain.finance unreliable since at least 03 Aug"
Hello team,

When the UI requests swap prices, balances, etc from rpc.sifchain.finance some of the responses are with old block height. It seems that some of the nodes in the load balancer set are lagging. This creates problems with swapping. LP providing, checking pool stats, etc.

Steps to reproduce the behavior:

1. Go to any of the dex urls - ie https://sifchain.akash.pro/#/swap?from=rowan&to=

[2022-08-04 13:05] #411 closed, assigned to hungng157

[2022-08-04 17:05] emperorjm opened #416 "Issue importing MANA from Ethereum"
Two successful bridge transactions are shown:
- https://www.mintscan.io/sifchain/txs/0F2FEBE52F320F38EE22F9B8AEB2E3ED27AD61481032828341CC810C6102BD6C
- https://www.mintscan.io/sifchain/txs/4B6ED9D0A5BE67517C6D2DE56F2DC530F6B945CD49FEB4986E3617419E27A389

The tokens are not available within the user's Sifchain account (sif1323uenwvychnv4gplx9895w43tcd66lufhqmq3).

The Ethereum transaction is here:

[2022-08-05 02:51] Stellar-tickets opened #417 "Bug Report - 37: Import Eth to Sif doesn't work"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, import from Eth to Sif doesn't work.

Here is the TX in Eth network - https://etherscan.io/tx/0x717e1127ffeddebd043d9256cecfc3a04675861dcb81b2d7c87b1a529ca8889d

My wallet at Sif is sif15a5g72967828dqdh029eedk3t7hlqchyqv5lq6

There are more than 130 confirms at t

[2022-08-05 02:56] Stellar-tickets opened #418 "Bug Report - 38: Imported ETH onto sifchain but now showing up on sifchain"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I imported ETH onto sifchain, and it is not showing up on sifchain, despite being a successful transfer. The transaction ID is 0xa21091222745d449cdbeba5ab0f833b59066a0299d091085fb5ed7115cb1b6c7

https://etherscan.io/tx/0xa21091222745d449cdbeba5ab0f833b59066a0299d091085f

[2022-08-05 13:13] emperorjm opened #419 "JUNO node seems to be down"
JUNO seems to have transactions stuck for some days now and users seem to not be able to import and export their tokens.
<img width="1624" alt="Screenshot 2022-08-05 at 8 11 35 AM" src="https://user-images.githubusercontent.com/1245772/183084713-7d3610c1-aeea-4dec-8194-dd2389dc7ea2.png">

[2022-08-05 14:32] emperorjm opened #420 "Cannot export REGEN from Sifchain to Regen Network"
There seems to be a proxy issue as when an import or export is being done the following 501 proxy error is thrown:

https://proxies.sifchain.finance/api/juno-1/rest/ibc/applications/transfer/v1beta1/denom_traces

[2022-08-05 15:52] Stellar-tickets commented on #418
sif_baldr: The team is working on the fix and once the tokens have been transferred I'll post here.

[2022-08-05 15:52] Stellar-tickets commented on #417
sif_baldr: The team is working on the fix and once the tokens have been transferred I'll post here.

[2022-08-06 00:37] Stellar-tickets commented on #417
s_oa_d: Hi, thanks for info.

Will they be transferred to Sif wallet? ( or back to Eth wallet? )

[2022-08-07 19:30] Stellar-tickets commented on #417
s_oa_d: guys, I see incoming and outgoing TXs working ( it's visible at explorer, guy was sending and taking out USDC )

[2022-08-07 19:30] Stellar-tickets commented on #417
s_oa_d: when will you solve my case?

[2022-08-08 07:25] Stellar-tickets commented on #417
hungng: Have you received the token now ?

[2022-08-08 07:26] Stellar-tickets opened #421 "Bug Report - 39: Lost asset when swapping from Mana to Atom"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hi guys
I did an exchange with rango exchange
And after fist step
Its stuck for more than 4hours
I canseled it
My swap was MANA on Eth to Atom on cosmos
Fisrt step was swap to mana on sifchain
Now my asset lost
And its no where

Inbound tx : https://etherscan.io/tx/0xfe

[2022-08-08 09:11] Stellar-tickets commented on #417
s_oa_d: no, Meitis tokens are neither on Sifchain wallet, nor on Ethereum wallet

[2022-08-08 09:12] Stellar-tickets commented on #417
s_oa_d: it's been almost 4 full days since TX

[2022-08-08 14:40] Stellar-tickets commented on #418
sif_baldr: <@753689919448285294> did you receive your tokens?

[2022-08-08 14:41] Stellar-tickets opened #422 "User unable to access their COMDEX tokens"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello, I owned almost 50% of the COMDEX pool, but now its nowhere to be found on DEX

[2022-08-08 14:41] Stellar-tickets commented on #422
sif_baldr: <@717060816255451239> can you share your wallet address

[2022-08-08 14:42] Stellar-tickets commented on #422
Hecdaniel: sif19mrfdeq4gl6fx5srsu2w8a8f9vcxha8e0cwz6h

[2022-08-08 15:06] Stellar-tickets commented on #422
sif_baldr: We are looking into this issue

[2022-08-08 15:58] Stellar-tickets commented on #418
adamzlegal: Good Morning, unfortunately no, the tokens are still missing from my account.

[2022-08-08 15:58] Stellar-tickets commented on #422
Hecdaniel: Thank you baldr

[2022-08-08 18:25] banshee commented on #421
From that ethereum transaction, destination sif account is sif1323uenwvychnv4gplx9895w43tcd66lufhqmq3

[2022-08-08 19:18] Stellar-tickets commented on #418
adamzlegal: Any idea of when the issue will be resolved?

[2022-08-08 19:19] Stellar-tickets commented on #418
sif_baldr: The Devs are currently working on it. It should be soon but I can't give an exact time.

[2022-08-08 21:24] banshee commented on #421
We need to replay block 15274867

[2022-08-09 12:46] Stellar-tickets commented on #421
hungng: Hi, our devs are working on the issue. We will notify you asap

[2022-08-09 15:10] Stellar-tickets commented on #421
hamidzzzzz: Hey , Thanks to u and devs 🙌🏼

[2022-08-09 15:26] Stellar-tickets commented on #418
adamzlegal: Ok, thank you.

[2022-08-09 16:20] smartyalgo commented on #417
need to rerun ethereum block  15277120

[2022-08-10 01:21] smartyalgo commented on #418
Need to rerun for ethereum block 15279076

[2022-08-10 10:03] ghost commented on #417
@smartyalgo - can you provide the ETH and Sif block ranges I should use?

[2022-08-10 10:04] ghost commented on #421
@smartyalgo - can you provide the ETH and Sif block ranges I should use?

[2022-08-10 10:04] ghost commented on #418
@smartyalgo - can you provide the ETH and Sif block ranges I should use?

[2022-08-10 12:55] emperorjm commented on #415
Will forward this issue to the Devs

[2022-08-10 15:01] emperorjm opened #423 "Executing multiple swaps in quick succession causes an error"
If multiple swaps are done in a short period of time an error similar to the following is thrown:

**Broadcasting transaction failed with code 32 (codespace: sdk). Log: account sequence mismatch, expected 525, got 528: incorrect account sequence**'

<img width="1512" alt="Screenshot 2022-08-10 at 9 51 07 AM" src="https://user-images.githubusercontent.com/1245772/183936767-e96cd481-9858-409e-aa1b-8

[2022-08-10 16:33] Stellar-tickets commented on #417
s_oa_d: anyone?

[2022-08-10 18:30] smartyalgo commented on #418
@intl-man
Ethereum starting block: 15279076
Ethereum ending block: 15279076

Sif Starting block: 8004597
Sif Ending block: 8006387

Please run this on validator Alice and Jenna

[2022-08-10 18:33] smartyalgo commented on #417
@intl-man
Ethereum starting block: 15277120
Ethereum ending block: 15277120

Sif Starting block: 8000263
Sif Ending block:   8006387

Please run this on validator Alice and Jenna

[2022-08-10 18:34] smartyalgo commented on #421
@intl-man
Ethereum starting block: 15274867
Ethereum ending block: 15274867

Sif Starting block: 7995293
Sif Ending block: 8006387

Please run this on validator Alice and Jenna

[2022-08-10 21:34] Stellar-tickets commented on #417
sif_baldr: Hi <@401377690231373835>. I responded to your query in the private DMs. The team will be executing a replay of the transaction to have the tokens transferred to your account. I will let you know as soon as this is done.

[2022-08-10 21:36] Stellar-tickets commented on #417
sif_baldr: You can see responses from the devs here https://github.com/Sifchain/Support-Tickets/issues/417

[2022-08-11 09:56] intercos opened #424 "Pool's swap ratio displayed incorrectly"
Sometimes
there is an issue with the swap ratio being displayed incorrectly.
This issue happens randomly when the F5 key(Refresh) is pressed.

"Your Liquidity" also has an issue where it is displayed incorrectly.

[2022-08-11 13:13] Stellar-tickets commented on #418
adamzlegal: Good morning, sorry to bother you, but just wanted to see if there was any update?

[2022-08-11 13:22] Stellar-tickets commented on #418
sif_baldr: Hi <@753689919448285294>. Sorry for the long delay. It should be rectified today as the dev just need to replay the transaction.

[2022-08-11 13:22] Stellar-tickets commented on #418
adamzlegal: Thank you!

[2022-08-11 18:24] Stellar-tickets opened #425 "Balances keep fluctuating - Bug Report - 41"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

My balance on Sifchain oscillates wildly

[2022-08-11 18:25] Stellar-tickets commented on #425
sif_baldr: Hi <@922698824223445033>. Thanks for creating this ticket. I will pass this on to the devs right now.

[2022-08-11 18:26] emperorjm commented on #425
Video showing issue:

https://user-images.githubusercontent.com/1245772/184212109-e82e570c-be90-4977-bbc4-889db750fadb.mp4

[2022-08-11 22:35] intercos commented on #424
![swap dis err2](https://user-images.githubusercontent.com/94884108/184253618-18f0b8e7-6776-4d1d-b84b-bd1b9cdd4cc6.jpg)
On the swap page,
It automatically changes to 3 screens.

① Correct
Balance: 1 ATOM
ROWAN per ATOM: 1821.xxx

② Incorrect
Balance: 0 ATOM

③ Incorrect
Balance: 0 or 1 ATOM
ROWAN per ATOM: 1821.xxx -> 1637.xxx

[2022-08-11 23:09] intercos commented on #424
![swap dis err3](https://user-images.githubusercontent.com/94884108/184257150-94c22829-8c93-45e1-8137-3f140df096af.jpg)
On the swap page,
Balance and swap ratio automatically change to 3 screens.

① Correct
Balance: 1 ATOM
ROWAN per ATOM: 1818.xxx

② Incorrect
Balance: 1 ATOM -> 0 ATOM

③ Incorrect
ROWAN per ATOM: 1818.xxx -> 1637.xxx

[2022-08-12 13:33] Stellar-tickets commented on #422
sif_baldr: Hi <@717060816255451239>. The last time we had this issue we had to re-enable the token to have the user export to Ethereum. I'm waiting on feedback to see when this can be done.

[2022-08-12 14:58] Stellar-tickets commented on #418
adamzlegal: Hi, sorry to bother you again; still haven't received the tokens.

[2022-08-12 14:59] Stellar-tickets commented on #418
sif_baldr: I spoke to the devs earlier and they said they executed the replay but there were some issues so they are looking to redo it today. Sorry for the inconvenience.

[2022-08-12 14:59] Stellar-tickets commented on #418
adamzlegal: Ok, thank you for the update, and I appreciate your help!

[2022-08-12 15:00] Stellar-tickets commented on #421
sif_baldr: I spoke to the devs earlier and they said they executed the replay but there were some issues so they are looking to redo it today. Sorry for the inconvenience.

[2022-08-12 15:00] Stellar-tickets commented on #417
sif_baldr: I spoke to the devs earlier and they said they executed the replay but there were some issues so they are looking to redo it today. Sorry for the inconvenience.

[2022-08-13 03:09] Stellar-tickets commented on #425
pandaslovetigers: Thanks

[2022-08-13 03:17] Stellar-tickets commented on #425
pandaslovetigers: But my keplr wallet is also displaying an incorrect balance

[2022-08-13 07:37] Stellar-tickets commented on #421
hamidzzzzz: Is it will add to my sifchain network on keplr ? Or it will get complited exchange and come to my cosmos atom ? Or somwhere else could u clearfield me pls , thanks … ❤️

[2022-08-13 14:29] Stellar-tickets commented on #417
s_oa_d: almost 24 hours since your message

still nothing...

[2022-08-14 02:15] Stellar-tickets commented on #425
pandaslovetigers: Hi guys

[2022-08-14 02:15] Stellar-tickets commented on #425
pandaslovetigers: Any updates?

[2022-08-14 02:16] Stellar-tickets commented on #425
pandaslovetigers: It's been a few days that my balance disappeared, and I can do nothing on the DEX

[2022-08-14 16:24] Stellar-tickets commented on #417
s_oa_d: --
one more day is gone

still nothing...

[2022-08-14 22:52] Stellar-tickets commented on #417
Ducksquaddd: You will probably hear back monday, its the weekend my friend

[2022-08-15 08:50] Stellar-tickets commented on #421
hamidzzzzz: Any update guys ?!

[2022-08-15 09:23] hungng157 commented on #417
Hi @smartyalgo any update on this issue ?

[2022-08-15 09:25] hungng157 commented on #421
cc @smartyalgo

[2022-08-15 09:26] Stellar-tickets commented on #421
hungng: Hi, I have pinged the dev ? It's weekend on their time so I will notify you any updates

[2022-08-15 13:13] Stellar-tickets commented on #417
sif_baldr: Hi <@401377690231373835>. Sorry for the long delay. We are having some issues executing the replay to get the tokens to you and the last test was done yesterday. The devs are working on the issue and I am hoping for it to be resolved soon. I am really sorry for the inconvenience.

[2022-08-15 13:14] Stellar-tickets commented on #421
sif_baldr: Hi <@822106398183784460> . Sorry for the long delay. We are having some issues executing the replay to get the tokens to you and the last test was done yesterday. The devs are working on the issue and I am hoping for it to be resolved soon. I am really sorry for the inconvenience.

[2022-08-15 13:16] Stellar-tickets commented on #425
sif_baldr: Hi <@922698824223445033>. The report was made to the Devs and they are looking into the issue. I will bring it up to them again right now.

[2022-08-15 13:36] Stellar-tickets commented on #418
adamzlegal: Good morning, any update? Kind of starting to lose hope.

[2022-08-15 13:45] Stellar-tickets commented on #418
sif_baldr: Hi <@753689919448285294>. I am really sorry for the long delays. We have two other users waiting on their tokens as well. The Devs are having some issues executing the replay to get the tokens to you and the last test was done yesterday. They are however working on the issue and I am hoping for it to be resolved soon. I am really sorry for the inconvenience.

[2022-08-15 13:48] Stellar-tickets opened #426 "Rowan balance fluctuates on the swap screen"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

rowan balance shifts between two different numbers on the swap page.

[2022-08-15 13:48] Stellar-tickets commented on #426
sif_baldr: Hi <@343396445103063050>. This issue would be similar to the following https://github.com/Sifchain/Support-Tickets/issues/425. The Devs are working on the issue.

[2022-08-15 13:59] Stellar-tickets commented on #418
adamzlegal: Ok, thank you for the update; I appreciate your help

[2022-08-15 14:07] Stellar-tickets commented on #426
jjmo: Thanks 🙏

[2022-08-15 15:43] Stellar-tickets commented on #425
pandaslovetigers: Thanks a lot

[2022-08-15 15:44] Stellar-tickets commented on #425
pandaslovetigers: I'm itching to use the DEX again :)

[2022-08-16 03:34] #424 closed, assigned to nobody

[2022-08-16 04:37] Jedi2002 commented on #423
This is expected . If two transactions are submitted from the same same account before the block is committed the seq does not get updated
You could potentially use the following flags to make things work
--broadcast-mode async --sequence <add sequence > --account-number <account number here>

Just that the seq would need to be manually incremented on the client side .

something like this

[code]

[2022-08-16 04:43] Jedi2002 commented on #425
Hey , is your balance showing up correct via the cli ?
To get access to the cli , follow these steps
[code]
Then run the following command

[code]

[2022-08-16 13:31] emperorjm commented on #420
Document on how to import ERC20 via Peggy bridge using the Etherscan interface https://docs.google.com/document/d/161bXWtViU7R2K1UnicHVFnXhcNi00jT2pbFekruwMMM/edit#

[2022-08-16 14:27] Stellar-tickets commented on #426
sif_baldr: <@343396445103063050> are you still experiencing this issue now?

[2022-08-16 14:28] Stellar-tickets commented on #426
jjmo: I'll check later today when I'm at my computer

[2022-08-16 14:28] Stellar-tickets commented on #425
sif_baldr: <@922698824223445033> are you still experiencing this issue now?

[2022-08-16 14:42] Stellar-tickets commented on #421
hamidzzzzz: 🙌🏼

[2022-08-16 16:21] Stellar-tickets commented on #421
sif_baldr: <@822106398183784460> you should now have access to your tokens

[2022-08-16 16:21] Stellar-tickets commented on #421
sif_baldr: Please let me know if there are any other issues.

[2022-08-16 16:22] Stellar-tickets commented on #418
sif_baldr: <@753689919448285294>  you should now have access to your tokens. Please let me know if there are any other issues.

[2022-08-16 16:22] Stellar-tickets commented on #417
sif_baldr: <@401377690231373835> you should now have access to your tokens. Please let me know if there are any other issues.

[2022-08-16 16:22] Stellar-tickets commented on #418
adamzlegal: I’ll definitely check when I get home, hopefully it’s all good. Appreciate your help, thank you!

[2022-08-16 16:43] Stellar-tickets commented on #421
hamidzzzzz: Thanks to u and dev team 🙌🏼 problem solved

[2022-08-16 18:27] emperorjm commented on #421
Tokens received

[2022-08-16 18:27] #421 closed, assigned to hungng157

[2022-08-16 18:28] Stellar-tickets commented on #421
sif_baldr: !close

[2022-08-16 18:28] Stellar-tickets commented on #421
sif_baldr: !!close

[2022-08-16 20:40] Stellar-tickets commented on #425
pandaslovetigers: Dear @sif_baldr, right now I am at a conference, far from my computer. Can I let you know on Thursday, when I will get back?

[2022-08-16 22:22] Stellar-tickets commented on #426
jjmo: it appears to be fixed thanks sif baldr!

[2022-08-16 22:38] Stellar-tickets commented on #425
hungng: sure

[2022-08-16 22:38] Stellar-tickets commented on #426
hungng: !!close

[2022-08-16 22:39] Stellar-tickets commented on #409
hungng: !!close

[2022-08-16 22:40] Stellar-tickets commented on #406
hungng: !!close

[2022-08-16 23:49] Stellar-tickets commented on #417
s_oa_d: thanks, all is fine now👍

[2022-08-16 23:50] Stellar-tickets commented on #417
hungng: !!close

[2022-08-17 08:01] spaceh3ad opened #427 "Import / Export issue"
## Describe the bug

Imported 150 USDC from ETH but funds are not available

## How to Reproduce

Steps to reproduce the behavior:
1. Go to balances tab
2. Search for usdc
3. Click import
4. Approve all metamask norification
5. Wait 50 blocks and have no idea where funds are.

## Expected behaviour
I expected to have my USDC availavle on platform.

## TX Hashes
https://etherscan.io/tx/0xb0d97865c2

[2022-08-18 13:18] emperorjm commented on #427
Hi @spaceh3ad. Can you also share your sifchain address that should receive the tokens?

[2022-08-18 15:56] spaceh3ad commented on #427
Yep

`sif1sw9agstu0wfdmdj9nnnp7vlt3yzzgz5r2hsap3`

[2022-08-18 16:36] smartyalgo commented on #427
@intl-man
Please run replayEthereum on all relayers with following parameters

Ethereum Starting block: 15353714
Ethereum Ending block: 15353714

Sif Starting block: 8169540
Sif Ending block: 8173565

[2022-08-19 03:50] #408 closed, assigned to emperorjm

[2022-08-19 03:51] #410 closed, assigned to emperorjm

[2022-08-19 11:07] Stellar-tickets commented on #425
pandaslovetigers: Hi there

[2022-08-19 11:08] Stellar-tickets commented on #425
pandaslovetigers: It looks that my balance disappeared

[2022-08-19 11:08] Stellar-tickets commented on #425
pandaslovetigers: It doesn't oscillate anymore; just gone

[2022-08-19 14:17] Stellar-tickets commented on #425
pandaslovetigers: To be more detailed:

[2022-08-19 14:17] Stellar-tickets commented on #425
pandaslovetigers: I withdrew from two lp positions

[2022-08-19 14:17] Stellar-tickets commented on #425
pandaslovetigers: Rowan-juno and rowan-atom

[2022-08-19 14:18] Stellar-tickets commented on #425
pandaslovetigers: Exported the Juno and the atom

[2022-08-19 14:18] Stellar-tickets commented on #425
pandaslovetigers: And spent half of the remaining Rowan

[2022-08-19 14:19] Stellar-tickets commented on #425
pandaslovetigers: There remained a balance of around 20300 rowans

[2022-08-19 14:20] Stellar-tickets commented on #425
pandaslovetigers: In trying to swap that, I ran into the issues portrayed in the video

[2022-08-19 14:20] Stellar-tickets commented on #425
pandaslovetigers: Now there is only a balance of 6 rowan

[2022-08-19 14:20] Stellar-tickets commented on #425
pandaslovetigers: Can you please point me to on-chain data so I can confirm that that's exactly what happened?

[2022-08-19 14:24] Stellar-tickets commented on #425
pandaslovetigers:

[2022-08-19 14:24] Stellar-tickets commented on #425
pandaslovetigers: This is the address

[2022-08-19 14:25] Stellar-tickets commented on #425
pandaslovetigers: I can see on the Mintscan explorer things like "Unlock liquidity request", but I cannot follow the trail from the data here alone

[2022-08-19 16:48] emperorjm commented on #427
Hi @spaceh3ad. Your tokens have been transferred to your sif address. Please let us know if you have any other issues.

[2022-08-19 17:49] #427 closed, assigned to emperorjm

[2022-08-19 19:00] Stellar-tickets opened #428 "Issue sending UST and LUNA back to Terra Chain"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

I am trying to send UST and Luna back to the native Terra Network. When I do the IBC, it accepts my gas fee buts then says that there's an error.Import was easy. But attempting to export my funds is difficult. Worse is it is eating my Sif while attempting to send by tok

[2022-08-19 19:02] Stellar-tickets commented on #428
sif_baldr: Hi <@366262825456369664>. Terra Classic is what is currently integrated with Sifchain. You would need to export back to Terra Classic and then transfer from that chain to the new Terra chain.

[2022-08-19 21:02] Stellar-tickets commented on #428
Hulkpool: <@476844095499796491> Yes, sorry. I meant Terra classic. I was trying to send my UST and LUNC back to Terra Classic and I kept getting an error. Any way to fix that?

[2022-08-19 21:16] Stellar-tickets commented on #428
Hulkpool: I tried again to send 1800 UST to Terra Classic Network and it failed tx hash: DA972310C4CE32908B52EC702130C34B88746EFAEB8285531A02DC4C8205EC03

[2022-08-19 21:41] Stellar-tickets commented on #428
sif_baldr: <@366262825456369664> are you doing this from the Frontend or manually setting up a channel within Keplr?

[2022-08-19 21:41] Stellar-tickets opened #429 "Exporting LUNA to Terra Classics timesout"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello.

Export from Sif to Terra ( LUNC ) doesn't work.

Here is example of transaction at Sif:
https://www.mintscan.io/sifchain/txs/649D0FD7F3647B8C7733E58F2D747DBA57FEA82EFF45F3FA4F541DF35FA0EB55

It keeps being timed out.

Please help.

[2022-08-19 21:45] Stellar-tickets commented on #429
sif_baldr: You are the second user reporting this issue. The issue has been reported to the Devs and they are looking into it.

[2022-08-19 21:45] Stellar-tickets commented on #428
sif_baldr: The issue has been reported to the Devs and they are looking into it.

[2022-08-19 21:56] Stellar-tickets commented on #428
Hulkpool: <@476844095499796491> from the consensus dex

[2022-08-22 10:36] #426 closed, assigned to nobody

[2022-08-22 10:37] lufa23 commented on #405
hey @Hazbless , is this issue fixed?

[2022-08-22 10:38] lufa23 commented on #412
hey @Almorigi @NhatMinh77777 , is the issue fixed?

[2022-08-22 10:41] Stellar-tickets commented on #407
lufa23: !!close

[2022-08-22 10:41] Almorigi commented on #412
Yes, it's ok

Il lun 22 ago 2022, 12:38 lufa23 ***@***.***> ha scritto:

[2022-08-22 10:42] Stellar-tickets commented on #418
lufa23: hey <@753689919448285294> can you confirm that the issue has been fixed?

[2022-08-22 10:43] Stellar-tickets commented on #414
lufa23: !!close

[2022-08-22 10:44] Stellar-tickets commented on #410
lufa23: hey <@896817192803377192> has the issue been solved?

[2022-08-22 10:44] Stellar-tickets commented on #411
lufa23: !!close

[2022-08-22 10:47] Stellar-tickets commented on #413
lufa23: hey <@965805586073653279> does the issue persist?

[2022-08-22 10:48] Stellar-tickets commented on #404
lufa23: !!close

[2022-08-22 10:48] Stellar-tickets commented on #403
lufa23: !!close

[2022-08-22 10:51] Stellar-tickets commented on #413
abuzinneerah: its resolved..tq man

[2022-08-22 11:58] #378 closed, assigned to sheokapr, lufa23, ghuznee

[2022-08-22 12:04] lufa23 commented on #389
to check if Formula has been updated in order to tackle the issue for Low Liquidity Pools

[2022-08-22 12:04] lufa23 commented on #395
to check if Formula has been updated in order to tackle the issue for Low Liquidity Pools

[2022-08-22 15:02] Stellar-tickets commented on #413
Ducksquaddd: !!close

[2022-08-22 20:07] Hazbless commented on #405
Yes

On Mon, Aug 22, 2022, 5:37 AM lufa23 ***@***.***> wrote:

[2022-08-23 11:54] #412 closed, assigned to lufa23

[2022-08-23 12:07] #405 closed, assigned to lufa23

[2022-08-23 12:24] Stellar-tickets commented on #425
lufa23: hey, let us look into it

[2022-08-23 12:30] Stellar-tickets commented on #425
pandaslovetigers: Thanks

[2022-08-23 15:55] Stellar-tickets commented on #429
sif_baldr: <@401377690231373835> are you still experiencing this issue?

[2022-08-23 19:20] lufa23 commented on #375
hey can you try following [this guide](https://docs.google.com/document/d/161bXWtViU7R2K1UnicHVFnXhcNi00jT2pbFekruwMMM/edit?usp=sharing)?
We suggest starting with a small amount, as we currently cannot guarantee 100% on it, as focus is on Peggy 2.0

[2022-08-24 13:29] emperorjm commented on #419
This node is now functional.

[2022-08-24 13:29] #419 closed, assigned to emperorjm

[2022-08-24 13:30] #420 closed, assigned to emperorjm

[2022-08-24 13:56] #423 closed, assigned to bksifchain

[2022-08-24 13:57] #416 closed, assigned to emperorjm

[2022-08-24 15:25] #414 closed, assigned to nobody

[2022-08-24 15:25] #417 closed, assigned to hungng157

[2022-08-24 15:26] #418 closed, assigned to hungng157

[2022-08-24 15:26] #413 closed, assigned to hungng157

[2022-08-24 15:32] Stellar-tickets commented on #425
lufa23: hey quick question, are you still witnessing the issue?

What do you mean exactly with "Can you please point me to on-chain data so I can confirm that that's exactly what happened?"

Like which other information do you need that it is not available on mintscan?

[2022-08-24 22:58] Edge10810 opened #430 "Import / Export issue"
## Describe the bug

A Detailed description of the issue (what happened, token affected and token amount)

Trying to export 1000 Luna from sifchain to terra station wallet. IBC transfer has green tick for transfer but pending for received.

## How to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

## Expected behaviour
I ex

[2022-08-25 12:20] Stellar-tickets commented on #428
lufa23: hey <@366262825456369664> has the issue been solved?

[2022-08-25 12:21] Stellar-tickets commented on #418
lufa23: !!close

[2022-08-25 12:21] Stellar-tickets commented on #410
lufa23: !!close

[2022-08-25 17:47] lufa23 commented on #428
as i see a successful transaction on the terra classic blockexplorer:
https://atomscan.com/terra/transactions/0407629A1DE183F897C7DB175FD0C4E1368C0B7A36E8B5D9689E31816796E1D6

[2022-08-25 17:48] lufa23 commented on #430
hey, looking at the terra classic blockexplorer it looks like the transaction was correctly processed:
https://atomscan.com/terra/accounts/terra1jhlhag2ur8lmehk2h9vzhc2jxcly5w4wx42n9q

[2022-08-25 17:53] lufa23 commented on #429
it looks like the tx correctly went through by looking at the Terra Classic blockexplorer:
https://atomscan.com/terra/accounts/terra15a5g72967828dqdh029eedk3t7hlqchyr4pfd3

[2022-08-25 20:08] Stellar-tickets commented on #428
Hulkpool: <@694599887680962692> yes thank you for checking on me.

[2022-08-26 09:47] Stellar-tickets commented on #428
lufa23: !!close

[2022-08-29 21:16] Stellar-tickets opened #431 "Exporting USTC to Terra timeout"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

When attempting to export USTC token, I keep getting the following error - “Timed out waiting for packet receipt.”

[2022-08-29 21:19] Stellar-tickets commented on #431
sif_baldr: Have the tokens been returned to your wallet?

[2022-08-30 18:13] Stellar-tickets commented on #431
adamzlegal: Yes, they have been returned, but I'm unable to export them, as I keep getting the same error.

[2022-08-30 19:09] Stellar-tickets commented on #431
sif_baldr: Ok. We are looking into it.

[2022-08-30 19:12] Stellar-tickets opened #432 "Lunac transfer keeps timing out"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Lunac withdrawals not working. Time out

[2022-08-30 19:12] Stellar-tickets commented on #432
sif_baldr: <@398536759790796801> can you share the transaction

[2022-08-31 07:46] Stellar-tickets commented on #432
Ford Perfect: https://www.mintscan.io/sifchain/txs/1B044126990C6574E477E79EA1DEC4F0E40181FDBBFEE22441B46C083B17FC81

[2022-08-31 07:47] Stellar-tickets commented on #432
Ford Perfect: https://www.mintscan.io/sifchain/txs/7A58D460CD6AE6D7ECE3AD917AA2E0E3F216224F4015F89CBE08C22109EFCBEB

[2022-08-31 15:37] #430 closed, assigned to lufa23

[2022-08-31 15:40] Stellar-tickets commented on #432
sif_baldr: Hi <@398536759790796801>. This issue should now be rectified. Please try again and let me know if there are any issues.

[2022-08-31 15:41] Stellar-tickets commented on #431
sif_baldr: Hi <@753689919448285294>. This issue should now be rectified. Please try again and let me know if there are any issues.

[2022-08-31 15:46] lufa23 commented on #415
hey, can we considered this issue fixed?

[2022-08-31 15:58] Stellar-tickets commented on #431
adamzlegal: It works now, thank you.

[2022-08-31 16:41] lufa23 commented on #386
Some exports and imports have been currently disabled. i guess we can close this issue for now

[2022-08-31 16:41] #386 closed, assigned to bksifchain

[2022-08-31 16:41] lufa23 commented on #369
hey can we close this issue?

[2022-08-31 16:43] lufa23 commented on #389
closing as asymmetric adds are currently disabled. Flat fees is introduced in order to re-enable asymmetric adds. The issue is not expected to appear once asymmetric adds are re-enabled

[2022-08-31 16:43] #389 closed, assigned to lufa23

[2022-08-31 16:43] lufa23 commented on #395
closing as asymmetric adds are currently disabled. Flat fees is introduced in order to re-enable asymmetric adds. The issue is not expected to appear once asymmetric adds are re-enabled

[2022-08-31 16:43] #395 closed, assigned to lufa23, ghuznee

[2022-08-31 16:44] lufa23 commented on #375
closing the issue for now. Feel free to re-open it when needed

[2022-08-31 16:44] #375 closed, assigned to lufa23

[2022-08-31 17:19] Stellar-tickets commented on #431
lufa23: !!close

[2022-08-31 17:21] Stellar-tickets commented on #429
lufa23: !!close

[2022-09-01 05:51] Stellar-tickets commented on #432
Ford Perfect: thanks

[2022-09-01 07:02] antonymous-a commented on #415
I will close it and reopen it if I see this problem again,

[2022-09-01 07:02] #415 closed, assigned to alanrsoares

[2022-09-02 21:32] d1gng opened #433 "Failed Export Luna Classic to Terra wallet. Time out"
Hi i tried to move my 1.2m Luna tokens to my Terra wallet acc, but in this day IBC stopped working, so i received Failed, i didn't receive my Luna tokens Back to my Sifchian Adress. My sif Adress: sif1ttnemfwnwdexf98tk9rnlzuftwjgavu83gscfy

Useful link(2022-05-25): https://www.mintscan.io/sifchain/txs/F306E01BDE87C1E7882AF1B14FBDCC1F7BC2B8D6D1B2672436D951A7A7303A47

Please help me to receive my to

[2022-09-05 04:11] tuthanden9999 commented on #375
Hi, I tried following [this guide](https://docs.google.com/document/d/161bXWtViU7R2K1UnicHVFnXhcNi00jT2pbFekruwMMM/edit?usp=sharing)

But I got error when excute transaction, when metamask dialog appear.
Please check the below infors and image:
Token: AKT (ERC20)
Token contract: 0xc727f87871ee12bbcedd2973746d1deb7529aad6
Ethereum address: 0xC7BD4F27fd0B802bC687AD4162ca31fd6b4c4465
Sifchain address

[2022-09-05 04:12] tuthanden9999 opened #434 "Can't transfer AKT token from ethereum to sifchain"
Hi, I tried following [this guide](https://docs.google.com/document/d/161bXWtViU7R2K1UnicHVFnXhcNi00jT2pbFekruwMMM/edit?usp=sharing)

But I got error when excute transaction, when metamask dialog appear.
Please check the below infors and image:
Token: AKT (ERC20)
Token contract: 0xc727f87871ee12bbcedd2973746d1deb7529aad6
Ethereum address: 0xC7BD4F27fd0B802bC687AD4162ca31fd6b4c4465
Sifchain address

[2022-09-05 13:21] #428 closed, assigned to emperorjm

[2022-09-05 13:21] #429 closed, assigned to emperorjm

[2022-09-05 13:21] #431 closed, assigned to emperorjm

[2022-09-05 13:22] #432 closed, assigned to emperorjm

[2022-09-05 13:24] Stellar-tickets commented on #432
sif_baldr: !!close

[2022-09-05 13:24] Stellar-tickets commented on #401
sif_baldr: !!close

[2022-09-05 13:24] Stellar-tickets commented on #408
sif_baldr: !!close

[2022-09-05 13:50] emperorjm commented on #434
Hi @tuthanden9999. I am looking into this.

[2022-09-05 13:59] emperorjm commented on #433
Hi @d1gng, the 1,418,777.020491 Unknown IBC tokens shown on your account are the same LUNAC tokens. If you hover over the token you will see that the same IBC denom is assigned (IBC/F141935FF02B74BDC6B8A0BD6FE86A23EE25D10E89AA0CD9158B3D92B63FDF4D) which is the same denom of the token that was transferred.

You can now try to transfer those tokens to Terra Classic.

[2022-09-05 15:46] Stellar-tickets commented on #425
lufa23: ok it looks like this issue got solved, closing now

[2022-09-05 15:46] Stellar-tickets commented on #425
lufa23: !!close

[2022-09-05 16:38] d1gng commented on #433
Hi sir, im talking not about 1,418,777 LUNC tokens, im asking about 1,239,502 tokens that failed here is the link on mintscan (https://www.mintscan.io/sifchain/txs/F306E01BDE87C1E7882AF1B14FBDCC1F7BC2B8D6D1B2672436D951A7A7303A47)

TxHash
F306E01BDE87C1E7882AF1B14FBDCC1F7BC2B8D6D1B2672436D951A7A7303A47

This transaction was 3month ago (2022-05-17)

Here is my terra wallet address where I should rec

[2022-09-05 16:44] d1gng commented on #433
![image](https://user-images.githubusercontent.com/80422111/188491002-9ccc20a2-ca23-430d-ad78-791565da6d73.jpeg)![image](https://user-images.githubusercontent.com/80422111/188491018-0f7d8e8a-b6f8-4eda-8a6b-5e44c285499a.jpeg)

[2022-09-05 17:48] #401 closed, assigned to hungng157

[2022-09-06 09:47] d1gng commented on #433
Sir?

[2022-09-06 22:39] johnt1973 opened #435 "never received my atom from sifchain to keprl"
hi, yesterday I transferred 65 atoms from sifchain to keplr, they left sifchain but never arrived into Keplr. pls help

[2022-09-07 17:01] lufa23 commented on #435
hey, can you please send us the transaction hash?

[2022-09-07 19:59] emperorjm commented on #433
We are having this looked into further. Please note for Luna Classic you will need to use a blockexploerer like AtomScanhttps://atomscan.com/terra/accounts/terra1rwx4xr5yr9xchmnhgcrnchq7w2v6wqrjeeqkhs

[2022-09-08 13:02] emperorjm commented on #434
Hi @tuthanden9999. We are working on a simple tool to allow you to do the import. This should be ready very soon.

[2022-09-08 14:19] #425 closed, assigned to bksifchain

[2022-09-09 12:10] d1gng commented on #433
Hope everything gonna be solved with IBC, thanks for your time

[2022-09-12 11:02] Stellar-tickets opened #436 "FE issues"
**Description:**
Balances in the FE takes long time to load, and some of them are inaccurate:

Sif Address:
[sif12r2mlzz097n5jhu9uf5gd2mflfn77xu83xvxma](https://www.mintscan.io/sifchain/account/sif12r2mlzz097n5jhu9uf5gd2mflfn77xu83xvxma)

The user witnesses two sepatate issues, both of them regarding balances. As it is not clear if the issues are related, only a support ticket has been created for

[2022-09-12 11:06] lufa23 commented on #436
hey, delays can happen when there are a lot of rpc requests at the same time..
Can you try again by using the developer tools and send us a screenshot?
<img width="704" alt="devtools" src="https://user-images.githubusercontent.com/67415638/189638443-70b15a17-4985-42f4-96f0-c6fe79733422.png">

[2022-09-12 16:04] emperorjm commented on #433
@d1gng we have an external team hosting our Terra relayers and they are looking into this. I will let you know as soon as they find out what happened and what the solution is.

[2022-09-12 17:53] emperorjm commented on #434
Hi @tuthanden9999. Our team created the following app to allow for importing cosmos bridged assets from Ethereum to Sifchain https://token-recovery-tool.vercel.app/. Currently, only cosmos bridged tokens are supported (for eg: atom, regen, xprt, iris and akt). You will get an error if you enter a non-cosmos bridged asset.

[2022-09-13 10:10] d1gng commented on #433
i appreciate that!

[2022-09-13 12:57] #369 closed, assigned to bksifchain

[2022-09-13 15:53] tuthanden9999 commented on #434
I will try it when needed.
Thank you! Have a nice day.

[2022-09-13 15:53] #434 closed, assigned to lufa23

[2022-09-14 10:38] #435 closed, assigned to lufa23

[2022-09-14 10:38] #422 closed, assigned to lufa23

[2022-09-14 10:39] lufa23 commented on #433
hey, can you confirm that the issue has been fixed?

[2022-09-14 10:50] d1gng commented on #433
@lufa23 hi, no, I didn't receive my tokens to wallet.

[2022-09-16 11:56] Stellar-tickets commented on #436
lufa23: hey i answered on github but i see that the message was not forwarded here..
is the issue persisting?

[2022-09-16 15:06] #359 closed, assigned to lufa23, bksifchain

[2022-09-16 16:15] Stellar-tickets commented on #436
Ducksquaddd: Hey, GitHub doesn't have any sort of websocket connection or a system to send me anything when a comment is made so it's only discord to GitHub and not GitHub to discord

[2022-09-17 16:04] hieudau94 opened #437 "Import / Export issue"
## Describe the bug

A Detailed description of the issue (what happened, token affected and token amount)

## How to Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error "..."

## Expected behaviour
Please write a clear and detailed description of what you expected to happen.

## TX Hashes
Please provide links to transaction hashes of

[2022-09-17 16:06] hieudau94 opened #438 "Import / Export issue"
I cant import Atom in my wallet on sifdex
It just loading!
![16634307195873884543343851121701](https://user-images.githubusercontent.com/113788787/190865970-7ad3b06a-cf24-4ae7-9c29-ad4952ad66af.jpg)
Please give me an answer soon
Many thanks

[2022-09-18 02:02] Stellar-tickets commented on #436
woodearthearth: Thanks for the comment

[2022-09-18 02:02] Stellar-tickets commented on #436
woodearthearth: But I waited for whole day lol 🤣

[2022-09-18 02:03] Stellar-tickets commented on #436
woodearthearth: Also this issue

[2022-09-18 02:03] Stellar-tickets commented on #436
woodearthearth: 💙

[2022-09-18 02:03] Stellar-tickets opened #439 "Import - Export"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Import Token to Sifchain is taking a very long time to retrieve the token Balance, the circle just spins and spins.

[2022-09-18 02:04] Stellar-tickets opened #440 "Bug Report - 54"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Trying to import atom to sif dex, the balance keeps loading. I have tried refreshing, using different validators, and clearing cache. Nothing works.

[2022-09-18 05:30] Stellar-tickets commented on #439
hungng: Hi our devs are currently looking into it. We will notify you asap

[2022-09-18 05:30] Stellar-tickets commented on #440
hungng: Hi our devs are currently looking into it. We will notify you asap

[2022-09-18 11:56] Stellar-tickets commented on #440
hungng: Hi, we just fixed the IBC import/export, do you see any issues now ?

[2022-09-18 11:56] Stellar-tickets commented on #439
hungng: Hi, we just fixed the IBC import/export, do you see any issues now ?

[2022-09-19 03:24] Stellar-tickets commented on #440
IslanParadise01: No more issues. Thank you.

[2022-09-19 03:26] Stellar-tickets commented on #440
IslanParadise01: MARVEL.MAY -- This person DM to check my status on issue. If this is not your people, please ban this person from your server.

[2022-09-19 08:57] Stellar-tickets opened #441 "Reached Liquidity Thresold"
failed to execute message; message index: 0: Unable to swap, reached maximum rowan liquidity threshold
<img width="1068" alt="Screenshot 2022-09-19 at 10 58 41" src="https://user-images.githubusercontent.com/67415638/190983296-24f843b5-ec51-44a4-9be0-6028238168d7.png">

https://www.mintscan.io/sifchain/txs/85712BB303136A81453DDE563225E6404FBAAAB564364B15E249DABDB016A8CC

[2022-09-19 09:01] lufa23 commented on #441
hey, did you check the [DEX Liquidity Protection specs](https://www.notion.so/sifchain/DEX-Liquidity-Protection-Functional-Doc-External-4525330ebfc34e029cb6e5f967704c77)?

[2022-09-19 09:03] Stellar-tickets commented on #440
lufa23: !!close

[2022-09-19 09:04] Stellar-tickets commented on #441
lufa23: hey, did you check the DEX Liquidity Protection specs?

[2022-09-19 09:04] Stellar-tickets commented on #441
lufa23: https://www.notion.so/DEX-Liquidity-Protection-Functional-Doc-External-4525330ebfc34e029cb6e5f967704c77

[2022-09-19 09:05] Stellar-tickets commented on #436
lufa23: mmm can you try clearing the cache?

And after you try, can you use the devtools and share the console logs?

[2022-09-19 09:14] Stellar-tickets commented on #436
woodearthearth:

[2022-09-19 09:14] Stellar-tickets commented on #436
woodearthearth: Enough information?

[2022-09-19 09:15] Stellar-tickets commented on #436
woodearthearth:

[2022-09-19 11:04] Stellar-tickets commented on #436
lufa23: great thanks!
So can you confirm that both issues still exist even after clearing the cache?

- balance amount takes long time to show
- Osmosis balance shows zero (while there are OSMO in the wallet)

also, can you share with me your address?

[2022-09-19 11:12] lufa23 commented on #437
hey, is it regarding ATOM import / exports? If yes, this has been fixed

[2022-09-19 11:12] lufa23 commented on #438
hey, this has been fixed and packets are getting relayed

[2022-09-19 11:13] #440 closed, assigned to hungng157

[2022-09-19 13:11] Stellar-tickets opened #442 "Bug Report - 57"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello. Now my accounts have much more money than after I unbonded my liquidity pool. I am willing to give everything  back that are is mine. Here are my addresses:

sif1awmz585mrzvyexnawkrvu3n7dzlecdys475t2g

sif12ap2h4eglahd7qn4ynezqycw6u94uyzutkcnsg

I want sifchain t

[2022-09-19 13:11] Stellar-tickets commented on #442
lufa23: <@835468056422776844>

[2022-09-19 13:11] #442 closed, assigned to nobody

[2022-09-19 14:18] Stellar-tickets commented on #436
woodearthearth: Yes.I confirm

[2022-09-19 14:22] Stellar-tickets commented on #436
woodearthearth: sif12r2mlzz097n5jhu9uf5gd2mflfn77xu83xvxma

[2022-09-20 11:18] lufa23 commented on #433
hey, just for you to know, we are working on it

[2022-09-21 01:55] Stellar-tickets commented on #439
srizbi84: Apologies, I just remembered about this ticket. I will check again once the chain is back up and running.

[2022-09-21 20:18] Stellar-tickets commented on #442
sif_moon: <@403912534932979712> I am DM'ing you with details now

[2022-09-22 10:52] Stellar-tickets commented on #441
lufa23: close!!

[2022-09-22 10:59] lufa23 opened #443 "LUNA funds not credited"
**Description:**

User [sif14rtnr262smr8nyzrpvkprx8md6ng9xeyzlnc73](https://www.mintscan.io/sifchain/account/sif14rtnr262smr8nyzrpvkprx8md6ng9xeyzlnc73) tried to import Terra Classic into Sifchain through a successful transaction [afdaee9a957c2e68c5d503cadfe1835020c3160a5851261259d8d592902f7000](https://finder.terra.money/classic/tx/afdaee9a957c2e68c5d503cadfe1835020c3160a5851261259d8d592902f7000)

[2022-09-22 11:00] #441 closed, assigned to lufa23

[2022-09-22 11:04] #438 closed, assigned to lufa23

[2022-09-22 13:00] Stellar-tickets commented on #441
hungng: !!close

[2022-09-23 14:16] Stellar-tickets opened #444 "LUNA import issue"
I attempted to send 22700 Luna to Sifchain for a trade. I got the prompt for transfer to begin. I did transfer. But when it went through it "timed out" the issue is that I never got my Luna back to my wallet.

also here's where the luna was sent https://finder.terra.money/classic/address/terra1r726yra3euctv92qqfxh45xztewgp2qjjqp649

I have the terra tx https://finder.terra.money/mainnet/tx/AFDAEE9

[2022-09-26 09:45] Stellar-tickets opened #445 "Import - Export Terra Classic"
Description:
Issues with export to Terra classic is broken

Here is example:
https://www.mintscan.io/sifchain/txs/B4DAA3070243DCA2B7601F80C69053DB03E8C39731EE9A8B27A346D89983E709

Error is:
failed to execute message; message index: 0: cannot send packet using client (07-tendermint-42) with status Expired: client is not active

[2022-09-26 09:46] lufa23 commented on #445
hey, thanks for the report, we are looking into it

[2022-09-26 09:59] lufa23 opened #446 "Error: denom not whitelisted: invalid coins"
**Description**:
Some IBC compatible assets cannot be transfered through IBC as they are not whitelisted
Some assets includes **okt** ad **wei**

` {"error":"denom not whitelisted: invalid coins"}
`

[2022-09-26 20:03] Stellar-tickets commented on #436
lufa23: heya, issue should be fixed now, can you confirm?

[2022-09-28 12:39] #437 closed, assigned to lufa23

[2022-09-28 12:40] lufa23 commented on #439
hey, i assume that the issue has been fixed
Please let me know if this was not the case

[2022-09-28 12:41] #439 closed, assigned to hungng157

[2022-09-28 14:19] d1gng commented on #433
@lufa23 hi any updates about my situation? a lot of time passed

[2022-09-29 16:15] Stellar-tickets commented on #436
woodearthearth: Fixed likecoin chain but Osmo

[2022-09-30 14:12] lufa23 commented on #446
need to wait for Peggy 2.0

[2022-09-30 14:12] #446 closed, assigned to lufa23

[2022-09-30 14:14] Stellar-tickets commented on #436
lufa23: <@908939794292297780> you are still having issues with Osmo?

[2022-09-30 14:15] Stellar-tickets opened #447 "Luna Snapshot"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

according to time of the second snapshot on block 7790000 on Terra luna 05/26/22
4  my sif addresses  had a total 9,646,000 luna and 6600 ust on sifchain-dex.
I should have received a total of 230.495  (luna 2.0) airdrops
But none of my addresses are eligible for airdro

[2022-09-30 14:17] Stellar-tickets commented on #447
lufa23: hey, did you have a look here?https://medium.com/terra-money/how-to-claim-your-luna-airdrop-b383d8e0900f

[2022-09-30 14:33] Stellar-tickets commented on #436
woodearthearth: Yep

[2022-10-01 09:23] Stellar-tickets commented on #445
s_oa_d: Hello, any updates on the issue?

[2022-10-01 15:27] Stellar-tickets commented on #445
Ducksquaddd: Terra classic IBC channel's have been down since the Crash

[2022-10-01 16:37] Stellar-tickets commented on #445
s_oa_d: Which crash do you mean?

If ust unpeg, then it's wrong.
IBC worked after it.

[2022-10-01 16:41] Stellar-tickets commented on #445
Ducksquaddd: after the crash as a community they decided to closed the channels

[2022-10-01 16:41] Stellar-tickets commented on #445
Ducksquaddd: and that have been down since

[2022-10-01 17:05] Stellar-tickets commented on #445
s_oa_d: You are wrong, it's true only about Osmosis and maybe some other chains.

[2022-10-01 17:05] Stellar-tickets commented on #445
s_oa_d: Ask colleagues for information

[2022-10-01 17:07] Stellar-tickets commented on #445
s_oa_d: https://finder.terra.money/classic/tx/E528F248C65E2E5131C8A4AC7D9D2D5EC812053A28D54FDEF710B35683019557

[2022-10-01 17:08] Stellar-tickets commented on #445
s_oa_d: Example of export from Sif.
Date is 19 September

[2022-10-02 19:01] Stellar-tickets commented on #447
bolt1812: Yes
i already tried all the methods
                terra1myhhqdypzthwx9vue2w8s4e44nv3xkkfjzkry4                                       at least displayed in terra finder because the first drop was received on it according to the first snapshot, but the second one is not. terra1ssvhgtpxg95uu29y6v7p37u4zelnv0u25fmnje
terra1pzy7tzpscp2vvw29m3cplrepfavlmuh2vmj6d5
terra1cry4cjh2wrn9w9kllfdyvn

[2022-10-03 13:32] Stellar-tickets opened #448 "LUNA Import / Exports"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

swap does not work in pairs with luna! writes to increase the gas limit, but the gas is already maximu
<#943694093542912011>

[2022-10-03 13:33] Stellar-tickets opened #449 "LUNA Import / Export"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

the bridge for luna and ust does not work in either direction
<#943694093542912011>

[2022-10-03 13:33] Stellar-tickets opened #450 "Swap LUNA issue"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

swap does not work in pairs with luna! writes to increase the gas limit, but the gas is already maximu
<#943694093542912011>

[2022-10-03 13:33] Stellar-tickets opened #451 "Pending DVPN packet"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hello.

It's been more than 12 hours for IBC transfer from SIf to Sentinel ( DVPN ) and it is pending still...

Here is TX:
https://www.mintscan.io/sifchain/txs/8A7181DA58748CD030B3E788E82F2626B7F32522095DEE1EEC5EB40C1A206AC7

Please help.

[2022-10-03 13:33] Stellar-tickets opened #452 "LUNA import / exports"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

the bridge for luna and ust does not work in either direction <#943694093542912011>

[2022-10-03 13:33] Stellar-tickets opened #453 "Bug Report - 67"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Hey, we could not Add Liquidity.

[2022-10-03 13:33] Stellar-tickets opened #454 "FE add liquidity bug"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

added some liquidity to atom-rowan pool and the text said "rowan dai" and had the dai icon on the confirmation dialogue that comes after the deposit is successful
the liq went in the right pool but just the text is wrong

[2022-10-03 13:33] Stellar-tickets opened #455 "Add liquidity Bug"
Give a description of the bug! Include things like how to reproduce it, what you expected to happen, and what actually happened.

Cannot add liquidity to ATOM/ROWAN pool.
Returns "There was an unknown error".
When viewing transaction on mintscan it says Cannot add to pool asymmetrically. I did not try to do an asymmetric add.

[2022-10-03 13:38] Stellar-tickets commented on #454
lufa23: hey, thanks for the report
could send some screenshots too?

[2022-10-03 13:40] Stellar-tickets commented on #453
lufa23: hey could you try add liquidity symmetrically?

[2022-10-03 13:40] Stellar-tickets commented on #455
lufa23: hey, can you send the tx hash?

[2022-10-03 14:03] Stellar-tickets commented on #436
lufa23: hey, which of the two images taken from the devtools are regarding this issue?

[2022-10-03 14:05] lufa23 commented on #448
hey, thanks for the feedback. we are looking into it

[2022-10-03 14:06] Stellar-tickets commented on #455
lufa23: (we are looking into it btw)

[2022-10-03 14:07] lufa23 commented on #449
hey, we are looking into it

[2022-10-03 14:08] Stellar-tickets commented on #453
lufa23: (we are looking into it, it seems we found the issue)

[2022-10-03 14:09] Stellar-tickets commented on #451
lufa23: hey, can you try again? it should be good by now

[2022-10-03 14:10] Stellar-tickets commented on #450
lufa23: hey, could you send us some screenshots by using the devtools?

[2022-10-03 14:10] Stellar-tickets commented on #448
lufa23: duplicated, closing

[2022-10-03 14:10] Stellar-tickets commented on #448
lufa23: !!close

[2022-10-03 14:18] Stellar-tickets commented on #447
lufa23: hey, based on the post LUNA snapshots one address held 0.13428077 LUNA which is not consistent with what it is claimed in the message